/*
Name : Auri - A Modern Mobile Template
Author : Ngetemplates
Author URL : https://themeforest.net/user/ngetemplates
/* --------------------------------
Table of Contents
- General
- Button
- Navbar
- Side Nav
- Navbar Bottom
- Menu 
- Slider
- About
- Features
- Portfolio
- Gallery
- Profile
- Settings
- Testimonial
- Error 404
- Blog
- Blog single
- Product
- Shop single
- Wishlist
- Shopping Cart
- Checkout
- Footer   
-------------------------------- */

/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700,800');

/* ------------------------------
  General
---------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
    font-family: 'Open Sans', sans-serif;
	background: #232323;
	color: #999;
	opacity: 0;
}
 
body.all-loaded {
    opacity: 1;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #171717;
}

p {
	margin: 5px 0;
}

.section {
	padding: 35px 0;
}

.pages {
	margin-bottom: 52px;
}

.pages-head {
	text-align: center;
	padding: 0 10px 20px 10px;
	text-transform: uppercase;
}

.pages-head h3 {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.bg-second {
	background: #272727;
}

.section-head {
	margin: 0 auto 8px auto;
	text-align: center;
}

.section-head h4 {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

.section-head .underline {
	height: 2px;
	background: #4b89da;
	width: 30px;
	margin: 0 auto;
}

.section-head .divider-top {
	width: 60px;
	height: 2px;
	background: #222;
	margin: 0 auto;
}

.section-head .divider-bottom {
	width: 45px;
	height: 2px;
	background: #444;
	margin: 2px auto 0;
}


input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
	background-color: transparent;
	border: none;
	border: 1px solid #333;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0 12px;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #333;
	border-radius: 0;
	outline: none;
	height: auto;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 12px;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #333;
	border-radius: 0;
	outline: none;
	height: auto;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 12px;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}


input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #555;
  box-shadow: none;
}	

::-webkit-input-placeholder { 
  color: #999;
}
::-moz-placeholder { 
  color: #999;
}

:-ms-input-placeholder { 
  color: #999;
}
:-moz-placeholder {
  color: #999;
}

/* ------------------------------
  Button
---------------------------------*/
.button-default {
	background: #4b89da;
	box-shadow: none;
	margin: 10px 0 0;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 29px;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	border: 0;
}

.button-fullwidth {
	width: 100%;
	text-align: center;
}

.button-default a {
	color: #ffffff;
}

.button-default:hover {
	opacity: 0.9;
	box-shadow: none;
}
	

/* ------------------------------
  Navbar
---------------------------------*/
.navbar-top {
	background: #202020;
	width: 100%;
	height: 65px;
	padding: 12px 18px;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	z-index: 99;
}

.site-brand {
	display: inline-block;
	float: left;
}

.site-brand a h1 {
	font-size: 24px;
	line-height: 40px;
	color: #fff;
	font-weight: 600;
}

.site-brand a h1 span {
	color: #4b89da;
}

/* ------------------------------
  Sidenav
---------------------------------*/
.side-nav {
	width: 250px;
}

.side-nav a {
	font-size: 14px;
	height: 45px;
}

.side-nav li.active {
	background: #fbfbfb;
}

.side-nav-panel-left {
	float: left;
	font-size: 25px;
	color: #fff;
}

.side-nav-panel-left i {
	color: #eee;
}

.side-nav-panel-right {
	float: right;
	font-size: 25px;
	color: #eee;
}

.side-nav-panel-right i {
	font-size: 22px;
	color: #fff;
	border-radius: 50%;
}

.side-nav-right {
	font-size: 28px;
	color: #313131;
}

.side-nav-panel {
	text-align: left;
	background: #202020; 
}

.side-nav-panel .profil {
	background: linear-gradient( rgba(6, 6, 6, 0.74), rgba(6, 6, 6, 0.74)), url(../img/image-profil.jpg) center no-repeat;
	background-size: cover;
	padding: 50px 0 25px 18px;
	border-top: 0;
}

.side-nav-panel .profil img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.side-nav-panel .profil h2 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 5px;
	cursor: default;
}

.side-nav-panel li a {
	color: #fff;
	font-weight: 500;
}

.side-nav-panel li {
	font-weight: 700;
}

.side-nav-panel li:last-child {
	border-bottom: 0px solid #f5f5f5;
}

.side-nav-panel .li-top {
	padding-top: 10px;
}

.side-nav-panel li a:hover {
	background: transparent;
}

.side-nav-panel li a i {
	margin: 0 8px 0 0;
	font-size: 18px;
	color: #fff;
	line-height: 45px;
	padding: 0;
	background: transparent;
}

.side-nav-panel-right .collapsible {
	border: 0;
}

.side-nav .collapsible-body ul li a {
	font-weight: normal;
	color: #333;
	margin-left: 18px;
}

.side-nav .collapsible-header {
	padding: 0;
	color: #444;
	font-weight: 600;
	font-size: 14px;
}

.side-nav .collapsible-header.active {
	border-bottom: 1px solid #f3f3f3;
}

.side-nav .collapsible-header:hover {
	background: transparent;
}

.side-nav .collapsible-header.active {
	background: #fbfbfb;
}

.collapsible-header i {
	width: auto;
	font-size: 18px;
	color: #333;
	margin-left: 17px;
}

.collapsible-header span i {
	float: right;
	color: #666;
	font-size: 16px;
}


/* ------------------------------
  Navbar Bottom
---------------------------------*/
.navbar-bottom {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	height: 52px;
	background: #191919;
	line-height: 65px;
}

.navbar-bottom a i {
	font-size: 30px;
	color: #4b89da;
	color: #fff;
}

.bar-center a i {
	border: 2px solid #eee;
	border-radius: 50%;
	padding: 10px;
	font-size: 15px;
	margin-left: 22px;
}

.bar-center span {
	position: relative;
	left: -32px;
	top: -20px;
	background: #fff;
	padding: 0px 6px;
	border-radius: 50%;
	color: #222;
	font-weight: bold;
	cursor: default;
}


/* ------------------------------
  menus
---------------------------------*/
.menus {
  	background-color: #202020 !important;
}

.menus .close-icon {
	text-align: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid #333;
	font-size: 20px;
	line-height: 30px;
	padding-left: 1px;
	margin: 18px auto 15px;
	cursor: pointer;
}

.menus .close-icon i {
	color: #fff;
}

.menus .menu-link {
	text-align: center;
	border: 1px solid #333;
	padding: 10px 8px;
}

.menus .menu-link .icon {
	font-size: 28px;
}

.menus .menu-link .icon i {
	color: #4b89da;
}

.menus .menu-link a {
	font-size: 14px;
}

.menus .button-link {
	cursor: pointer;
	color: #fff;
}

.menus .button-link:hover {
	opacity: 0.9;
}

/* ------------------------------
  Slider
---------------------------------*/
.slider {
	height: 280px !important;
}

.slider .slides {
	height: 280px !important;
}

.slider-content {
	margin: 10px auto;
	top: 25% !important;
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	position: relative;
	flex-shrink: 0;
	padding: 0 20px;
	text-align: center;
}

.slider .slides li img {
	width: 100%;
}

.slider .slides li::before {
	background: #000;
	opacity: 0.6;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-content h2 {
	font-weight: 500;
	margin-bottom: 8px;
	color: #fff;
	font-size: 22px;
}

.slider-content h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #eee;
}

.slider-content .button-default {
	margin: 20px 0;
	color: #fff;
}

.slider .indicators {
	position: relative;
	bottom: 32px;
	z-index: 95;
}

.slider .indicators .indicator-item {
	z-index: 1000;
	height: 8px;
	width: 8px;
	background: #bbb;
	margin: 0 8px;
}

.slider .indicators .indicator-item.active {
	background: #4b89da;
}

/* ------------------------------
	about home
---------------------------------*/
.about-home {
	text-align: center;
}

.about-home p {
	margin-bottom: 0;
}

.about-home .content {
	padding: 35px 0;
}

.about-home .content-2 {
	background: #f7f7f7;
}

.about-home .content i {
	width: 85px;
	height: 85px;
	background: #4b89da;
	border-radius: 50%;
	font-size: 32px;
	color: #fff;
	line-height: 83px;
	margin-bottom: 13px;

}

.about-home .content-2 i {
	background: #4b89da;
	color: #fff;
}

.about-home .content .post h5 {
	font-size: 17px;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 500;
}

.about-home .button-default {
	margin-top: 20px;
}

/* ------------------------------
  About us
---------------------------------*/
.about-us {
	margin: 0;
}

.about-us img {
	width: 100%;
	margin-bottom: 8px;
}

/* ------------------------------
	features
---------------------------------*/
.features .content {
	text-align: center;
	padding: 15px 12px;
	border-radius: 1px;
	border: 1px solid #333333;
}

.features .content i {
	font-size: 30px;
	color: #4b89da;
	margin: 4px auto 10px;
}

.features .row:last-child {
	margin-bottom: 0;
}

.features .content h5 {
	font-size: 17px;
	margin-top: 3px;
	margin-bottom: 10px;	
	color: #fff;									
}


/* ------------------------------
	portfolio
---------------------------------*/
.portfolio img {
	width: 100%;
}

.portfolio ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	text-align: center;	
	margin-bottom: 4px;
}

.portfolio ul li {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	padding: 3px 8px 4px 8px;
	border: 1px solid #333;
	margin: 20px 5px 10px;
	border-radius: 1px;
}

.portfolio ul li p {
	color: #ddd;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.portfolio ul .active {
	background: #4b89da;
	border-color: #4b89da;
}

.portfolio ul .active p {
	color: #fff;
}

.portfolio .active h5 {
	color: #222;
}

.portfolio img {
	width: 100%;
	float: left;
}

.portfolio-content img {
	width: 100% !important;;
	height: 100% !important;
}

.portfolio .row {
	padding: 0;
	margin: 0;
}

.portfolio .row .col {
    padding: 5px;
    margin: 0;
}

/* ------------------------------
	gallery
---------------------------------*/
.gallery img {
	width: 100%;
	height: auto;
}

.gallery .col {
	padding: 0 5px;
}

.gallery .row {
	margin-bottom: 5px;
}

/* ------------------------------
	profile
---------------------------------*/
.account .profile {
	background: url(../img/profile-banner.jpg) center center no-repeat;
	padding: 95px 0 0 0;
	background-size: cover;
}	

.account .profile img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin-left: 18px;
	margin-bottom: 12px;
}

.account h5 {
	font-size: 18px;
	margin: 15px 0 10px 0;
}

/* ------------------------------
	settings
---------------------------------*/
.settings .banner-uplod img {
	width: 100%;
}

.settings .profile-uplod img {
	width: 80px;
	height: auto;
}

.settings .input-field {
	margin-top: 0;
}

.settings input[type=file] {
	margin-bottom: 21px;
}

/* ------------------------------
  Testimonial
---------------------------------*/
.testimonial {
	text-align: center;
}

.testimonial img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.testimonial .item i {
	font-size: 30px;
	color: #fff;
	position: relative;
    bottom: 6px;
}

.testimonial .owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
}

.testimonial h6 {
	font-size: 14px;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
}

.testimonial .content {
	padding: 15px 0;
	text-align: center;
}

.testimonial .owl-theme .owl-controls .owl-page.active span {
	background: #4b89da;
}

.testimonial .owl-pagination {
	position: relative;
	top: 10px;
}

/* ------------------------------
  Error 404
---------------------------------*/
.error404 {
	text-align: center;
}

.error404 h4 {
	padding-top: 0;
	display: inline-block;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-size: 120px;
	color: #4b89da;
}

.error404 h5 {
	color: #fff;
	margin-bottom: 20px;
}

/* ------------------------------
  Contact, Login, Register
---------------------------------*/
.contact-us .row:last-child,
.register .row:last-child {
	margin-bottom: 0;
}

.contact-us .button-default {
	margin-top: 10px;
	margin-bottom: 0;
}

.login .button-default {
	margin-top: 25px;
}

.login h6 {
	color: #fff;
}

.register .button-default {
	margin-top: 0;
}

.login .with h5,
.register .with h5 {
	font-size: 16px;
	text-align: center;
	color: #fff;
	margin-bottom: 16px;
}

.login .with .row:last-child,
.register .with .row:last-child {
	margin-bottom: 0;
}

.login .with button, 
.register .with button {
	border: 0;
	padding: 8px;
	color: #fff;
	border-radius: 5px;
	width: 100%;
}

.login .with button i,
.register .with button i {
	margin-right: 12px;
}

.login .with .button-facebook,
.register .with .button-facebook {
	background: #3b5999;
}

.login .with .button-twitter,
.register .with .button-twitter {
	background: #55acee;
}

.login .with .button-google,
.register .with .button-google {
	background: #dd4b39;
}

/*loader custom color*/
#fakeLoader {
	background: #202020; 
    background: -webkit-linear-gradient(to top, #202020, #202020);
    background: linear-gradient(to top, #202020, #202020); 
}

.spinner6 > div {
	background-color: #fff !important;
}

/* ------------------------------
  Blog
---------------------------------*/
.blog-content img {
	width: 100%;
	padding-bottom: 20px;
	float: left;
}

.blog-content .date {
	color: #aaa;
}

.blog-content .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.blog-content h5 {
	font-size: 16px;
	margin-bottom: 3px;
}

.blog-content h5 a {
	color: #fff;
}

.blog-content .button-default {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.blog-detailt {
	border-top: 0;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
}

.pagination-blog ul {
	margin: 6px auto 0;
	padding: 0;
	text-align: center;
}

.pagination-blog ul .active {
	background: #4b89da;
	color: #fff;
}

.pagination-blog ul .active a {
	color: #fff;
}

.pagination-blog ul li {
	display: inline-block;
	border: 1px solid #333;
	margin: 0 3px;
	padding: 4px 10px;
	border-radius: 1px;
	font-size: 15px;
}

.pagination-blog ul li a {
	color: #fff;
}

/* ------------------------------
  Blog single
---------------------------------*/
.blog-single img {
	width: 100%;
	margin-bottom: 10px;
}

.blog-single .date {
	color: #aaa;
}

.blog-single .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.blog-single h5 {
	font-size: 16px !important;
	margin-bottom: 3px;
	color: #fff;
}

.share-post {
	border: 1px solid #333;
	padding: 20px 0;
	margin: 15px 0 25px;
}

.share-post ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.share-post ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid #333;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
	margin: 0 3px;
}

.share-post ul li a i {
	color: #fff;
}

.comment img {
	border-radius: 50%;
}

.comment h5 {
	margin-bottom: 15px;
}

.comment-form .comment-head {
	margin-bottom: 20px;
}

.comment-form .input-field {
	margin-top: 0;
}

.comment-form .row:last-child {
	margin-bottom: 0;
}

.comment-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}

.comment-title span strong {
	color: #fff;
}

.comment-title span a {
	color: #fff;
}

/* ------------------------------
	product
---------------------------------*/
.product .content {
	padding: 10px;
	border: 1px solid #2f2f2f;
	text-align: center;
}
.product .content img {
	width: 100%;
}

.product .content h6 {
	margin: 10px 0 5px 0;
	font-size: 17px;
	cursor: default;
}

.product .content h6 a {
	color: #fff;
}

.product .content .price {
	font-size: 15px;
	letter-spacing: 1px;
	color: #4b89da;
	cursor: default;
}

.product .content .price span {
	text-decoration: line-through;
	color: #777;
}

.product .content .button-default {
	margin-top: 10px;
	background: transparent;
	font-weight: 900;
}

.product .margin-bottom {
	margin-bottom: 5px;
}

.product-list .select-dropdown {
	border: 1px solid #999 !important;
	border-bottom: 1px solid #999 !important;
	padding: 10px !important;
	background: #eee !important;
}

.product-list .select-wrapper span.caret {
	right: 10px;
	z-index: 1;
}

.product-list .dropdown-content li > a, .dropdown-content li > span {
	color: #444;
}

.product-list .dropdown-content li:hover, .product-list .dropdown-content li.active, .product-list .dropdown-content li.selected {
	background: transparent;
}

.product-list .dropdown-content {
	box-shadow: none;
	background: #fff !important;
}

.product-list .pages-head {
	padding-bottom: 10px !important;
}

.pagination-product ul {
	margin: 6px auto 0;
	padding: 0;
	text-align: center;
}

.pagination-product ul .active {
	background: #4b89da;
	color: #fff;
}

.pagination-product ul .active a {
	color: #fff;
}

.pagination-product ul li {
	display: inline-block;
	border: 1px solid #333;
	margin: 0 3px;
	padding: 4px 10px;
	border-radius: 1px;
	font-size: 15px;
}

.pagination-product ul li a {
	color: #fff;
}

/* ------------------------------
  Shop single
---------------------------------*/
.shop-single {
	margin: 0;
}

.shop-single img {
	width: 100%;
	margin-bottom: 10px;
}

.shop-single h5 {
	color: #fff;
}

.shop-single .price {
	font-size: 20px;
	letter-spacing: 1px;
	color: #4b89da;
	cursor: default;
}

.shop-single .price span {
	text-decoration: line-through;
	color: #777;
}

.shop-single h6 {
	margin-bottom: 5px;
}

.shop-single span {
	color: #191919;
	font-size: 20px;
}

.shop-single .button-default {
	margin: 10px 0;
	padding: 2px 17px;
	height: 32px;
}

.shop .pages-head h3 {
	margin-bottom: 10px;
}

.review {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #333;
}

.review-title strong {
	color: #eee;
}

.review-title span a {
	color: #ddd;
}

.review img {
	border-radius: 50%;
}

.review h5 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #fff;
}

.review-form .row:last-child {
	margin-bottom: 0;
}

.review-form .review-head {
	margin-bottom: 20px;
}

.review-form h5 {
	font-size: 16px !important;
	color: #fff;
}

.review-form .input-field {
	margin-top: 0;
}

.review-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}

/* ------------------------------
  Wishlist
---------------------------------*/
.wishlist .content {
	border: 1px solid #333;
	padding: 30px 15px 0px;
}

.wishlist .content img {
	width: 100%;
}

.wishlist .content h5 {
	font-size: 15px;
	color: #fff;
	font-weight: 400;
}

.wishlist .content input {
	width: 34px;
}

.wishlist .content h5 i {
	cursor: pointer;
}

.wishlist .content h5 a {
	color: #fff;
}

.wishlist .content .quantity {
	margin-bottom: 0;
}

.wishlist .content .divider {
	height: 1px;
	background: #333;
	margin-bottom: 30px;
}

.wishlist .total {
	margin-top: 30px;
}

.wishlist .total h5 {
	font-size: 15px;
	color: #565656;
	font-weight: 400;
}

.wishlist .total .row {
	margin-bottom: 10px;
}

.wishlist .total .col.s5 {
	text-align: right;
}

.wishlist .button-default {
	margin-top: 10px;
}

/* ------------------------------
  Cart
---------------------------------*/
.cart .content {
	border: 1px solid #333;
	padding: 20px 15px 5px;
}

.cart .content img {
	width: 100%;
}

.cart .content h5 {
	font-size: 15px;
	color: #fff;
	font-weight: 400;
}

.cart .content h5 a {
	color: #fff;
}

.cart .content input {
	width: 34px;
}

.cart .content h5 i {
	cursor: pointer;
}

.cart .content .divider {
	height: 1px;
	background: #333;
	margin-bottom: 25px;
}

.cart .total {
	margin-top: 30px;
}

.cart .total h5 {
	font-size: 15px;
	color: #fff;
	font-weight: 400;
}

.cart .total .row {
	margin-bottom: 10px;
}

.cart .total .col.s5 {
	text-align: right;
}

.cart .button-default {
	margin-top: 10px;
}

/* ------------------------------
  Checkout
---------------------------------*/
.checkout .row:last-child {
	margin-bottom: 0;
}
.checkout .collapsible-header {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #333;
	background: #202020;
}

.checkout .collapsible {
	box-shadow: none;
	border-color: #333;
}

.checkout-content h5 {
	font-weight: 500;
	color: #fff;
	font-size: 14px !important;
}

.checkout-content h6 {
	font-size: 13px !important;	
}

.checkout-content .collapsible-body {
	padding: 18px;
	border-bottom: 1px solid #333;
}

.checkout-content .collapsible-body p {
	padding: 0;
}

.checkout-content h6 {
	font-weight: 500;
	color: #fff;
	font-size: 16px;
}

.checkout-content .checkout-radio {
	margin: 20px 0 10px 0;
}

.checkout-radio span {
	color: #fff;
	font-weight: 500;
}

.checkout-login {
	margin-top: 20px;
	border-top: 1px dotted #333;
	padding-top: 30px;
}

.checkout-login h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #fff;
	font-size: 14px;
}

.checkout-login h6 span {
	font-weight: 600;
	color: #fff;
	font-size: 18px;
}

.checkout-login p {
	margin: 5px 0 30px;
}

.checkout-login .button-default {
	margin-bottom: 0;
}

.billing-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #fff;
	font-size: 14px;
}

.shipping-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #fff;
	font-size: 14px;
}

.cart-details h5 {
	font-size: 14px;
}

.payment-mode ul {
	margin-left: 35px;
}

.payment-mode ul li {
	display: inline-block;
}

.payment-mode .button-default {
	margin-top: 30px;
}

.order-review .cart-product img {
	width: 100%;
}

.order-review .divider {
	height: 15px;
	background: transparent;
	width: 100%;
}

.order-review .cart-product a {
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #fff;
}

.order-review .cart-product span {
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #fff;
}

.order-review input {
	width: 34px;
}

.order-review .row {
	margin-bottom: 0;
}

.final-price {
	margin-top: 20px;
}

.final-price h5 {
	font-weight: 600;
}

.final-price span {
	font-weight: 500;
}


/* ------------------------------
  Footer
---------------------------------*/
.footer {
	background: #202020;
	padding: 30px 0;
	margin-bottom: 50px;
}

.about-us-foot {
	text-align: center;
}

.about-us-foot span {
	color: #191919;
}

.about-us-foot h6 {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	color: #fff;
}

.about-us-foot h6 span {
	color: #4b89da;
}

.social-media {
	text-align: center;
	margin: 10px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

.social-media a {
	margin: 0 3px;
}

.social-media a i {
	text-align: center;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
	color: #fff;
	font-size: 20px;
}

.copyright {
	text-align: center;
	padding: 20px 0 0 0;
}

.copyright span {
	text-align: center;
}	