
.accordion {
  background-color: #fff;
  box-shadow: $shadow-base;
}

.ui-accordion-header {
  font-weight: $font-weight-medium;
  color: $color-text-03;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 15px 15px 15px 35px;
  position: relative;
  outline: none;
  cursor: pointer;
  @include transition($transition-base);

  ~ .ui-accordion-header { margin-top: -1px; }

  @include hover-focus() {
    color: $color-text-01;
  }

  .ui-accordion-header-icon {
    position: absolute;
    left: 15px;
    top: calc(50% - 8px);
    display: inline-block;
    margin-right: 10px;

    &::before {
      content: '\f3d1';
      font-family: 'Ionicons';
      font-size: 14px;
      display: inline-block;
    }
  }

  &.ui-state-active {
    background-color: #fff;
    border-bottom-width: 0;
    color: $color-text-01;

    .ui-accordion-header-icon::before { content: '\f3d0'; }
  }
}

.ui-accordion-content {
  padding: 0 20px 20px 35px;
  border: 1px solid $border-color;
  border-top-width: 0;
  position: relative;
}


// Custom style
.accordion-style1 {
  .ui-accordion-header.ui-state-active {
    border-color: $color-brand-01;
    background-color: lighten($color-brand-01, 37%);
  }

  .ui-accordion-content.ui-accordion-content-active {
    z-index: 5;
    border-color: $color-brand-01;
    background-color: lighten($color-brand-01, 37%);
  }
}
