.home-btn:hover, .form-inline .btn:hover{
	background-color: #66CC33;
	color: white;
}

.features-left div:hover h4, 
.features-right div:hover h4, 
.clients-list div:hover h4,
.faq-list div:hover h4{
	color: #66CC33;
}

.dark-stroke, .clients-stroke{
	border-bottom: 2px solid #66CC33;
}

.btn-lg:hover{
	background-color: #66CC33;
}