


/*===========================
    4.ABOUT US css 
===========================*/




.about-us-area{}


.about-content{
	margin-right: -30px;
	@media #{$lg} {
		margin-right: 0;
	}
	@media #{$md} {
		margin-right: 0;
	}
	@media #{$xs} {
		margin-right: 0;
	}
	& span{
		display: block;
		font-size: 25px;
		font-family: $medium;
		text-transform: uppercase;
		color: $black;
		padding-top: 11px;
		padding-bottom: 37px;
		font-weight: 500;
		
	}
	& .title{
		font-size: 54px;
		line-height: 62px;
		padding-bottom: 4px;
		font-weight: 700;
		@media #{$xs} {
			font-size: 32px;
			line-height: 42px;
		}
	}
	& ul{
		margin: 25px 0 0 15px;
		padding: 0;
		color: $black;
		& li{
			font-size: 17px;
			line-height: 35px;
		}
	}
	& a{
		margin-top: 33px;
	}
}



.about-thumb{
	margin-left: 70px;
	@media #{$lg} {
		margin-left: 0;
	}
	@media #{$md} {
		margin-left: 0;
		margin-top: 30px;
	}
	@media #{$xs} {
		margin-left: 0;
		margin-top: 30px;
	}
	& > img{
		width: 100%;
	}
	& ul{
		margin: -60px 0 0 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
        @media #{$xs} {
            display: none;
        }
        @media #{$sm} {
            display: block;
        }
		& > li{
			text-align: center;
			height: 142px;
			width: 165px;
			box-shadow: 0px 5px 50px 0 rgba(51, 65, 92, 0.05);
			border-radius: 5px;
			padding-top: 25px;
			margin: 0 10px;
			background: $white;
			@media #{$lg} {
				width: 150px;
			}
			@media #{$xs} {
				width: 150px;
				margin-bottom: 30px;
			}
			& span{
				display: block;
				font-size: 13px;
				padding-top: 13px;
				margin-bottom: -8px;
			}
			& i{
				color: #FFAB4A;
				font-size: 10px;
			}
		}
	}
}








.about-2-area{
	padding-top: 70px;
	padding-bottom: 100px;
	&.about-14-area{
		& .about-2-content{
			& a{
				background: $black;
				border-radius: 40px;
				&:hover{
					background: $white;
					box-shadow: 0 0 30px 0 rgba(0,0,0,.06);
					color: $black;
				}
			}
		}
		& .about-2-thumb{
			& .thumb-2{
				& .box{
					background: $black;
				}
			}
		}
	}
    &.about-15-area{
        padding-top: 0;
        margin-top: -30px;
        & .about-2-content {
            & span{
                background: #F0323C;
                color: $white;
            }
            & .item{
                &.active,
                &:hover{
                    &::before{
                        background: #F0323C;
                    }
                }
            }
            & a{
                background: #F0323C;
                color: $white;
                border: 2px solid #F0323C;
                &:hover{
                    background-color: transparent;
                    color: #BF141D;
                }
            }
        }
        & .about-2-thumb {
            & .thumb-2 {
                & .box{
                    background: #F0323C;
                }
            }
        }
    }
}


.about-2-content{
	font-family: $light;
	margin-right: -20px;
	@media #{$xs} {
		margin-right: 0;
	}
	@media #{$md} {
		margin-right: 0;
	}
	& span{
		background: linear-gradient(rgba(255,86,79,.15) 0%, rgba(250,208,41,.15) 100%);
		display: inline-block;
		line-height: 40px;
		height: 40px;
		padding: 0 22px;
		border-radius: 30px;
		color: #FF564F;
		font-family: $medium;
	}
	& > .title{
		font-size: 54px;
		line-height: 62px;
		padding-right: 0px;
		padding-top: 38px;
		padding-bottom: 22px;
        text-transform: capitalize;
		@media #{$xs} {
			padding-right: 0;
			font-size: 32px;
			line-height: 46px;
		}
		@media #{$sm} {
			padding-right: 0;
			font-size: 32px;
			line-height: 42px;
		}
	}
	& .item{
		padding-left: 20px;
		position: relative;
		@media #{$lg} {
			padding-left: 10px;
		}
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 3px;
			height: 100px;
			border-radius: 10px;
			background: #E0E0E0;
			@include transition(0.3s);
		}
		& .title{
			font-family: $semibold;
			font-size: 25px;
		}
		&.active,
		&:hover{
			&::before{
				background: linear-gradient(#ff564f 0%, #fad029 100%);
			}
		}
	}
	&.about-11-content{
		& .title{
			padding-bottom: 7px;
		}
		& .item{
			&.active,
			&:hover{
				&::before{
					background: $theme-color-4;
				}
			}
		}
		& a{
			background: $theme-color-4;
			&:hover{
				background: $theme-color-2;
			}
		}
	}
}




.about-2-thumb{
	& .thumb{
		& img{
			@media #{$xs} {
				width: 100%;
			}
		}
	}
	& .thumb-2{
		margin-top: -173px;
		position: relative;
		@media #{$lg} {
			margin-left: 50px;
			margin-top: -100px;
		}
		@media #{$xs} {
			margin-top: 0;
			margin-left: 0;
			margin-top: 30px;

		}
		& img{
			@media #{$xs} {
				width: 100%;
			}
		}
		& .box{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 90px;
			border-radius: 8px;
			background: linear-gradient(330deg, rgba(255,86,79,1) 0%, rgba(250,208,41,1) 80%);
			height: 160px;
			width: 160px;
			text-align: center;
			padding-top: 20px;
			@media #{$lg} {
				right: 0;
			}
			@media #{$xs} {
				right: 0;
			}
			& .title{
				font-size: 44px;
				color: $white;
				font-weight: 500;
				margin-bottom: 5px;
			}
			& > span{
				color: $white;
				font-size: 18px;
				font-weight: 500;
				line-height: 28px;
			}
		}
	}
	&.about-11-thumb{
		& .thumb-2{
			& .box{
				background: $theme-color-4;
			}
		}
	}
}












.about-company-area{
	padding-top: 70px;
	padding-bottom: 100px;
	position: relative;
	z-index: 10;
	& .section__bg{
		background-image: url(../images/company-bg.jpg);
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,.8);
		}
	}
}


.about-company-content{
	padding: 61px 43px 55px 40px;
	background: $white;
	border-radius: 5px;
	margin-right: 40px;
	@media #{$md} {
		margin-right: 0;
	}
	@media #{$xs} {
		margin-right: 0;
		padding: 20px;
	}
	@media #{$sm} {
		margin-right: 0;
		padding: 61px 43px 55px 40px;
	}
	& .title{
		font-size: 54px;
		line-height: 62px;
        text-transform: capitalize;
		@media #{$xs} {
			font-size: 36px;
			line-height: 40px;
		}
	}
	& a{
		margin-top: 24px;
	}
}


.company-brand-area{
	margin-left: -25px;
	margin-right: 8px;
	@media #{$md} {
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
	}
	@media #{$xs} {
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
	}
	& .company-brand-item{
		display: flex;
		background: $white;
		justify-content: center;
		align-items: center;
		height: 150px;
		border-radius: 5px;
		text-align: center;
		@media #{$xs} {
			margin-top: 20px;
		}
		& a{
			opacity: .2;
		}
		&:hover{
			& a{
				opacity: 1;
			}
		}
	}
	& .col-lg-6{
		padding-left: 10px;
		padding-right: 10px;
	}
}





.about-3-area{
	background: #F5F5F5;
}

.about-3-thumb{
	@media #{$md} {
		margin-bottom: 30px;
	}
	@media #{$xs} {
		margin-bottom: 30px;
	}
	& img{
		width: 100%;
	}
}


.about-3-content{
	margin-left: 75px;
	@media #{$lg} {
		margin-left: 0;
	}
	@media #{$md} {
		margin-left: 0;
	}
	@media #{$xs} {
		margin-left: 0;
	}
	& .content{
		& .title{
			font-family: $playfair;
			font-size: 60px;
			font-weight: 700;
		}
		& .text{
			font-size: 20px;
			line-height: 30px;
			font-family: $light;
			color: $black;
			& p{
				& span{
					font-family: $regular;
					color: $theme-color-3;
				}
			}
		}
	}
	& .about-tab{
		margin-top: 40px;
		& ul{
			& li{
				& a{
					padding: 0;
					background-color: transparent;
					color: $black;
					margin-right: 50px;
					@media #{$xs} {
						margin-right: 15px;
					}
					@media #{$sm} {
						margin-right: 50px;
					}
					&.active{
						background-color: transparent;
						color: $black;
						position: relative;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							bottom: 3px;
							height: 2px;
							width: 100%;
							background: $theme-color-3;
						}
					}
				}
				&:last-child{
					& a{
						margin-right: 0;
					}
				}
			}
		}
		& .tab-content{
			& .tab-pane{
				& .text{
					font-size: 20px;
					line-height: 30px;
					font-family: $light;
					color: $black;
					padding-top: 26px;
				}
				& ul{
					margin: 0 0 0 15px;
					padding: 0;
					& li{
						line-height: 35px;
						color: $black;
					}

				}
			}
		}
	}
}






.brand-3-area{
	background: $white;
	padding-top: 100px;
	padding-bottom: 100px;
}

.brand-3-items{
	@media #{$xs} {
		flex-wrap: wrap;
	}
	& .item{
		@media #{$md} {
			margin: 0 25px;
		}
		@media #{$xs} {
			margin: 15px 40px;
		}
		& a{
			opacity: .5;
			&:hover{
				opacity: 1;
			}
		}
	}
}


.brand-9-area{
	& .brand-3-items{
		& .item{
			& a{
				& img{
					opacity: .5;
				}
			}
		}
	}

}










.about-4-area{
	background: #F5F5F5;
}

.about-4-thumb{
	margin-left: -80px;
	margin-right: 20px;
	@media #{$md} {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	@media #{$xs} {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	& img{
		width: 100%;
	}
	&.about-10-thumb{
		margin-left: -30px;
		margin-right: 0px;
		position: relative;
		@media #{$md} {
			margin-left: 0;
		}
		@media #{$xs} {
			margin-left: 0;
		}
		& .title{
			font-size: 60px;
			line-height: 70px;
			color: $white;
			position: absolute;
			left: 0;
			bottom: 80px;
			transform: rotate(-45deg);
			font-weight: 600;
			@media #{$xs} {
				font-size: 30px;
				bottom: 20px;
			}
			@media #{$sm} {
				font-size: 60px;
				bottom: 80px;
			}
		}
	}
}

.about-4-content{
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	& .title{
		font-size: 60px;
		line-height: 70px;
		font-family: $playfair;
		font-weight: 700;
		@media #{$xs} {
			font-size: 40px;
		}
	}
	& p{
		& span{
			font-weight: 500;
			color: #564FFF;
		}
	}
	&.about-10-content{
		& p{
			& span{
				color: $theme-color-2;
			}
		}
		& .skills{
			& .skill-item{
				& .skill-bar{
					& .bar-inner{
						& .bar{
							background: $theme-color-2;
						}
					}
				}
			}
		}
	}
}

















.skills {
    position: relative;
    padding-top: 27px;
}

.skills .skill-item {
    position: relative;
    margin-bottom: 46px;
}

.skills .skill-item .skill-header {
    position: relative;
    margin-bottom: 10px;
}



.skills .skill-item .skill-header .skill-percentage {
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 15px;
    font-weight: 600;
    color: $black;
}
.skills .skill-item .skill-header .skill-percentage .count-box{
    font-size: 15px;
    font-weight: 400;

}
.skills .skill-item .skill-header .skill-percentage .count-box span{
    font-weight: 400;
    font-size: 14px;
}

.skills .skill-item .skill-header .skill-title{
	font-size: 17px;
	font-weight: 400;
	color: $black;
	margin-bottom: 2px;
}

.skills .skill-item:last-child {
    margin-bottom: 0;
}

.skills .skill-item .skill-bar {
    position: relative;
    width: 100%;
}

.skills .skill-item .skill-bar .bar-inner {
    position: relative;
    width: 100%;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-radius: 0px;
}

.skills .skill-item .skill-bar .bar-inner .bar {
    position: absolute;
    left: 0;
    top: 0px;
    width: 0;
    height: 8px;
    background: linear-gradient(90deg, #6249ef 0%, #2895dd 100%);
    -webkit-transition: all 2000ms ease;
    transition: all 2000ms ease;
    border-radius: 0px;
    margin-top: -3px;
}










.about-5-area{
	padding-top: 70px;
	padding-bottom: 100px;
	background: #F5F5F5;
	& .about-2-thumb{
		& .thumb-2{
			margin-left: -90px;
			@media #{$md} {
				margin-left: 30px;
			}
			@media #{$xs} {
				margin-left: 0px;
			}
			& .box{
				right: 160px;
				@media #{$xs} {
					right: 0;
				}
			}
		}
	}
}


.about-5-content{
	margin-left: -30px;
	@media #{$lg} {
		margin-left: 0;
	}
	@media #{$md} {
		margin-left: 0;
	}
	@media #{$xs} {
		margin-left: 0;
	}
	& .title{
		font-size: 60px;
		font-size: 70px;
		margin-bottom: 5px;
		@media #{$xs} {
			font-size: 50px;
		}
	}
	& .text{
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
		color: $black;
		& span{
			font-weight: 400;
			color: #FF564F;
		}
	}
	& .nav{
		padding-top: 27px;
		& li{
			margin-right: 10px;
			& a{
				height: 36px;
				line-height: 36px;
				background: linear-gradient(90deg, rgba(250,208,41,.2) 0%, rgba(255,86,79,.2) 65%);
				color: #FF564F;
				padding: 0 16px;
				font-weight: 500;
				@media #{$xs} {
					margin-bottom: 10px;
				}
				&.active{
					background: linear-gradient(90deg, rgba(250,208,41,1) 0%, rgba(255,86,79,1) 65%);
					color: $white;

				}
			}
		}
	}
	& .tab-content{
		& .tab-pane{
			& .text{
				font-size: 20px;
				line-height: 30px;
				font-weight: 300;
			}
			& .list{
				& .item-1{
					margin-right: 80px;
                    @media #{$xs} {
                        margin: 0;
                    };
                    @media #{$sm} {
                        margin-right: 40px;
                    }
				}
				& ul{
					margin: 0;
					padding-left: 16px;	
					& li{
						& a{
							line-height: 35px;
							color: #383838;
						}
					}		
				}
			}
		}
	}
}










.about-6-area{
	background: $theme-color-4;
	padding: 100px 0 150px;
    @media #{$xs} {
        padding: 100px 0 100px;
    }
    @media #{$sm} {
        padding: 100px 0 150px;
    }
	overflow: hidden;
	&.about-12-area{
		background: linear-gradient(90deg, rgba(19,191,158,1) 0%, rgba(16,137,113,1) 100%);
	}
}


.about-6-content{
	& span{
		color: $white;
		font-size: 25px;
		font-weight: 500;
		text-transform: uppercase;
	}
	& .title{
		font-size: 54px;
		line-height: 62px;
		color: $white;
		padding-top: 45px;
		margin-bottom: 25px;
        text-transform: capitalize;
		@media #{$xs} {
			font-size: 32px;
			line-height: 40px;
		}
		@media #{$sm} {
			font-size: 54px;
			line-height: 62px;
		}
	}
	& .text{
		color: $white;
		padding-right: 50px;
		@media #{$xs} {
			padding-right: 0;
		}
	}
	& ul{
		margin: 0;
		padding-left: 16px;
		padding-top: 10px;
		& li{
			color: $white;
			line-height: 35px;
		}
	}
	& a{
		color: $white;
		background: $theme-color-3;
		border-color: $theme-color-3;
		border-radius: 0;
		line-height: 56px;
		padding: 0;
		width: 156px;
		display: inline-block;
		margin-top: 44px;
		&:hover{
			background-color: transparent;
			color: $theme-color-3;
		}
	}
	&.about-12-content{
		& a{
			background: #FAD029;
			border-color: #FAD029;
			color: $black;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 1px;
			font-size: 18px;
			line-height: 62px;
			padding: 0 36px;
			width: auto;
			border-radius: 5px;
			&:hover{
				background-color: transparent;
				border-color: #FAD029;
				color: #FAD029;
			}
		}
	}
}

.about-6-thumb{
	position: relative;
	z-index: 10;
	@media #{$md} {
		margin-top: 40px;
	}
	@media #{$xs} {
		margin-top: 40px;
	}
	&::before{
		position: absolute;
		content: '';
		right: -95px;
		bottom: -50px;
		width: 350px;
		height: 600px;
		background: $black;
		z-index: -1;
		@media #{$xs} {
			display: none;
		}
		@media #{$sm} {
			display: block;
		}
	}
	&.about-12-thumb{
		& img{
			border-radius: 10px;
		}
		&::before{
			border-radius: 10px;
		}
	}
}








.about-8-thumb{
	& .thumb-2{
		& .box{
			background: #FF564F;
			border-radius: 0;
		}
	}

}

.about-8-content{
	& .nav{
		& li{
			& a{
				background: rgba(255,86,79,.2);
				border-radius: 0;
				&.active{
					background: rgba(255,86,79,1);
				}
			}
		}
	}
}












.about-9-area{
	background: linear-gradient(312deg, rgba(69,16,138,1) 0%, rgba(16,5,77,1) 100%);
	padding-top: 100px;
	padding-bottom: 100px;
}


.about-9-thumb{
	margin-left: -85px;
	margin-right: 70px;
	@media #{$md} {
		margin-left: 0;
		margin-right: 0;
	}
	@media #{$xs} {
		margin-left: 0;
		margin-right: 0;
	}
	& img{
		width: 100%;
	}
}


.about-9-content{
	color: $white;
	& .title{
		color: $white;
		font-size: 54px;
		line-height: 62px;
		margin-bottom: 23px;
		@media #{$xs} {
			font-size: 36px;
			line-height: 46px;
		}
		@media #{$sm} {
			font-size: 54px;
			line-height: 64px;
		}
	}
	& ul{
		margin: 0;
		padding-left: 16px;
		padding-top: 10px;
		& li{
			line-height: 35px;
		}
	}
}




.brand-12-area{
	& .brand-item{
		& img{
			display: inline-block;
			opacity: .3;
			@include transition(0.3s);
			cursor: pointer;
		}
		&:hover{
			& img{
				opacity: 1;
			}
		}
	}

}
