


/*===========================
    11.ARTICLE css 
===========================*/




.article-area{
	padding-top: 88px;
	padding-bottom: 100px;
	background: #F3F3F3;
	&.article-5-area{
		padding-top: 68px;
		& .section-title{
			& .title{
				margin-bottom: 0;
			}
		}
	}
}



.article-item{
	background: $white;
	border-radius: 10px;
	overflow: hidden;
	& .article-top{
		padding: 30px 25px;
		@media #{$lg} {
			padding: 30px 15px;
		}
		& span{
			font-size: 22px;
			line-height: 30px;
			color: $black;
            text-transform: capitalize;
			@media #{$lg} {
				font-size: 18px;
			}
			@media #{$md} {
				font-size: 20px;
			}
		}
	}
	& .article-thumb{
		position: relative;
		& .date{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 54px;
			height: 56px;
			background: $theme-color;
			text-align: center;
			padding-top: 8px;
			& .title{
				margin-bottom: 0;
				font-size: 20px;
				color: $white;
			}
			& span{
				font-size: 14px;
				font-family: $medium;
				color: $white;
				display: block;
				line-height: 22px;
				margin-top: -6px;
			}
		}
		& img{
			width: 100%;
		}
	}
	& .article-content{
		padding: 25px 25px 35px 25px;
		font-weight: 300;
		@media #{$lg} {
			font-size: 15px;
		}
		& a{
			font-family: $regular;
			font-size: 14px;
			text-transform: uppercase;
			margin-top: 3px;
			display: inline-block;
			color: $black;
			position: relative;
			font-weight: 400;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				bottom: -4px;
				height: 1px;
				width: 100%;
				background: $black;
				@include transition(0.3s);
			}
			&:hover{
				color: $theme-color;
				&::before{
					background: $theme-color;
				}
			}
		}
	}
	&.article-6-item{
		& .article-thumb{
			& .date{
				background: $theme-color-4;
			}
		}
		& .article-content{
			& a{
				&:hover{
					color: $theme-color-4;
					&::before{
						background: $theme-color-4;
					}
				}
			}
		}
	}
	&.item-3{
		@media #{$md} {
			display: none;
		}

	}
}










.article-2-area{
	padding-top: 100px;
	padding-bottom: 100px;
	&.article-7-area{
		padding-top: 86px;
	}
	&.article-11-area{
		background: #F5F5F5;
		padding-top: 92px;
	}
    &.article-15-area{
        padding-top: 86px;
        & .article-2-item{
            & .article-content{
                & .date{
                    & .item{
                        background: #F0323C;
                    }
                }
                & > a{
                    & .icon{
                        &::before{
                            background: #F0323C;
                        }
                    }
                }
            }
        }
    }

}



.article-2-item{
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	@include transition(0.3s);
	& .article-thumb{
		padding: 15px;
		& img{
			width: 100%;
		}
	}
	& .article-content{
		padding: 0 25px 20px;
		& .date{
			position: relative;
			& > span{
				padding-left: 70px;
				display: inline-block;
				color: $black;
			}
			& .item{
				position: absolute;
				left: 0;
				bottom: 6px;
				width: 54px;
				height: 56px;
				background: linear-gradient(330deg, #ff564f 0%, #fad029 80%);
				text-align: center;
				padding-top: 8px;
				border-radius: 5px;
				& .title{
					margin-bottom: 0;
					font-size: 20px;
					color: $white;
				}
				& span{
					font-size: 14px;
					font-family: $medium;
					color: $white;
					display: block;
					line-height: 22px;
					margin-top: -6px;
				}
			}
		}
		& > .title{
			font-size: 22px;
			line-height: 30px;
			font-family: $semibold;
			padding-right: 15px;
			margin-top: 20px;
            text-transform: capitalize;
			@media #{$lg} {
				font-size: 16px;
				line-height: 24px;
			}
			@media #{$md} {
				font-size: 19px;
			}
			@media #{$xs} {
				font-size: 17px;
				padding-right: 0;
			}
			@media #{$sm} {
				font-size: 22px;
				padding-right: 0;
			}
			& a{
				color: $black;
			}
		}
		& > a{
			text-transform: uppercase;
			font-size: 14px;
			font-family: $medium;
			color: #383838;
			display: flex;
			align-items: center;
			& .icon{
				height: 24px;
				width: 24px;
				background: $black;
				border-radius: 50%;
				text-align: center;
				line-height: 18px;
				display: inline-block;
				transform: rotate(45deg);
				margin-left: 6px;
				position: relative;
				z-index: 5;
				overflow: hidden;
				margin-top: -4px;
				&::before{
					position: absolute;
					content: '';
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(0);
					height: 100%;
					width: 100%;
					z-index: -1;
					background: linear-gradient(330deg, #ff564f 0%, #fad029 80%);
					@include transition(0.3s);
					border-radius: 50%;

				}
			}
		}
	}
	&:hover{
		background: $white;
		border-color: $white;
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
		& .article-content{
			 & a{
			 	& .icon{
					&::before{
						transform: translate(-50%, -50%) scale(1);
					}
			 	}
			 }
		}

	}
	&.item-3{
		@media #{$md} {
			display: none;
		}
	}
	&.article-4-item{
		& .article-content{
			& .date{
				& .item{
					background: linear-gradient(#2895dd 0%, #6249ef 100%);
					border-radius: 0;
				}
			}
			& > a{
				& .icon{
					&::before{
						background: linear-gradient(#2895dd 0%, #6249ef 100%);
					}
				}
			}
		}
	}
	&.article-7-item{
		& .article-content{
			& .date{
				& .item{
					background: #2AA38C;
				}
			}
			& > a{
				& .icon{
					&::before{
						background: #2AA38C;
					}
				}
			}
		}
	}
	&.article-post-item{
		& .article-content{
			& .date{
				& .item{
					background: #FFAB4A;
				}
			}
			& > a{
				& .icon{
					&::before{
						background: #FFAB4A;
					}
				}
			}
		}
	}
}







.article-3-area{
	background: $white;
	padding-top: 91px;
	padding-bottom: 75px;
    &.article-16-area{
        & .article-3-title {
            & .title{
                font-family: $regular;
            }
        }
        & .article-3-list {
            & .item {
                & .content {
                    & .title{
                        font-family: $regular;
                    }
                }
            }
        }
        & .article-3-item {
            & .article-content {
                &  .title{
                    font-family: $regular;
                }
            }
        }
    }

}


.article-3-title{
	font-weight: 300;
	& .title{
		font-size: 40px;
		font-weight: 600;
		font-family: $playfair;
	}
	& .text{
		margin-left: -45px;
		@media #{$md} {
			margin-left: 0;
		}
		@media #{$xs} {
			margin-left: 0;
		}
	}
}

.article-3-item{
	& .article-thumb{
		& img{
			width: 100%;
		}
	} 
	& .article-content{
		margin-top: 23px;
		color: $black;
		font-weight: 300;
		& span{
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			color: $theme-color-3;
			& span{
				text-transform: capitalize;
				color: $black;
				margin-left: 23px;

			}
		}
		& .title{
			font-size: 25px;
			font-weight: 500;
			line-height: 30px;
			font-family: $playfair;
			margin-top: 5px;
			margin-bottom: 23px;
		}
	}
}


.article-3-list{
	margin-left: 20px;
	@media #{$lg} {
		margin-left: 0;
	}
	@media #{$md} {
		margin-left: 0;
	}
	@media #{$xs} {
		margin-left: 0;
	}
	& .item{
		& .thumb{
			min-width: 165px;
			@media #{$xs} {
				width: 100%;
			}
			@media #{$sm} {
				width: 165px;
			}
			& img{
				@media #{$xs} {
					width: 100%;
				}
			}
		}
		& .content{
			margin-left: 30px;
			font-weight: 300;
			color: $black;
			@media #{$lg} {
				margin-left: 15px;
			}
			@media #{$xs} {
				margin-left: 0;
				margin-top: 20px;
			}
			@media #{$sm} {
				margin-left: 30px;
				margin-top: 0px;
			}
			& .title{
				font-size: 20px;
				line-height: 25px;
				font-weight: 400;
				font-family: $playfair;
				@media #{$lg} {
					font-size: 17px;
				}
			}
			& p{
				@media #{$lg} {
					font-size: 16px;
				}
			}
		}
	}
}




.artical-4-area{
	background: #F5F5F5;
	padding-top: 88px;
	padding-bottom: 100px;
}









.article-8-item{
	& .article-thumb {
		& .date{
			background: #FF564F;
		}
	}
	& .article-content{
		& a{
			&:hover{
				color: #FF564F;
			}
		}
	}
}










.article-9-area{
	padding-top: 90px;
}



.article-9-item{
	& .article-content{
		& .date{
			& .item{
				background: linear-gradient(90deg, rgba(220,61,170,1) 0%, rgba(119,18,200,1) 100%);
			}
		}
		& > a{
			& .icon{
				&::before{
					background: linear-gradient(90deg, rgba(220,61,170,1) 0%, rgba(119,18,200,1) 100%);
				}
			}
		}
	}
}




.article-11-item{
	& .article-content{
		& .date{
			& .item{
				background: $theme-color-4;
			}
		}
		& > a{
			& .icon{
				&::before{
					background: $theme-color-4;
				}
			}
		}
	}
}






.article-post-area{
	background: #F5F5F5;
	padding-top: 88px;
	padding-bottom: 100px;
	& .article-post-title{
		& .title{
			font-size: 40px;
		}
	}
}