


/*===========================
    12.FOOTER css 
===========================*/




.footer-area{
	background: $black;
	padding-top: 100px;

}


.footer-top{
	border-bottom: 2px solid #383838;
	padding-bottom: 60px;
	& .footer-social{
		@media #{$xs} {
			margin-top: 20px;
		}
		@media #{$sm} {
			margin-top: 0px;
		}
		& ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			& li{
				display: inline-block;
				& a{
					height: 50px;
					width: 50px;
					text-align: center;
					line-height: 50px;
					background: #383838;
					border-radius: 2px;
					display: inline-block;
					margin-right: 5px;
					color: #E0E0E0;
					&:hover{
						background: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
	&.footer-top-4{
		& .footer-social{
			& ul{
				& li{
					& a{
						position: relative;
						z-index: 5;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							height: 100%;
							width: 100%;
							background: linear-gradient(#2895dd 0%, #6249ef 100%);
							z-index: -1;
							opacity: 0;
							@include transition(0.3s);
						}
						&:hover{
							&::before{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	&.footer-top-5{
		& .footer-social{
			& ul{
				& li{
					& a{
						position: relative;
						z-index: 5;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							height: 100%;
							width: 100%;
							background: $theme-color-3;
							z-index: -1;
							opacity: 0;
							@include transition(0.3s);
						}
						&:hover{
							&::before{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	&.footer-top-9{
		& .footer-social{
			& ul{
				& li{
					& a{
						position: relative;
						z-index: 5;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							height: 100%;
							width: 100%;
							background: linear-gradient(90deg, rgba(220,61,170,1) 0%, rgba(119,18,200,1) 100%);
							opacity: 0;
							z-index: -1;
							@include transition(0.3s);
						}
						&:hover{
							&::before{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	&.footer-top-10{
		& .footer-social{
			& ul{
				& li{
					& a{
						position: relative;
						z-index: 5;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							top: 0;
							height: 100%;
							width: 100%;
							background: $theme-color-2;
							opacity: 0;
							z-index: -1;
							@include transition(0.3s);
						}
						&:hover{
							&::before{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}


.footer-item{
	padding-top: 58px;
	& .footer-about{
		color: $white;
		padding-right: 10px;
		@media #{$lg} {
			padding-right: 0;
		}
		@media #{$md} {
			padding-right: 0;
		}
		@media #{$xs} {
			padding-right: 0;
		}
		& .title{
			color: $white;
			font-size: 22px;
			font-family: $semibold;
			margin-bottom: 37px;
		}
	}
	& .footer-list{
		&.ml-95{
			@media #{$lg} {
				margin-left: 50px;
			}
			@media #{$md} {
				margin-left: 0px;
			}
			@media #{$xs} {
				margin-left: 0px;
			}
		}
		& .title{
			color: $white;
			font-size: 22px;
			font-family: $semibold;
			margin-bottom: 37px;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			& li{
				& a{
					color: $white;
					line-height: 36px;
					font-family: $medium;
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
		&.footer-list-4{
			& ul{
				& li{
					& a{
						&:hover{
							color: #564FFF;
						}
					}
				}
			}
		}
		&.footer-list-5{
			& ul{
				& li{
					& a{
						&:hover{
							color: $theme-color-3;
						}
					}
				}
			}
		}
		&.footer-list-9{
			& ul{
				& li{
					& a{
						&:hover{
							color: #dc3daa;
						}
					}
				}
			}
		}
		&.footer-list-10{
			& ul{
				& li{
					& a{
						&:hover{
							color: $theme-color-2;
						}
					}
				}
			}
		}
		&.footer-list-11{
			& ul{
				& li{
					& a{
						&:hover{
							color: $theme-color-4;
						}
					}
				}
			}
		}
	}
	& .footer-info{
		& .title{
			color: $white;
			font-size: 22px;
			font-family: $semibold;
			margin-bottom: 37px;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			& li{
				padding-left: 31px;
				color: #E0E0E0;
				position: relative;
				padding-bottom: 30px;
				& i{
					position: absolute;
					left: 0;
					top: 5px;
					font-size: 20px;
					color: $theme-color;

				}
			}
		}
		&.footer-info-4{
			& ul{
				& li{
					 & i{
					 	color: #564FFF;
					 }
				}
			}
		}
		&.footer-info-5{
			& ul{
				& li{
					 & i{
					 	color: $theme-color-3;
					 }
				}
			}
		}
		&.footer-info-9{
			& ul{
				& li{
					 & i{
					 	color: #dc3daa;
					 }
				}
			}
		}
		&.footer-info-10{
			& ul{
				& li{
					 & i{
					 	color: $theme-color-2;
					 }
				}
			}
		}
	}
}




.footer-copyright{
	color: $white;
	font-family: $light;
	margin-top: 30px;
	margin-bottom: 30px;
}









.footer-2-area{
	padding-top: 0;
	& .footer-2-top{
		padding: 42px 0;
		background: #383838;
		& .footer-logo{
			@media #{$md} {
				margin-bottom: 20px;
			}
			@media #{$xs} {
				margin-bottom: 20px;
			}
		}
	}
	& .footer-info	{
		@media #{$xs} {
			margin-top: 30px;

		}
		&.ml-60{
			@media #{$lg} {
				margin-left: 15px;
			}
			@media #{$md} {
				margin-left: 0px;
			}
			@media #{$xs} {
				margin-left: 0px;
			}
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			& li{
				color: #E0E0E0;
				padding-left: 30px;
				position: relative;
				& img{
					position: absolute;
					left: 0;
					top: 5px;
				}
			}
		}
	}
	& .footer-copyright{
		margin-bottom: 50px;
		margin-top: 15px;
		flex-wrap: wrap;
		@media #{$xs} {
			justify-content: center;
			margin-top: 40px;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			& li{
				margin-right: 10px;
				& a{
					background: #383833 8px;
					display: inline-block;
					border-radius: 2px;
					height: 50px;
					width: 50px;
					text-align: center;
					line-height: 54px;
					color: $white;
					position: relative;
					overflow: hidden;
					z-index: 5;
					&::before{
						position: absolute;
						content: '';
						left: 50%;
						top: 50%;
						transform: translate(-50% ,-50%) scale(0);
						height: 100%;
						width: 100%;
						background: linear-gradient(330deg, #fad029 0%, #ff564f 80%);
						z-index: -1;
						@include transition(0.3s);
						border-radius: 2px;

					}
					&:hover{
						&::before{
							transform: translate(-50% ,-50%) scale(1);
						}
					}
				}
			}
		}
		& p{
			margin-bottom: 0;
			margin-left: 80px;
			@media #{$xs} {
				margin-left: 0;
				padding-top: 20px;
			}
		}
		&.footer-copyright-11{
			& ul{
				& li{
					& a{
						&::before{
							background: $theme-color-4;
						}
					}
				}
			}
		}
	}
	&.footer-7-area{
		& .footer-copyright{
			& ul{
				& li{
					& a{
						&::before{
							background: linear-gradient(90deg, rgba(19,191,158,1) 0%, rgba(16,137,113,1) 100%);
						}
					}
				}
			}
		}
		& .footer-item{
			&  .footer-list{
				& ul{
					& li{
						& a{
							&:hover{
								color: $theme-color-2;
							}
						}
					}
				}
			}
		}
		& .footer-newsletter-item{
			background: linear-gradient(0deg, rgba(19,191,158,1) 0%, rgba(16,137,113,1) 100%);
		}
	}
}





.footer-newsletter-item{
	background: linear-gradient(330deg, #fad029 0%, #ff564f 80%);
	border-radius: 10px;
	padding: 30px;
	position: relative;
	z-index: 5;
	& .dot{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		& img{
			width: 100%;
		}
	}
	& .title{
		color: $white;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 25px;
		@media #{$lg} {
			font-size: 24px;
		}
		@media #{$xs} {
			font-size: 22px;
		}
	}
	& .input-box{
		& input{
			width: 100%;
			background: #383838;
			border-radius: 8px;
			line-height: 60px;
			padding-left: 20px;
			border: 0;
			color: $white;
			&::placeholder{
				opacity: 1;
				color: $white;
			}
		}
		& button{
			width: 100%;
			background: $white;
			color: $black;
			line-height: 64px;
			border: 0;
			border-radius: 10px;
			margin-top: 10px;
		}
	}
	&.footer-newsletter-item-11{
		background: $theme-color-4;
	}
}









.footer-3-area{
	background: #F5F5F5;
	& .go-top{
		margin-top: 242px;
		@media #{$md} {
			margin-top: 40px;
		}
		@media #{$xs} {
			margin-top: 40px;
		}
		& .back-to-top{
			position: static;
			height: auto;
			width: auto;
			background-color: transparent;
			box-shadow: none;
			display: flex;
			align-items: center;
			& i{
				height: 30px;
				width: 30px;
				text-align: center;
				line-height: 30px;
				background: rgba(22,29,51,.15);
				border-radius: 50%;
				font-size: 14px;
				transform: rotate(45deg);
			}
			& span{
				font-size: 14px;
				text-transform: uppercase;
				margin-left: 15px;
				opacity: .5;
				color: #383838;
			}
		}
	}
}


.footer-3-item{
	margin-right: 20px;
	@media #{$xs} {
		margin-right: 0;
	}
	& .footer-work{
		& > span{
			font-size: 14px;
			color: #383838;
			border-bottom: 2px solid #DEDFE1;
			display: inline-block;
			padding-bottom: 12px;
			display: block;
		}
		& .item{
			padding-top: 20px;
			& span{
				font-size: 15px;
				color: $black;
			}
			& .title{
				font-size: 20px;
				font-weight: 500;
				padding-top: 6px;
				line-height: 25px;
			}
			& ul{
				margin: 0;
				padding: 0;
				list-style: none;
				margin-top: 7px;
				& li{
					display: inline-block;
					& a{
						height: 45px;
						width: 45px;
						text-align: center;
						line-height: 45px;
						border: 1px solid #33415C;
						display: inline-block;
						font-size: 14px;
						font-weight: 500;
						text-transform: uppercase;
						color: $black;
						margin-right: 7px;
					}
				}
			}
		}
		&.item-2{
			padding-top: 45px;
			& .item{
				& span{
					font-size: 15px;
				}
				& .title{
					padding-right: 50px;
				}
			}
		}
	}
}






.subscribe-area{
	background: -webkit-linear-gradient(#2895dd 0%, #6249ef 100%);
	background: -o-linear-gradient(#2895dd 0%, #6249ef 100%);
	background: linear-gradient(#2895dd 0%, #6249ef 100%);
	padding-top: 60px;
	padding-bottom: 60px;
	&.subscribe-6-area{
		background: $theme-color-4;
	}
	&.subscribe-9-area{
		background: linear-gradient(90deg, rgba(16,5,77,1) 0%, rgba(69,16,138,1) 100%);
		& .subscribe-item{
			& .title{
				font-family: $regular;
			}
		}
	}
	&.subscribe-10-area{
		background: $theme-color-2;
		margin-top: 97px;
		& .subscribe-item{
			& .title{
				font-family: $regular;
			}
		}
	}
	&.subscribe-11-area{
		background: $theme-color-4;
		& .subscribe-item{
			& .title{
				font-family: $regular;
			}
		}
	}
	&.subscribe-13-area{
		background: #FFAB4A;
		& .subscribe-item{
			& .title{
				font-family: $regular;
			}
		}
	}
    &.subscribe-15-area{
        background: #F0323C;
        & .subscribe-item{
            & .title{
                font-family: $regular;
            }
        }
    }

}


.subscribe-item{
	color: $white;
	& .title{
		color: $white;
		font-size: 40px;
		font-weight: 700;
		font-family: $playfair;
		margin-bottom: 21px;
		@media #{$xs} {
			font-size: 32px;
		}
	}
}


.subscribe-form{
	position: relative;
	@media #{$md} {
		margin-top: 20px;
	}
	@media #{$xs} {
		margin-top: 20px;
	}
	& input{
		width: 100%;
		height: 70px;
		padding-left: 30px;
		border: 0;
		background: $white;
	}
	& button{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		height: 50px;
		line-height: 50px;
		background-color: transparent;
		border: 0;
		z-index: 5;
		color: $white;
		width: 130px;
		text-align: center;
		padding: 0;
		@include transition(0.3s);
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			background: linear-gradient(to right, #6249ef 0%, #2895dd 50%, #6249ef 100%);
			background-size: 200% auto;
			@include transition(0.3s);
		}
		&:hover{
			color: $white;
			&::before{
				background-position: right center;
			}
		}
	}
	&.subscribe-6-form{
		& button{
			background: $theme-color-3;
			border-radius: 0;
			&:hover{
				background: $theme-color-4;
			}
			&::before{
				display: none;
			}
		}
	}
	&.subscribe-9-form{
		& button{
			border-radius: 5px;
			overflow: hidden;
			font-size: 15px;
			font-weight: 500;
			padding: 0 28px;
			&::before{
				background: linear-gradient(to right, #dc3daa 0%, #7712c8 50%, #dc3daa 100%);
				background-size: 200% auto;
			}
			&:hover{
				&::before{
					background-position: right center;
				}
			}
		}
	}
	&.subscribe-10-form{
		& button{
			border-radius: 0px;
			overflow: hidden;
			font-size: 15px;
			font-weight: 500;
			padding: 0 28px;
			&::before{
				background: $theme-color-2;
			}
		}
	}
	&.subscribe-13-form{
		& input{
			border-radius: 5px;
		}
		& button{
			border-radius: 5px;
			overflow: hidden;
			font-size: 15px;
			font-weight: 500;
			padding: 0 28px;
			background: $theme-color-2;
			&::before{
				display: none;
			}
		}
	}
	&.subscribe-11-form{
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			padding-top: 27px;
			& li{
				display: inline-block;
				& a{
					background: #FAD029;
					color: $white;
					text-transform: uppercase;
					border-color: #FAD029;
					border-radius: 2px;
					line-height: 60px;
					padding: 0 30px;
					font-size: 16px;
					font-weight: 600;
					letter-spacing: 1px;
					&:hover{
						background: $white;
						border-color: $white;
						color: $theme-color-4;
					}
					&.main-btn-2{
						background: $white;
						border-color: $white;
						margin-left: 5px;
						color: $theme-color-4;
						@media #{$xs} {
							margin-left: 0;
							margin-top: 20px;
						}
						@media #{$sm} {
							margin-left: 28px;
							margin-top: 0px;
						}
						&:hover{
							background: #FAD029;
							border-color: #FAD029;
							color: $white;
						}
					}
				}
			}
		}
        &.subscribe-15-form{
            & ul{
                & li{
                    & a{
                        background: #BF141D;
                        border-color: #BF141D;
                        color: $white;
                        &:hover{
                            background: $white;
                            border-color: $white;
                            color: #BF141D;
                        }
                        &.main-btn-2{
                            background: $white;
                            border-color: $white;
                            color: #BF141D;
                            &:hover{
                                background: #BF141D;
                                border-color: #BF141D;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
	}
}









/*==== BACK TO TOP ====*/

.back-to-top {
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $theme-color;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 5px;
    @include transition(0.3s);
    cursor: pointer;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.09);

    & i {
        color: $white;
    }

    &:hover {
        background-color: $theme-color;
    }
    &.back-to-top-2{
        background: $theme-color-2;
    }
    &.back-to-top-4{
        background: linear-gradient(#2895dd 0%, #6249ef 100%);
    }
    &.back-to-top-7{
        background: $theme-color-2;
    }
    &.back-to-top-6{
        background: $theme-color-3;
    }
    &.back-to-top-9{
        background: linear-gradient(90deg, #dc3daa 0%, #7712c8 100%);
    }
    &.back-to-top-10{
        background: $theme-color-2;
    }
    &.back-to-top-11{
        background: $theme-color-4;
    }
    &.back-to-top-16{
        background: #3863F6;
    }
}









.footer-15-area{
    padding-top: 63px;
    & .footer-copyright-area{
        background: #F5F5F5;
        margin-top: 57px;
        
        & .footer-copyright-item{
            line-height: 60px;
            & p{
                margin: 0;
                font-size: 15px;
                @media #{$xs} {
                    font-size: 13px;
                }
            }
        }
    }

}


.footer-15-about{
    & .title{
        font-size: 25px;
        font-weight: 700;
        color: $black;
        margin-bottom: 21px;
        
    }
    & p{
        padding-bottom: 25px;
    }
    & .info-item{
        & .item{
            margin-top: 30px;
            & ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                & li{
                    & a{
                        color: $black;
                        padding-left: 30px;
                        position: relative;
                        & i{
                            position: absolute;
                            left: 0;
                            top: 3px;
                            color: #F0323C;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    & .social{
        padding-top: 30px;
        & ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            & li{
                & a{
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    color: #F0323C;
                    background: #F5F5F5;
                    border-radius: 3px;
                    display: inline-block;
                    margin-right: 10px;
                    &:hover{
                        background: #F0323C;
                        color: $white;
                    }
                }
            }
        }
    }
    &.footer-16-about{
        & .info-item{
            & .item{
                & ul{
                    & li{
                        & a{
                            & i{
                                color: #3863F6;
                            }
                        }
                    }
                }
            }
        }
        & .social{
            & ul{
                & li{
                    & a{
                        color: #3863F6;
                        &:hover{
                            background: #3863F6;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}




.footer-15-post{
    & .footer-post-title{
        & .title{
            font-size: 25px;
            font-weight: 700;
            color: $black;
            margin-bottom: 21px;
        }
    }
    & .footer-post-item{
        & .item{
            padding-left: 115px;
            position: relative;
            margin-top: 17px;
            & img{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            & .title{
                font-size: 16px;
                font-weight: 400;
                color: $black;
                line-height: 20px;
                margin-bottom: 0;
            }
            & span{
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
    & .popular-post{
        & ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            
            & li{
                margin-right: 15px;
                margin-top: 15px;
            }
        }
    }
}














