


/*===========================
    13.FUN FACTS css 
===========================*/



.fun-facts-area{
	padding-top: 58px;
	padding-bottom: 94px;
	background: $white;
}




.fun-facts-item{
	@media #{$xs} {
		text-align: center;
	}
	& .icon{
		height: 76px;
	}
	& .title{
		font-size: 60px;
		font-family: $medium;
		margin-top: 25px;
		margin-bottom: 1px;
		font-weight: 500;
		
	}
	& > span{
		font-size: 20px;
	}
}





.fun-facts-3-area{
	background: #F5F5F5;
	&.fun-facts-4-area{
		background: $white;
	}

}

.fun-facts-3-item{
	background: $white;
	padding: 40px 0 35px;
	& .title{
		font-size: 54px;
		font-weight: 500;
		font-family: $playfair;
		margin-top: 19px;
	}
	& > span{
		font-size: 16px;
	}
	&.fun-facts-4-item{
		box-shadow: 0px 20px 90px rgba(0, 0, 0, 0.08);
	}
}

