


/*===========================
    2.HEADER css 
===========================*/


.header-area{
	&.header-2-area{
		& .header-nav{
			backdrop-filter: blur(30px);
			--webkit-backdrop-filter: blur(30px);
			background-color: rgba(255, 255, 255, 0.15);
			padding: 15px 0;
			top: 51px;
			@media #{$xs} {
				top: 0;
			}
			@media #{$sm} {
				top: 51px;
			}
			&.sticky{
				padding: 0;
				background-color: $black;
				top: 0;
				@media #{$md} {
					padding: 15px 0;
				}
				@media #{$xs} {
					padding: 15px 0;
				}
			}
		}
		&.header-13-area{
			& .header-nav{
				top: 15px;
				&.sticky{
					top: 0;
					background: $white;
				}
				& .navigation{
					& .navbar{
						& .navbar-nav{
							& .nav-item{
								& a{
									color: $black;
									@media #{$md} {
										color: $white;
									}
									@media #{$xs} {
										color: $white;
									}
								}
								& .sub-menu{
									& > li{
										& a{
											color: $black;
										}
									}
								}
							}
						}
						& .navbar-toggler{
							& .toggler-icon{
								background: $black;
							}
						}
					}
				}
			}
		}
	}
	&.header-5-area{
		& .header-nav{
			& .navigation{
				& .navbar{
					& .navbar-btn{
						& a{
							position: relative;
							z-index: 5;
							border: 0;
							color: $white;
							border-radius: 3px;
							line-height: 54px;
							overflow: hidden;
							&::before{
								position: absolute;
								content: '';
								left: 0;
								top: 0;
								height: 100%;
								width: 100%;
								background: linear-gradient(to right, #FAD029 0%, #FF564F 50%, #FAD029 100%);
								background-size: 200% auto;
								-webkit-transition: all 0.3s ease-out 0s;
								-moz-transition: all 0.3s ease-out 0s;
								-ms-transition: all 0.3s ease-out 0s;
								-o-transition: all 0.3s ease-out 0s;
								transition: all 0.3s ease-out 0s;
								z-index: -1;
							}
							&:hover{
								&::before{
									background-position: right center;
								}
							}
						}
					}
				}
			}
		}
	}
	&.header-6-area{
		& .header-nav{
			padding: 0 45px;
			top: 30px;
			@media #{$lg} {
				padding: 0 15px;
			}
			@media #{$md} {
				padding: 0 15px;
			}
			@media #{$xs} {
				padding: 0 0px;
			}
			&.sticky{
				background: $white;
				top: 0;
				padding: 10px 15px;
			}
			& .navigation{
				& .navbar{
					& .navbar-nav{
						& .nav-item{
							& a{
								color: $black;
								@media #{$lg} {
									margin-right: 25px;
								}
								@media #{$md} {
									color: $white;
								}
								@media #{$xs} {
									color: $white;
								}

							}
							& .sub-menu{
								& > li{
									& a{
										color: $black;
									}
									&:hover{
										& > a{
											color: $theme-color-3;
										}
									}
								}
							}
						}
					}
					& .navbar-btn{
						& a{
							background: $theme-color-3;
							border-color: $theme-color-3;
							color: $white;
							font-weight: 600;
							font-size: 16px;
							text-transform: uppercase;
							&:hover{
								background: $theme-color-4;
								border-color: $theme-color-4;
							}
						}
					}
					& .navbar-toggler{
						& .toggler-icon{
							background: $black;
						}
					}
					& .navbar-collapse{
						@media #{$md} {
							background: $theme-color-3;
						}
						@media #{$xs} {
							background: $theme-color-3;
						}
					}
				}
			}
		}
	}
	&.header-14-area{
		& .header-nav{
			margin: 0 55px;
			@media #{$md} {
				margin: 0 5px;
			}
			@media #{$xs} {
				margin: 0 5px;
			}
			&.sticky{
				background: #E49574;
			}
			@media #{$md} {
				margin: 0 15px;
			}
			& .navigation{
				& .navbar{
					& .navbar-nav{
						margin-left: 45px;
						@media #{$lg} {
							margin-left: 0;
						}
						& .nav-item{
							& a{
								margin-right: 0;
								margin-left: 36px;
								color: $black;
								@media #{$lg} {
									margin-left: 24px;
								}
								@media #{$md} {
									margin-left: 0;
								}
								@media #{$xs} {
									margin-left: 0;
								}
							}
							& .sub-menu{
								& > li{
									& a{
										margin-left: 0;
									}
								}
							}
						}
					}
					& .navbar-btn{
						& a{
							background: $black;
							border-radius: 40px;
							line-height: 54px;
							color: $white;
							border-color: $black;
							&:hover{
								background: $white;
								color: $black;
								border-color: $white;
							}
						}
					}
				}
			}
		}
	}
}







.header-top{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99;
	backdrop-filter: blur(30px);
	--webkit-backdrop-filter: blur(30px);
	background-color: rgba(255, 255, 255, 0.15);
	@media #{$xs} {
		display: none;
	}
	@media #{$sm} {
		display: block;
	}
	& .header-top-item{
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .info{
			& ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				align-items: center;
				& li{
					color: $white;
					margin-right: 50px;
					&:last-child{
						margin-right: 0;
					}
					& img{
						padding-right: 12px;
					}
				}
			}
		}
		& .sicial{
			@media #{$xs} {
				display: none;
			}
			& ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				& li{
					display: inline-block;
					& a{
						color: $white;
						margin-left: 28px;
						&:hover{
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}





.header-nav{
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
    z-index: 99;
    background-color: transparent;
    
    @media #{$md} {
    	padding: 15px 0;
    	top: 0;
    }
    @media #{$xs} {
    	padding: 15px 0;
    	top: 0;
    }
	&.sticky{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $black;
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
		z-index: 999;
		animation: sticky  1.2s;
		& .navbar{

			&  .navbar-nav{
				& .nav-item{
					& a{
						line-height: 80px !important;
						@media #{$md} {
							line-height: 40px !important;
						}
						@media #{$xs} {
							line-height: 40px !important;
						}
					}
					& .sub-menu {
						& li {
							& a{
								line-height: 2.5 !important;
							}
						}
					}
				}
			}
		}
	}

	& .navigation{
	    & .navbar {
	        position: relative;
	        padding: 0;
	        flex-wrap: inherit;
	        & .country-flag{
	        	& img{
	        		border: 5px solid $white;
	        		border-radius: 6px;
	        		box-shadow: 0px 8px 16px 0px rgba(60, 110, 203, 0.2);
	        	}
	        }

	        & .navbar-toggler {
	        	border: 0;

	            & .toggler-icon {
	                width: 30px;
	                height: 2px;
	                background-color: $white;
	                margin: 5px 0;
	                display: block;
	                position: relative;
	                @include transition(0.3s);
	            }

	            &.active {
	                & .toggler-icon {
	                    &:nth-of-type(1) {
	                        @include transform(rotate(45deg));
	                        top: 7px;
	                    }

	                    &:nth-of-type(2) {
	                        opacity: 0;
	                    }

	                    &:nth-of-type(3) {
	                        @include transform(rotate(135deg));
	                        top: -7px;
	                    }
	                }
	            }
	        }

	        & .navbar-collapse {
	            @media #{$md} {
	                position: absolute;
	                top: 128%;
	                left: 0;
	                width: 100%;
	                background-color: $theme-color;
	                z-index: 8;
	                padding: 10px 16px;
	                box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);

	            }

	            @media #{$xs} {
	                position: absolute;
	                top: 128%;
	                left: 0;
	                width: 100%;
	                background-color: $theme-color;
	                z-index: 8;
	                padding: 10px 16px;
	                box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
	            }
	        }

	        & .navbar-nav {
	        	list-style-type: none;
	        	margin: 0;
	        	padding: 0;


	            @media #{$md} {
	                margin-right: 0;
	            }

	            @media #{$xs} {
	                margin-right: 0;
	            }

	            & .nav-item {
	                position: relative;

	                & a {
	                    font-size: 18px;
	                    font-weight: 500;
	                    color: $white;
	                    font-family: $medium;
	                    text-transform: capitalize;
	                    position: relative;
	                    @include transition(0.3s);
	                    margin-right: 36px;
	                    line-height: 45px;
                        padding: 0;
                        & > i{
                        	@media #{$md} {
                        		display: none;
                        	}
                        	@media #{$xs} {
                        		display: none;
                        	}
                        	
                        }

	                    @media #{$md} {
	                        padding: 0;
	                        display: block;
	                        border: 0;
	                        margin: 0;
	                        line-height: 40px;
	                    }

	                    @media #{$xs} {
	                        padding: 0;
	                        display: block;
	                        border: 0;
	                        margin: 0;
	                        line-height: 40px;
	                    }

	                    & span {
	                        padding-left: 5px;
	                        font-size: 15px;

	                        @media #{$md} {
	                            display: none;
	                        }

	                        @media #{$xs} {
	                            display: none;
	                        }
	                    }
	                }
	                &:first-child{
	                	& a{
	                		margin-left: 0;
	                	}
	                }
	                &:last-child{
	                	& a{
	                		margin-right: 0;
	                	}
	                }

	                & .sub-menu {
	                    position: absolute;
	                    left: 0;
	                    top: 110%;
	                    width: 205px;
	                    background-color: $white;
	                    opacity: 0;
	                    visibility: hidden;
	                    transition: all linear 0.3s;
	                    z-index: 99;
	                    @include box-shadow (0 2px 6px 0 rgba(0, 0, 0, 0.16));
			        	list-style-type: none;
			        	margin: 0;
			        	padding: 25px 0;
			        	border-radius: 5px;


	                    @media #{$md} {
	                        position: relative !important;
	                        width: 100% !important;
	                        left: 0 !important;
	                        top: auto !important;
	                        opacity: 1 !important;
	                        visibility: visible !important;
	                        display: none;
	                        right: auto;
	                        @include transform(translateX(0%));
	                        @include transition(none);
	                        @include box-shadow(none);
	                        text-align: left;
	                        border-top: 0;
	                        transition: 0s;
	                    }

	                    @media #{$xs} {
	                        position: relative !important;
	                        width: 100% !important;
	                        left: 0 !important;
	                        top: auto !important;
	                        opacity: 1 !important;
	                        visibility: visible !important;
	                        display: none;
	                        right: auto;
	                        @include transform(translateX(0%));
	                        @include transition(none);
	                        @include box-shadow(none);
	                        text-align: left;
	                        border-top: 0;
	                        transition: 0s;
	                    }

	                    & > li {
	                        position: relative;
	                        & .sub-menu{
	                        	margin-left: 10px;
	                        	@media #{$md} {
	                        		margin-left: 0;
	                        	}
	                        	@media #{$xs} {
	                        		margin-left: 0;
	                        	}
	                        }

	                        & .sub-nav-toggler {
	                            color: $heading-color;
	                            @include transition(0.3s);
	                        }

	                        & a {
	                            display: block;
	                            padding: 0px 20px;
	                            position: relative;
	                            color: $text-color;
	                            @include transition(0.3s);
	                            border-radius: 4px;
	                            margin: 0 0;
	                            line-height: 2.2;
	                            @media #{$laptop} {
	                            	padding: 0 20px;
	                            }
	                            @media #{$lg} {
	                            	padding: 0 20px;
	                            }

	                            & i {
	                                float: right;
	                                font-size: 16px;
	                                margin-top: 5px;

	                                @media #{$md} {
	                                    display: none;
	                                }

	                                @media #{$xs} {
	                                    display: none;
	                                }
	                            }

	                            & .sub-nav-toggler {
	                                & i {
	                                    display: inline-block;
	                                }
	                            }
	                        }

	                        & .sub-menu {
	                            right: auto;
	                            left: 100%;
	                            top: 0;
	                            opacity: 0;
	                            visibility: hidden;
	                            @include transition(0.3s);

	                            @media #{$md} {
	                                padding-left: 30px;
	                                @include transition(0s);
	                            }

	                            @media #{$xs} {
	                                padding-left: 30px;
	                                @include transition(0s);
	                            }
	                        }

	                        &:hover {
	                            & .sub-menu {
	                            	top: -60%;
	                                opacity: 1;
	                                visibility: visible;
	                            }

	                            & .sub-nav-toggler {
	                                color: $theme-color;
	                            }

	                            & > a {
	                                color: $theme-color;
	                            }
	                        }
	                    }
	                }

	                &:hover {
	                    & .sub-menu {
	                        opacity: 1;
	                        visibility: visible;
	                        top: 100%;
	                    }
	                }

	                .sub-nav-toggler {
	                    display: none;

	                    @media #{$md} {
	                        display: inline-block;
	                        position: absolute;
	                        top: 0;
	                        right: 0;
	                        padding: 10px 14px;
	                        font-size: 16px;
	                        background: none;
	                        border: 0;
	                        color: $white;
	                    }

	                    @media #{$xs} {
	                        display: inline-block;
	                        position: absolute;
	                        top: 0;
	                        right: 0;
	                        padding: 10px 14px;
	                        font-size: 16px;
	                        background: none;
	                        border: 0;
	                        color: $white;
	                    }
	                }
	            }
	        }
            & .navbar-btn{
            	@media #{$md} {
	            	position: absolute;
	            	right: 70px;
	            	top: 50%;
	            	transform: translateY(-50%);

            	}
            	@media #{$xs} {
	            	position: absolute;
	            	right: 70px;
	            	top: 50%;
	            	transform: translateY(-50%);
            		
            	}
				& a{
					margin-left: 50px;
				}
            }
	    }
	}

}





@-webkit-keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}

@keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}









.header-3-area{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99;
	& .heraer-item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		& .header-menu-item{
			height: 100px;
			width: 630px;
			background: $theme-color-3;
			display: flex;
			align-items: center;
			padding-left: 60px;
			@media #{$md} {
				width: 550px;
				padding-left: 30px;
			}
			@media #{$xs} {
				width: 100%;
				padding-left: 30px;
			}
			& .toggle-menu{
				margin-right: 20px;
			}
			& .header-menu-info{
				& ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					& li{
						display: inline-block;
						margin-left: 60px;
						& span{
							color: $white;
							font-size: 13px;
							font-family: $medium;
							text-transform: uppercase;
						}
						& .title{
							font-size: 18px;
							color: $white;
							font-family: $medium;
						}
					}
				}
			}
		}
		& .header-menu-btn{
			margin-right: 60px;
			@media #{$md} {
				margin-right: 30px;
			}
			& a{
				line-height: 54px;
				width: 120px;
				background: $theme-color-3;
				color: $white;
				border-color: $theme-color-3;
				border-radius: 0;
				text-transform: uppercase;
				padding: 0;
				height: 54px;
				&:hover{
					background-color: $theme-color-4;
					color: $white;
					border-color: $theme-color-4;
				}
			}
		}
	}
	&.header-4-area{
		background: #F5F8FD;
		& .heraer-item{
			& .header-menu-item{
				background: linear-gradient(90deg, rgba(98,73,239,1) 0%, rgba(40,149,221,1) 100%);
			}
			& .header-menu-btn{
				& a{
					position: relative;
					border: 0;
					z-index: 5;
					color: $white;
					&::before{
						position: absolute;
						content: '';
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						background: linear-gradient(to right, rgba(98,73,239,1) 0%, rgba(40,149,221,1) 50%, rgba(98,73,239,1) 100%);
						background-size: 200% auto;
						@include transition(0.3s);
						z-index: -1;
					}
					&:hover{
						&::before{
							background-position: right center;
						}
					}
				}
			}
		}
	}
	&.header-8-area{
		& .heraer-item{
			& .header-menu-item{
				background: #BF141D;
				width: 278px;
                @media #{$xs} {
                    width: 100%;
                }
			}
			& .header-menu-btn{
				& a{
					background: #BF141D;
					border-color: #BF141D;
					&:hover{
						background-color: transparent;
						color: #BF141D;
					}
				}
			}
		}
        &.header-16-area{
            & .heraer-item{
                & .header-menu-item{
                    background: #F6BB38;
                }
                & .header-menu-btn{
                    & a{
                        background: #F6BB38;
                        color: $black;
                        border-color: #F6BB38;
                        &:hover{
                            background-color: transparent;
                            color: #F6BB38;
                        }
                    }
                }
            }
        }
	}
}







.off_canvars_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9998;
	opacity: 0;
	visibility: hidden;
	cursor: crosshair;
	background: #232323;
	top: 0;
	&.active{
		opacity: .5;
		visibility: visible;
	}
}


.offcanvas_menu {
 	@media #{$md} {
 		display: block;
 	}
 	@media #{$xs} {
 		display: block;
 	}
 	&.offcanvas_menu_4{
 		& .offcanvas-social{
 			& ul{
 				& li{
 					& a{	
						color: $theme-color-4;
						 &:hover{
						 	background: $theme-color-4;
						 	color: $white;
						 	border-color: $theme-color-4;
						 }
 					}
 				}
 			}
 		}
 		& .canvas_close {
 			& a{
 				&:hover{
 					background: $theme-color-4;
 					color: $white;
 					border-color: $theme-color-4;
 				}
 			}
 		}
 		& .offcanvas_main_menu {
 			& li{
 				& a{
 					&:hover{
 						color: $theme-color-4;
 					}
 				}
 			}
 		}
 	}
 	&.offcanvas_menu_7{
 		& .offcanvas-social{
 			& ul{
 				& li{
 					& a{	
						color: #2AA38C;
						 &:hover{
						 	background: #2AA38C;
						 	color: $white;
						 	border-color: #2AA38C;
						 }
 					}
 				}
 			}
 		}
 		& .canvas_close {
 			& a{
 				&:hover{
 					background: #2AA38C;
 					color: $white;
 					border-color: #2AA38C;
 				}
 			}
 		}
 		& .offcanvas_main_menu {
 			& li{
 				& a{
 					&:hover{
 						color: #2AA38C;
 					}
 				}
 			}
 		}
 	}
    &.offcanvas_menu_16{
 		& .offcanvas-social{
 			& ul{
 				& li{
 					& a{	
						color: #3863F6;
						 &:hover{
						 	background: #3863F6;
						 	color: $white;
						 	border-color: #3863F6;
						 }
 					}
 				}
 			}
 		}
 		& .canvas_close {
 			& a{
 				&:hover{
 					background: #3863F6;
 					color: $white;
 					border-color: #3863F6;
 				}
 			}
 		}
 		& .offcanvas_main_menu {
 			& li{
 				& a{
 					&:hover{
 						color: #3863F6;
 					}
 				}
 			}
 		}
    }

}




.offcanvas_menu_wrapper {
	width: 290px;
	position: fixed;
	background: #fff;
	z-index: 9999;
	top: 0;
	height: 100vh;
	transition: .5s;
	left: 0;
	margin-left: -300px;
	padding: 50px 15px 30px;
	overflow-y: auto;
	&.active{
		margin-left: 0;
	}
	& .slinky-theme-default{
		background: inherit;
		min-height: 300px;
		overflow-y: auto;

	}
	& .header-btn{
		margin-bottom: 30px;
		& a{
			color: $black;
			&:hover{
				color: $black;
			}
		}
	}
}



.offcanvas_main_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	& li{
		position: relative;
		&:last-child{
			margin: 0;
		}
		& span{
			&.menu-expand{
				position: absolute;
				right: 0;

			}
		}
		& a{
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			display: block;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ededed;
			color: $black;
			@include transition(0.3s);
			&:hover{
				color: $theme-color-3;
			}

		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			&.sub-menu{
				padding-left: 20px;
			}
		}
	}
}


.offcanvas_footer {
	margin-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	& span{
		& a{
			font-size: 14px;
			color: $black;
			@include transition(0.3s);
			&:hover{
				color: $theme-color-3;
			}
		}
	}
}





.canvas_close {
	position: absolute;
	top: 10px;
	right: 13px;
	& a{
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 500;
		width: 32px;
		height: 32px;
		display: block;
		text-align: center;
		line-height: 34px;
		border: 1px solid #ededed;
		border-radius: 50%;
		color: $black;
		@include transition(0.3s);
		&:hover{
			background: $theme-color-3;
			border-color: $theme-color-3;
			color: #fff;

		}
	}
}

.canvas_open {
	& a{
		font-size: 26px;
		width: 50px;
		height: 42px;
		display: block;
		line-height: 39px;
		text-align: center;
		border: 1px solid #232323;
		color: $black;
		@include transition(0.3s);
		&:hover{
			color: $theme-color-3;
			border-color: $theme-color-3;

		}
	}
}

.offcanvas-social{
	margin-bottom: 40px;
	& ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		& li{
			display: inline-block;
			& a{
				height: 40px;
				width: 40px;
				text-align: center;
				line-height: 40px;
				color: $theme-color-3;
				border: 1px solid #eaeaea;
				border-radius: 50%;
				margin: 0 5px;
				@include transition(0.3s);
				display: inline-block;
				&:hover{
					background: $theme-color-3;
					border-color: $theme-color-3;
					color: $white;
				}

			}
		}
	}
}











.header-7-area{
	position: absolute;
	left: 0;
	top: 40px;
	right: 0;
	z-index: 99;
	padding: 0 45px;
	@media #{$xs} {
		padding: 0 5px;
	}
}



.header-7-item{
	& .header-logo{
		margin-left: 40px;
	}
	& .header-btn{
		@media #{$xs} {
			display: none;
		}
		@media #{$sm} {
			display: block;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				display: inline-block;
				& a{
					color: $white;
					font-size: 20px;
					font-weight: 600;
					text-transform: uppercase;
					&.main-btn{
						line-height: 62px;
						background: #FAD029;
						color: $black;
						border-color: #FAD029;
						padding: 0 30px;
						font-size: 15px;
						font-weight: 600;
						border-radius: 4px;
						letter-spacing: 1px;
						margin-left: 36px;
                        &:hover{
                            box-shadow: 0px 0px 40px rgba(250, 208, 41, 0.8);
                        }
					}

				}
			}
		}
	}
}








.header-9-area{
	.header-nav{
		& .navigation{
			& .navbar{
				& .navbar-btn{
					& a{
						position: relative;
						border: 0;
						z-index: 5;
						color: $white;
						background: linear-gradient(to right, rgba(220,61,170,1) 0%, rgba(119,18,200,1) 50%, rgba(220,61,170,1) 100%);
						background-size: 200% auto;
						&:hover{
							background-position: right center;
						}
					}
				}
				& .navbar-collapse{
					@media #{$md} {
						background: linear-gradient(90deg, #DC3DAA 0%, #7712C8 100%);
					}
					@media #{$xs} {
						background: linear-gradient(90deg, #DC3DAA 0%, #7712C8 100%);
					}
				}
				& .navbar-nav{
					& .nav-item{
						& .sub-menu{
							& > li{
								&:hover{
									& > a{
										color: #7712C8;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}










.header-2-area{
	&.header-10-area{
		& .header-top{
			background: $theme-color-2;
			& .header-top-item{
				& .sicial{
					& ul{
						& li{
							& a{
								&:hover{
									color: $theme-color-4;
								}
							}
						}
					}
				}
			}
		}
		& .header-nav{
			background: $theme-color-2;
			top: 50px;
			border-top: 1px solid rgba(255,255,255,.25);
			@media #{$xs} {
				top: 0;
			}
			@media #{$sm} {
				top: 50px;
			}
			&.sticky{
				background: $theme-color-2;
			}
			& .navigation{
				& .navbar{
					& .navbar-btn{
						& a{
							background: $white;
							color: $theme-color-2;
							font-size: 18px;
							font-weight: 600;
							border: 2px solid $white;
							&:hover{
								background-color: transparent;
								color: $white;
							}
						}
					}
					& .navbar-collapse{
						@media #{$md} {
							background: $theme-color-2;
						}
						@media #{$xs} {
							background: $theme-color-2;
						}
					}
					& .navbar-nav{
						& .nav-item{
							& .sub-menu{
								& > li{
									&:hover{
										& > a{
											color: $theme-color-2;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.header-11-area{
		& .header-nav{
			& .navigation{
				& .navbar{
					& .navbar-btn{
						& a{
							background: $theme-color-4;
							&:hover{
								background: $theme-color-2;
								border-color: $theme-color-2;
							}
						}
					}
					& .navbar-collapse{
						@media #{$md} {
							background: $theme-color-4;
						}
						@media #{$xs} {
							background: $theme-color-4;
						}
					}
					& .navbar-nav{
						& .nav-item{
							& .sub-menu{
								& > li{
									&:hover{
										& > a{
											color: $theme-color-4;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		& .header-top{
			& .sicial{
				& ul{
					& li{
						& a{
							&:hover{
								color: $theme-color-4;
							}
						}
					}
				}
			}
		}
	}
}














.header-12-area{
	& .header-nav{
		padding: 0 35px;
		@media #{$lg} {
			padding: 0 15px;
		}
		@media #{$md} {
			padding: 30px 15px;
		}
		@media #{$xs} {
			padding: 30px 5px;
		}
		@media #{$sm} {
			padding: 30px 10px;
		}
		&.sticky{
			background: $theme-color-2;
			padding: 20px 0;
		}
		& .navigation{
			& .navbar{
				& .navbar-nav{
					& .nav-item{
						& a{
							margin-right: 0;
							margin-left: 36px;
							@media #{$lg} {
								margin-left: 24px;
							}
							@media #{$md} {
								margin-left: 0;
							}
							@media #{$xs} {
								margin-left: 0;
							}

						}
					}
				}
				& .navbar-btn{
					& ul{
						margin: 0;
						padding: 0;
						list-style: none;
						& li{
							display: inline-block;
							& a{
								color: $white;
								font-size: 20px;
								font-weight: 600;
								text-transform: uppercase;
								&.main-btn{
									line-height: 62px;
									background: #FAD029;
									color: $black;
									border-color: #FAD029;
									padding: 0 30px;
									font-size: 15px;
									font-weight: 600;
									border-radius: 4px;
									letter-spacing: 1px;
									margin-left: 36px;
								}

							}
						}
					}
				}
			}
		}
	}
}


