


/*===========================
    3.HERO css 
===========================*/





.hero-area{
	position: relative;
    height: 100%;
	@media #{$laptop} {
		padding-bottom: 200px;
        height: auto !important;
	}
	@media #{$lg} {
		padding-bottom: 200px;
        height: auto !important;
	}
	@media #{$md} {
		padding-bottom: 200px;
        height: auto !important;
	}
	@media #{$xs} {
		padding-bottom: 100px;
        height: auto !important;
	}
	& .section__bg{
		background-image: url(../images/hero-bg.jpg);
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: $black;
			opacity: .4;
		}
	}
	&.hero-2-area{
		padding-bottom: 0;
		& .section__bg{
			background-image: url(../images/hero-bg-2.png);
			&::before{
				opacity: .65;
			}
		}
	}
	&.hero-5-area{
		& .section__bg{
			background-image: url(../images/hero-bg-3.jpg);
			&::before{
				opacity: .60;
			}
		}
		& .hero-social{
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			@media #{$laptop} {
				left: 0px;
			}
			@media #{$lg} {
				left: 0px;
			}
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}
			& ul{
				&.nav{
					display: block;
					& li{
						& a{
							height: 40px;
							width: 40px;
							text-align: center;
							line-height: 40px;
							color: $white;
							font-size: 14px;
							font-weight: 500;
							text-transform: uppercase;
							background-color: rgba(255, 255, 255, 0.25);
							display: inline-block;
							border-radius: 50%;
							margin: 7px 0;
						}
					}
				}
			}
		}
		& .scroll-to-down{
			position: absolute;
			left: 30px;
			bottom: 40px;
			z-index: 5;
			@media #{$laptop} {
				bottom: 100px;
			}
			@media #{$lg} {
				bottom: 100px;
			}
			@media #{$md} {
				bottom: 100px;
			}
			@media #{$xs} {
				display: none;
			}
			& a{
				height: 50px;
				width: 50px;
				text-align: center;
				line-height: 50px;
				border-radius: 50%;
				display: inline-block;
				background-color: rgba(255, 255, 255, 0.25);
				color: $white;

			}
		}
		& .hero-2-content{
			padding-bottom: 236px;
			position: relative;
			overflow: visible;
			& .slick-count{
				position: absolute;
				bottom: 40px;
				left: 0;
				& span{
					font-size: 40px;
					color: $white;
					& span{
						font-size: 22px;
					}
				}
			}
			& .hero-btn{
				position: absolute;
				right: -500px;
				bottom: 40px;
				@media #{$lg} {
					right: -415px;
				}
				& a{
					color: $white;
					font-size: 18px;
					font-weight: 600;
					text-transform: uppercase;
					position: relative;
					letter-spacing: 1px;
					&::before{
						position: absolute;
						content: '';
						left: 0;
						bottom: 0;
						height: 2px;
						width: 88px;
						border-radius: 5px;
						background: linear-gradient(90deg, #fad029 0%, #ff564f 65%);
					}
				}
			}
		}
		& .hero-thumb{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			@media #{$laptop} {
				width: 44%;
			}
			@media #{$lg} {
				width: 44%;
			}
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}
		}
	}
}












.hero-content{
	padding-top: 195px;
	padding-bottom: 310px;
	@media #{$md} {
		padding-bottom: 50px;
		text-align: center;
	}
	@media #{$xs} {
		padding-bottom: 30px;
		text-align: center;
	}
	& .title{
		color: $white;
		font-size: 70px;
		font-family: $bold;
		padding-top: 38px;
		line-height: 74px;
		@media #{$lg} {
			font-size: 62px;
		}
		@media #{$xs} {
			font-size: 34px;
			line-height: 38px;
		}
		@media #{$sm} {
			font-size: 50px;
			line-height: 56px;
		}
	}
	& > span{
		display: block;
		color: $white;
		font-size: 20px;
		color: $white;
		padding-top: 0px;
		padding-bottom: 58px;
	}
	& a{
		font-size: 20px;
		font-weight: 600;
	}
}


.hero-2-content{
	padding-top: 290px;
	padding-bottom: 230px;
	overflow: hidden;
	@media #{$xs} {
		padding-bottom: 100px;
		padding-top: 200px;
		text-align: center;
	}
	@media #{$sm} {
		text-align: left;
	}
	& > span{
		height: 40px;
		padding: 0 24px;
		display: inline-block;
		backdrop-filter: blur(50px);
		--webkit-backdrop-filter: blur(50px);
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 30px;
		line-height: 44px;
		color: $white;
		text-transform: uppercase;
		margin-bottom: 50px;

	}
	& .title{
		font-size: 70px;
		line-height: 74px;
		color: $white;
		margin-bottom: 38px;
		@media #{$lg} {
			font-size: 64px;
			line-height: 64px;
		}
		@media #{$xs} {
			font-size: 35px;
			line-height: 40px;
		}
		@media #{$sm} {
			font-size: 60px;
			line-height: 58px;
		}
	}
	& .play{
		font-size: 20px;
		color: $white;
		padding-left: 130px;
		position: relative;
		@media #{$xs} {
			padding-left: 0;
		}
		@media #{$sm} {
			padding-left: 130px;
		}
		& a{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 90px;
			width: 90px;
			line-height: 80px;
			background: $white;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			@media #{$xs} {
				position: static;
				transform: translateY(0);
				margin-bottom: 20px;
				display: none;
			}
			@media #{$sm} {
				position: absolute;
				transform: translateY(-50%);
				display: flex;
				margin-bottom: 0px;
			}
		}
	}
	&.hero-11-content{
		@media #{$md} {
			padding-bottom: 40px;
		}
		@media #{$xs} {
			padding-bottom: 40px;
		}
		& span{
			margin-bottom: 40px;
		}
		& .title{
			font-size: 100px;
			line-height: 105px;
			color: $white;
			margin-bottom: 21px;
			@media #{$lg} {
				font-size: 80px;
				line-height: 80px;
			}
			@media #{$xs} {
				font-size: 44px;
				line-height: 44px;
			}
			@media #{$sm} {
				font-size: 70px;
				line-height: 70px;
			}
		}
		& .text{
			color: $white;
			font-size: 20px;
			line-height: 30px;
			padding-right: 60px;
			@media #{$md} {
				padding-right: 0;
			}
			@media #{$xs} {
				padding-right: 0;
			}
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			padding-top: 27px;
			& li{
				display: inline-block;
				& a{
					background: $theme-color-4;
					color: $white;
					text-transform: uppercase;
					border-color: $theme-color-4;
					border-radius: 5px;
					line-height: 56px;
					&:hover{
						background: $theme-color-2;
						border-color: $theme-color-2;
						color: $white;
					}
					&.main-btn-2{
						background: $theme-color-2;
						border-color: $theme-color-2;
						margin-left: 5px;
						@media #{$xs} {
							margin-left: 0;
							margin-top: 20px;
						}
						@media #{$sm} {
							margin-left: 28px;
							margin-top: 0px;
						}
						&:hover{
							background: $theme-color-4;
							border-color: $theme-color-4;
						}
					}
				}
			}
		}
	}
}


.hero-play-11{
	margin-top: 70px;
	display: flex;
	justify-content: flex-end;
    margin-right: 170px;
	@media #{$md} {
		padding-bottom: 200px;
		margin-top: 0;
		justify-content: flex-start;
	}
	@media #{$xs} {
		padding-bottom: 200px;
		margin-top: 0;
		justify-content: flex-start;
        display: none;
	}
	@media #{$sm} {
        display: block;
	}
	& a{
		height: 100px;
		width: 100px;
		text-align: center;
		line-height: 100px;
		border-radius: 50%;
		font-size: 24px;
		color: $theme-color-4;
		line-height: 100px;
		background: $white;
		display: flex;
		justify-content: center;
		align-items: center;
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: $white;
            z-index: -1;
            animation: pulse-border-2 2s linear infinite;
        }
        &:hover{
            color: $white;
            background: $theme-color-4;
        }
	}
}








.hero-slider{
	& .slick-dots{
		position: absolute;
		right: 50px;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;
		@media #{$lg} {
			right: 10px;
		}
		& li{
			line-height: 0;
			text-align: center;
			& button{
				font-size: 0;
				border: 0;
				background: $white;
				height: 5px;
				width: 5px;
				border-radius: 50%;
				padding: 0;
                @include transition(0.3s);
                &::before{
                    position: absolute;
                    content: '';
                    left: 50%;
                    top: 49%;
                    transform: translate(-50%, -50%);
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background: $white;
                    @include transition(0.3s);
                    opacity: 0;
                }
			}
			&.slick-active{
				& button{
					height: 18px;
					width: 18px;
					position: relative;
					margin: 6px 0;
                    background: linear-gradient(#ff564f 0%, #fad029 100%);
                    &::before{
                        opacity: 1;
                        background: $black;
                    }
				}

			}
		}
	}
	&.hero-5-slide{
		& .slick-dots{
			opacity: 0;
		}
	}
	&.hero-11-slider{
		& .slick-dots{
			& li{
				&.slick-active{
					& button{
						background: $theme-color-4;
					}
				}
			}
		}
	}
}












.hero-play{
	margin-top: -100px;
	display: flex;
	justify-content: flex-end;
    margin-right: 170px;
	@media #{$md} {
		margin-top: 0;
		justify-content: center;
        margin-right: 0;
	}
	@media #{$xs} {
		margin-top: 0;
		justify-content: center;
        margin-right: 0;
        display: none;
	}
	@media #{$sm} {
		margin-top: 0;
		justify-content: center;
        margin-right: 0;
        display: block;
	}
	& a{
		height: 90px;
		width: 90px;
		text-align: center;
		line-height: 90px;
		background: $white;
		border-radius: 50%;
		color: $theme-color;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: $white;
            z-index: -1;
            animation: pulse-border-2 2s linear infinite;
        }
        &:hover{
            color: $white;
            background: $theme-color;
        }
	}
}



@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; } }



.sub-item-area{
	margin-top: -317px;
	height: 417px;
    padding-top: 80px;
    position: relative;
    z-index: 11;
	@media #{$laptop} {
		margin-top: 70px;
		height: auto;
        margin-bottom: 100px;
	}
	@media #{$lg} {
		margin-top: 70px;
		height: auto;
        margin-bottom: 100px;
	}
	@media #{$md} {
		margin-top: 70px;
		height: auto;
		margin-bottom: 100px;
	}
	@media #{$xs} {
		margin-top: 70px;
		height: auto;
		margin-bottom: 100px;
	}
    &.sub-15-area{
        & .sub-item{
            background: #BF141D;
            & .icon{
                & svg{
                    & path{
                        transition: all linear 0.3s;
                    }
                }
            }
            &:hover{
                background: $white;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
                & .icon{
                    & svg{
                        & path{
                            fill: #BF141D;
                        }
                    }
                }
            }
        }
    }
}

.sub-item{
	background: $theme-color-2;
	padding: 40px 25px 22px;
	border-radius: 5px;
	@include transition(0.3s);
	height: 215px;
	@media #{$lg} {
		padding: 40px 15px 22px;
	}
	@media #{$md} {
		margin-top: 30px;
	}
	@media #{$xs} {
		margin-top: 30px;
	}
	& .title{
		color: $white;
		font-family: $bold;
		font-weight: 700;
		padding-top: 36px;
		@include transition(0.3s);
		font-size: 22px;
		@media #{$lg} {
			font-size: 18px;
		}
	}
	& span{
		display: inline-block;
		font-weight: 300;
		font-family: $light;
		color: $black;
		font-size: 16px;
		padding-bottom: 20px;
		opacity: 0;
		@include transition(0.3s);
		@media #{$lg} {
			font-size: 14px;
		}
	}
	&.active,
	&:hover{
		background: $theme-color;
		height: 318px;
		& .title{
			color: $black;
			font-family: $semibold;
			font-weight: 600;
		}
		& span{
			opacity: 1;
		}
	}
}



.sub-2-area{
	padding-top: 75px;
	@media #{$md} {
		padding-bottom: 0;
	}
	& .sub-box{
		border-bottom: 1px solid #E0E0E0;
		padding-bottom: 77px;
	}
}


.sub-2-item{
	padding-left: 65px;
	font-family: $light;
	position: relative;
	& img{
		position: absolute;
		left: 0;
		top: -6px;
	}
	& svg{
		position: absolute;
		left: 0;
		top: -6px;
	}
	& .title{
		font-size: 22px;
		color: $black;
		font-weight: 500;
	}
	&.item-3{
		@media #{$md} {
			display: none;
		}
	}
}













.hero-3-area{
	background: #ffe4d9;
	position: relative;
    height: 100%;
    @media #{$xs} {
        height: auto;
    }
	& .hero-thumb{
		position: absolute;
		left: 58px;
		bottom: 0;
		@media #{$laptop} {
			left: 0;
			width: 45%;
		}
		@media #{$lg} {
			left: 0;
			width: 50%;
		}
		@media #{$md} {
			position: static;
			width: 55%;
		}
		@media #{$xs} {
			position: static;
			width: 55%;
		}

	}
	& .hero-social{
		position: absolute;
		right: 60px;
		bottom: 60px;
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			& li{
				display: inline-block;
				@media #{$xs} {
					display: block;
				}
				@media #{$sm} {
					display: inline-block;
				}
				& a{
					height: 45px;
					width: 45px;
					text-align: center;
					line-height: 48px;
					border: 1px solid #33415C;
					color: $black;
					text-transform: uppercase;
					display: inline-block;
					margin-left: 3px;
				}
			}
		}
	}
	&.hero-4-area{
		background: #F5F8FD;
		z-index: 10;
		& .hero-thumb{
			right: 140px;
			left: auto;
			z-index: -1;
			@media #{$laptop} {
				right: 70px;
			}
			@media #{$lg} {
				right: 70px;
			}
			& img{
				width: 100%;
				@media #{$laptop} {
					width: 80%;
				}
				@media #{$lg} {
					width: 70%;
				}
			}
		}
		& .hero-3-content{
			& > span{
				color: #564FFF;
			}
			& .title{
				& span{
					&::before{
						background-image: url(../images/hero-line-3.png);
					}
				}
			}
			& .text{
				&::before{
					background: #564FFF;
				}
			}
			& ul{
				& li{
					& a{
						&.main-btn{
							position: relative;
							border: 0;
							z-index: 5;
							color: #fff;
							&::before{
								position: absolute;
								content: '';
								left: 0;
								top: 0;
								height: 100%;
								width: 100%;
								background: linear-gradient(to right, #6249ef 0%, #2895dd 50%, #6249ef 100%);
								background-size: 200% auto;
								-webkit-transition: all 0.3s ease-out 0s;
								-moz-transition: all 0.3s ease-out 0s;
								-ms-transition: all 0.3s ease-out 0s;
								-o-transition: all 0.3s ease-out 0s;
								transition: all 0.3s ease-out 0s;
								z-index: -1;
							}
						}
						&:hover{
							&::before{
								background-position: right center;
							}
						}
					}
				}
			}
		}
	}
}



.hero-3-content{
	padding-left: 70px;
	padding-top: 215px;
	padding-bottom: 185px;
	margin-left: -30px;
	@media #{$md} {
		padding-bottom: 100px;
		margin-left: 0;
	}
	@media #{$xs} {
		padding-bottom: 100px;
		margin-left: 0;
		padding-left: 0;
	}
	& > span{
		font-size: 25px;
		font-family: $regular;
		color: $theme-color-3;
		text-transform: uppercase;
		padding-bottom: 4px;

	}
	& .title{
		font-family: $playfair;
		font-weight: 500;
		font-size: 70px;
		line-height: 84px;
		margin-bottom: 35px;
		position: relative;
		@media #{$lg} {
			font-size: 60px;
			line-height: 70px;
		}
		@media #{$xs} {
			font-size: 35px;
			line-height: 45px;
		}
		@media #{$sm} {
			font-size: 60px;
			line-height: 70px;
		}
		& span{
			position: relative;
			z-index: 5;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				bottom: -45px;
				width: 100%;
				height: 100%;
				background-image: url(../images/hero-line-2.png);
				z-index: -1;
				background-repeat: no-repeat;
				@media #{$xs} {
					bottom: -5px;
				}
				@media #{$sm} {
					bottom: -45px;
				}
			}
		}
	}
	& .text{
		position: relative;
		padding-left: 26px;
		color: $black;
		font-size: 19px;
		line-height: 30px;
		font-family: $light;
		margin-bottom: 56px;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 84px;
			background: $theme-color-3;
		}
	}
	& ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
		& li{
			display: inline-block;
			& a{
				border-radius: 0;
				line-height: 56px;
				padding: 0px;
				& img{
					margin-top: -6px;
				}
				&.main-btn{
					background: $theme-color-3;
					border-color: $theme-color-3;
					color: $white;
					font-size: 14px;
					font-family: $medium;
					text-transform: uppercase;
					letter-spacing: 2px;
					width: 166px;
                    @media #{$xs} {
                        width: 134px;
                        font-size: 12px;
                    }
					&:hover{
						background: #564FFF;
						border-color: #564FFF;
					}
					&.main-btn-2	{
						background: #564FFF;
						color: $white;
						border-color: #564FFF;
						margin-left: 10px;
						width: 150px;
						@media #{$xs} {
							margin-left: 0;
							margin-top: 0px;
                            width: 140px;
						}
						@media #{$sm} {
							margin-left: 10px;
							margin-top: 0px;
						}
						&:hover{
							background: $theme-color-3;
							border-color: $theme-color-3;
						}
					}
				}
			}
		}
	}
}




.hero-6-area{
	position: relative;
	background: $white;
    overflow: hidden;
	&::before{
		position: absolute;
		content: '';
		right: 0;
		bottom: 0;
		height: 450px;
		width: 380px;
		background: #F5F5F5;
	}
}

.hero-6-content{
	padding-top: 200px;
	& span{
		background: rgba(86,79,255,.1);
		display: inline-block;
		color: #564FFF;
		line-height: 40px;
		padding: 0 20px;
		text-transform: uppercase;
		border-radius: 40px;
	}
	& .title{
		font-size: 70px;
		line-height: 74px;
		margin-top: 34px;
		@media #{$lg} {
			font-size: 54px;
			line-height: 64px;
		}
		@media #{$xs} {
			font-size: 35px;
			line-height: 45px;
		}
		@media #{$sm} {
			font-size: 50px;
			line-height: 60px;
		}
	}
	& .text{
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
		color: $black;
		padding-top: 5px;
		padding-right: 60px;
		@media #{$xs} {
			padding-right: 0;
		}
	}
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		padding-top: 67px;
		& li{
			display: inline-block;
            @media #{$xs} {
                display: block;
            }
            @media #{$sm} {
                display: inline-block;
            }
            
			& a{
				background: $theme-color-3;
				color: $white;
				text-transform: uppercase;
				border-color: $theme-color-3;
				border-radius: 0;
				line-height: 56px;
                @media #{$xs} {
                    width: 100%;
                }
                @media #{$sm} {
                    width: auto;
                }
				&:hover{
					background: $theme-color-4;
					border-color: $theme-color-4;
					color: $white;
				}
				&.main-btn-2{
					background: $theme-color-4;
					border-color: $theme-color-4;
					margin-left: 28px;
					@media #{$xs} {
						margin-left: 0;
						margin-top: 20px;
					}
					@media #{$sm} {
						margin-left: 28px;
						margin-top: 0px;
					}
					&:hover{
						background: $theme-color-3;
						border-color: $theme-color-3;
					}
				}
			}
		}
	}
}

.hero-6-thumb{
	margin-right: 50px;
	padding-top: 130px;
	margin-bottom: 140px;
	position: relative;
	@media #{$xs} {
		margin-right: 0;
	}
	& .hero-dot{
		position: absolute;
		right: -85px;
		bottom: -85px;
		@media #{$xs} {
			display: none;
		}
	}
	& .box{
		position: absolute;
		left: -100px;
		bottom: 60px;
		border-radius: 0px;
		background: $theme-color-4;
		height: 160px;
		width: 160px;
		text-align: center;
		padding-top: 20px;
		@media #{$lg} {
			bottom: 0;
		}
		@media #{$md} {
			left: 0;
		}
		@media #{$xs} {
			left: 0;
			bottom: 0;
		}
		& .title{
			font-size: 44px;
			color: $white;
			font-weight: 500;
			margin-bottom: 5px;
		}
		& > span{
			color: $white;
			font-size: 18px;
			font-weight: 500;
			line-height: 28px;
		}
	}
}










.hero-7-area{
	position: relative;
	z-index: 10;
    height: 100%;
    @media #{$xs} {
        height: auto;
    }
    
	& .section__bg{
		position: absolute;
		z-index: -1;
		background: linear-gradient(90deg, rgba(19,191,158,1) 0%, rgba(16,137,113,1) 100%);
		& .hero-shape{
			position: absolute;
			left: 0;
			top: 0;
		}
		& .hero-shape-2{
			position: absolute;
			right: 0;
			top: 0;
			text-align: right;
		}
		& .hero-case{
			position: absolute;
			right: 0;
			bottom: 0;
			text-align: right;
			@media #{$laptop} {
				width: 70%;
			}
			@media #{$lg} {
				width: 65%;
			}
			@media #{$md} {
				width: 47%;
			}
			@media #{$xs} {
				width: 90%;
                display: none;
			}
			@media #{$sm} {
				width: 70%;
                display: none;
			}
		}
		& .hero-line{
			position: absolute;
			left: 300px;
			bottom: 0;
			z-index: -1;
		}
	}
}


.hero-7-content{
	padding-top: 220px;
	padding-bottom: 220px;
	@media #{$xs} {
		text-align: center;
	}
	@media #{$sm} {
		text-align: left;
	}
	& .title{
		font-size: 66px;
		line-height: 72px;
		color: $white;
		@media #{$lg} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 30px;
			line-height: 40px;
		}
		@media #{$sm} {
			font-size: 66px;
			line-height: 72px;
		}
	}
	& .text{
		color: $white;
		font-size: 20px;
		line-height: 25px;
		padding-right: 40px;
		padding-top: 73px;
		@media #{$lg} {
			padding-top: 40px;
		}
		@media #{$xs} {
			padding-top: 0px;
			padding-right: 0;
			font-size: 15px;
		}
		@media #{$sm} {
			font-size: 15px;
		}
	}
	& .store-btns{
		margin: 48px 0 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			& a{
				background: #FAD029;
				height: 67px;
				display: inline-block;
				padding: 13px 26px 0 56px;
				border-radius: 4px;
				position: relative;
				@media #{$lg} {
					padding: 13px 20px 0 50px;
				}
				& img{
					position: absolute;
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
				& span{
					display: block;
					font-size: 13px;
					color: $black;
					line-height: 16px;
				}
				& b{
					color: #383838;
					font-size: 15px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
				&.btn-2{
					background: #025242;
					margin-left: 16px;
					@media #{$xs} {
						margin-left: 0;
						margin-top: 15px;
					}
					@media #{$sm} {
						margin-left: 16px;
						margin-top: 0px;
					}
					& span{
						color: #E0E0E0;
					}
					& b{
						color: $white;
					}
                    &:hover{
                        box-shadow: 0px 0px 40px rgba(2, 82, 66, 0.8);
                    }
				}
                &:hover{
                    box-shadow: 0px 0px 40px rgba(250, 208, 41, 0.8);
                }
			}
		}
	}
	&.hero-12-content{
		padding-bottom: 0;
		padding-top: 180px;
		& .text{
			padding-top: 0;
		}
		& .title{
			@media #{$md} {
				font-size: 50px;
				line-height: 60px;
			}
			@media #{$xs} {
				font-size: 40px;
				line-height: 50px;
			}
			@media #{$sm} {
				font-size: 50px;
				line-height: 60px;
			}
		}
		& .laptop{
			margin-bottom: -60px;
		}
	}
    &.hero-17-content{
        & .title{
            padding-right: 70px;
            @media #{$md} {
                padding-right: 0;
                font-size: 62px;
            }
            @media #{$xs} {
                font-size: 36px;
                line-height: 46px;
                padding-right: 0;
            };
            @media #{$sm} {
                font-size: 48px;
                line-height: 60px;
                padding-right: 0;
            }
        }
        & .text{
            padding-top: 0px;
        }
        & .input-box{
            width: 490px;
            position: relative;
            @media #{$xs} {
                width: auto;
                text-align: left;
            }
            & button{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 172px;
                background: $white;
                border: 0;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #383838;
                @media #{$xs} {
                    position: static;
                    line-height: 68px;
                }
            }
            & input{
                width: 100%;
                line-height: 68px;
                background: #108971;
                border: 0;
                padding-left: 30px;
                color: $white;
                &::placeholder{
                    opacity: 1;
                    color: $white;
                }
            }
        }
        & .hero-item{
            margin-top: 40px;
            & ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                align-items: center;
                & li{
                    & a{
                        color: $white;
                        & span{
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            text-align: center;
                            line-height: 37px;
                            border-radius: 50%;
                            border: 2px solid #fff;
                            font-size: 14px;
                            margin-right: 10px;
                        }
                    }
                    &:last-child{
                        margin-left: 40px;
                        @media #{$xs} {
                            margin-left: 0;
                            margin-top: 30px;
                        }
                        @media #{$sm} {
                            margin-left: 40px;
                            margin-top: 0px;
                        }
                        & a{
                            display: flex;
                            align-items: center;
                            & i{
                                font-size: 30px;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.hero-7-area{
	&.hero-12-area{
		& .hero-social{
			position: absolute;
			left: 30px;
			top: 54%;
			transform: translateY(-50%);
			z-index: 5;
			@media #{$md} {
				display: none;
			}
			@media #{$xs} {
				display: none;
			}
			& ul{
				&.nav{
					display: block;
					& li{
						& a{
							height: 40px;
							width: 40px;
							text-align: center;
							line-height: 38px;
							color: $white;
							font-size: 14px;
							font-weight: 500;
							text-transform: uppercase;
							background-color: transparent;
							display: inline-block;
							border-radius: 50%;
							margin: 7px 0;
							border: 1px solid $white;
						}
					}
				}
			}
		}
		& .scroll-down{
			position: absolute;
			right: 50px;
			bottom: 50px;
			& a{
				height: 50px;
				width: 50px;
				text-align: center;
				line-height: 50px;
				color: #E0E0E0;
				background: rgba(255,255,255,.1);
				border-radius: 50%;
				display: inline-block;
			}
		}
	}
    &.hero-17-area{
        & .hero-social{
            position: absolute;
            left: 30px;
            top: 54%;
            transform: translateY(-50%);
            z-index: 5;
            @media #{$laptop} {
                left: 0px;
            }
            @media #{$lg} {
                left: 0px;
            }
            @media #{$md} {
                display: none;
            }
            @media #{$xs} {
                display: none;
            }
            & ul{
                &.nav{
                    display: block;
                    & li{
                        & a{
                            height: 40px;
                            width: 40px;
                            text-align: center;
                            line-height: 38px;
                            color: $white;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: uppercase;
                            background-color: transparent;
                            display: inline-block;
                            border-radius: 50%;
                            margin: 7px 0;
                            border: 1px solid $white;
                        }
                    }
                }
            }
        }
        & .scroll-down{
			position: absolute;
			left: 30px;
			bottom: 50px;
			& a{
				height: 50px;
				width: 50px;
				text-align: center;
				line-height: 50px;
				color: #E0E0E0;
				background: rgba(255,255,255,.1);
				border-radius: 50%;
				display: inline-block;
			}
        }
    }
}






.hero-8-area{
	background: #F0323C;
	padding-top: 220px;
	padding-bottom: 140px;
	overflow: hidden;
	position: relative;
    height: 100%;
    @media #{$xs} {
        height: auto;
    }
	& .hero-social{
		position: absolute;
		left: 30px;
		top: 54%;
		transform: translateY(-50%);
		z-index: 5;
		@media #{$laptop} {
			left: 0px;
		}
		@media #{$lg} {
			left: 0px;
		}
		@media #{$md} {
			display: none;
		}
		@media #{$xs} {
			display: none;
		}
		& ul{
			&.nav{
				display: block;
				& li{
					& a{
						height: 40px;
						width: 40px;
						text-align: center;
						line-height: 38px;
						color: $white;
						font-size: 14px;
						font-weight: 500;
						text-transform: uppercase;
						background-color: transparent;
						display: inline-block;
						border-radius: 50%;
						margin: 7px 0;
						border: 1px solid $white;
					}
				}
			}
		}
	}
    &.hero-15-area{
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: '';
            left: 185px;
            top: 0;
            background-image: url(../images/hero-line-15.png);
            height: 340px;
            width: 960px;
            background-size: 100% 100%;
            z-index: -1;
        }
        & .scroll-down{
            position: absolute;
            left: 30px;
            bottom: 50px;
            & a{
                height: 50px;
                width: 50px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                color: $white;
                display: 20px;
                background: rgba(255, 255, 255, 0.1);
            }
        }
        & .hero-8-content{
            & .input-box{
                & a{
                    background: $white;
                    line-height: 68px;
                    width: 220px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $regular;
                    display: inline-block;
                    color: $black;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    &:hover{
                        background: #BF141D;
                        color: $white;
                    }
                }
            }
        }
        &.hero-16-area{
            background: #3863F6;
            & .hero-8-play {
                & a{
                    color: #3863F6;
                }
            }
        }
    }
}


.hero-8-content{
	position: relative;
	z-index: 6;
	& .title{
		font-size: 66px;
		line-height: 72px;
		color: $white;
		margin-bottom: 17px;
		@media #{$xs} {
			font-size: 30px;
			line-height: 40px;
		}
		@media #{$sm} {
			font-size: 50px;
			line-height: 60px;
		}
	}
	& span{
		color: $white;
		font-size: 20px;
		padding-bottom: 57px;
		display: inline-block;
	}
	& .input-box{
		width: 490px;
		position: relative;
		@media #{$xs} {
			width: 100%;
		}
		& input{
			width: 100%;
			background: #BF141D;
			border: 0;
			color: $white;
			height: 68px;
			padding-left: 25px;
			&::placeholder{
				opacity: 1;
				color: $white;
			}

		}
		& button{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 172px;
			background: $white;
			border: 0;
			color: $black;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			@media #{$xs} {
				position: static;
				height: 60px;
			}
			@media #{$sm} {
				position: absolute;
				height: 100%;
			}
			& img{
				padding-left: 5px;
			}
		}
	}
	& .brand-list{
		& .brand-item{

		}
	}

}

.hero-8-play{
	margin-right: 50px;
	position: relative;
	z-index: 1;
	@media #{$md} {
		margin-right: 0;
		margin-top: 40px;
	}
	@media #{$xs} {
        display: none;
	}
	& a{
		height: 80px;
		width: 80px;
		text-align: center;
		line-height: 80px;
		border-radius: 50%;
		background: $white;
		color: $theme-color-3;
		position: relative;
		z-index: 5;
		display: inline-block;
		&::before{
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url(../images/play-dot.png);
			height: 715px;
			width: 715px;
			z-index: -1;

		}
	}
}











.hero-9-area{
	position: relative;
	z-index: 10;
    height: 100%;
    @media #{$xs} {
        height: auto;
    }
	& .section__bg{
		background: linear-gradient(312deg, rgba(69,16,138,1) 0%, rgba(16,5,77,1) 100%);
	}
	& .hero-thumb{
		position: absolute;
		right: 110px;
		top: 50%;
		transform: translateY(-50%);
		@media #{$laptop} {
			right: 70px;
		}
		@media #{$lg} {
			right: 50px;
			width: 50%;
		}
		@media #{$md} {
			position: static;
			padding-bottom: 200px;
			transform: translateY(0);
			width: 100%;
			text-align: center;
		}
		@media #{$xs} {
			position: static;
			padding-bottom: 200px;
			transform: translateY(0);
			width: 100%;
			text-align: center;
		}

	}
}


.hero-9-content{
	padding-top: 240px;
	padding-bottom: 230px;
	@media #{$md} {
		padding-bottom: 30px;
	}
	@media #{$xs} {
		padding-bottom: 30px;
		text-align: center;
	}
	@media #{$sm} {
		text-align: left;
	}
	& .title{
		color: $white;
		font-size: 60px;
		line-height: 70px;
		padding-right: 30px;
		margin-bottom: 10px;
		@media #{$lg} {
			font-size: 46px;
			line-height: 56px;
		}
		@media #{$xs} {
			padding-right: 0;
			font-size: 31px;
			line-height: 46px;
			padding-bottom: 30px;
		}
		@media #{$sm} {
			padding-right: 0;
			font-size: 60px;
			line-height: 70px;
			padding-bottom: 30px;
		}
	}
	& span{
		font-size: 18px;
		font-weight: 500;
		color: $white;
		display: inline-block;
	}
	& a{
		background: $white;
		border-radius: 5px;
		color: #383838;
		border-color: $white;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 68px;
		padding: 0 30px;
		margin-top: 50px;
		&:hover{
			color: $white;
		}
	}
}








.hero-3-area{
	&.hero-10-area{
		background: #F5F8FD;
		& .hero-thumb-10{
			position: absolute;
			right: 120px;
			bottom: 0;
			width: 43%;
			@media #{$laptop} {
				right: 30px;
			}
			@media #{$lg} {
				right: 30px;
			}
			@media #{$md} {
				position: static;
				width: 100%;
				padding-top: 50px;
			}
			@media #{$xs} {
				position: static;
				width: 100%;
				padding-top: 50px;
			}
		}
	}
}



.hero-3-content{
	&.hero-10-content{
		padding-top: 295px;
		padding-bottom: 110px;
		padding-left: 0;
		padding-right: 35px;
		margin-left: 0;
		@media #{$lg} {
			padding-right: 0;
		}
		@media #{$md} {
			padding-bottom: 0;
			margin-right: 0;
		}
		@media #{$xs} {
			padding-bottom: 0;
			padding-right: 0;
		}
		& > span{
			color: $theme-color-2;
		}
		& .title{
			& span{
				&::before{
					background-image: url(../images/hero-line-6.png);
				}
			}
		}
		& .text{
			&::before{
				background: $theme-color-2;
			}
		}
		& ul{
			& li{
				& a{
					background: $theme-color-2;
					border-color: $theme-color-2;
					&:hover{
						background: $theme-color-4;
						border-color: $theme-color-4;
					}
					&.main-btn-2{
						background: $theme-color-4;
						border-color: $theme-color-4;
						&:hover{
							background: $theme-color-2;
							border-color: $theme-color-2;
						}
					}
				}
			}
		}
	}
}











.page-title-area{
	position: relative;
	z-index: 10;
	& .section__bg{
		background-image: url(../images/page-bg.jpg);
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: $black;
			opacity: .4;
		}
	}
	&.page-title-2-area{
		& .section__bg{
			background-image: url(../images/page-bg-2.jpg);
		}
	}
}


.page-title-content{
	padding-top: 210px;
	padding-bottom: 30px;
	& > .title{
		color: $white;
		font-size: 60px;
		line-height: 70px;
        text-transform: capitalize;
		@media #{$lg} {
			font-size: 46px;
			line-height: 56px;
		}
		@media #{$xs} {
			font-size: 28px;
			line-height: 38px;
		}
		@media #{$sm} {
			font-size: 46px;
			line-height: 56px;
		}
	}
	& nav{
		display: inline-block;
		& ol{
			background-color: transparent;
			& li{
				color: $white;
				font-size: 18px;
				font-weight: 500;
				& a{
					color: $white;
				}
				&.active{
					color: $white;
				}
			}
		}
	}
	& .scroll-to-down{
		& a{
			display: inline-block;
			height: 50px;
			width: 50px;
			text-align: center;
			line-height: 50px;
			background: #E0E0E0;
			color: #383838;
			font-size: 20px;
			border-radius: 50%;
		}
	}
	&.page-title-content-2{
		padding-top: 200px;
		& .info{
			display: inline-block;
			text-align: left;
			padding-left: 65px;
			position: relative;
			margin-top: 14px;
			margin-bottom: 90px;
			& img{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			& .title{
				color: $white;
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 0px;
			}
			& span{
				color: $white;
				font-size: 14px;
			}
		}
	}
}
.breadcrumb-item + .breadcrumb-item::before {
	color: $white;
	content: "/";
}







.hero-slider-2{
    height: 100%;
}

.hero-14-area{
	position: relative;
	z-index: 10;
    height: 100%;
    @media #{$xs} {
        height: auto;
    }
	& .section__bg{
		background-image: url(../images/hero-bg-14.jpg);
		background-size: 100% 100%;
		overflow: hidden;
		& .shape-1{
			position: absolute;
			left: -30px;
			top: 0;
		}
		& .shape-2{
			position: absolute;
			right: -30px;
			bottom: 0;
		}
		& .scroll-to-down{
			position: absolute;
			left: 30px;
			bottom: 50px;
			@media #{$xs} {
				display: none;
			}

			& a{
				background: rgba(0,0,0,.1);
				display: inline-block;
				height: 50px;
				width: 50px;
				text-align: center;
				line-height: 50px;
				border-radius: 50%;
				color: $white;
				font-size: 22px;
				
			}
		}
		& .hero-line{
			position: absolute;
			right: 0;
			top: 80%;
			transform: translateY(-50%);
		}
		& .hero-slider-counter{
			position: absolute;
			right: 30px;
			bottom: 50px;
			& span{
				color: $white;
				font-weight: 500;
				font-size: 30px;
				& span{
					font-size: 18px;
				}
			}
		}
	}
}


.hero-14-content{
	padding-top: 290px;
	padding-bottom: 90px;
	& span{
		font-size: 13px;
		font-weight: 500;
		color: $black;
		text-transform: uppercase;
		background: rgba(255,255,255,.15);
		display: inline-block;
		line-height: 40px;
		padding: 0 17px;
		border-radius: 40px;
	}
	& .title{
		font-size: 66px;
		line-height: 72px;
		padding-right: 60px;
		margin-bottom: 11px;
		padding-top: 23px;
		@media #{$lg} {
			font-size: 50px;
			line-height: 60px;
		}
		@media #{$xs} {
			font-size: 32px;
			line-height: 40px;
			padding-right: 0;
		}
		@media #{$sm} {
			font-size: 50px;
			line-height: 60px;
			padding-right: 0;
		}
	}
	& .text{
		font-size: 20px;
		color: $black;
		padding-bottom: 31px;

	}
	& > a{
		width: 220px;
		line-height: 60px;
		padding: 0;
		border-radius: 40px;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		&:hover{
			background-color: $black !important;
			border-color: $black;
			color: $white;
		}
	}
	& ul{
		margin-top: 120px;
		& li{
			& a{
				height: 40px;
				width: 40px;
				text-align: center;
				line-height: 40px;
				border: 1px solid $white;
				border-radius: 50%;
				display: inline-block;
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				margin-right: 15px;
			}
		}
	}
}


.hero-14-play{
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
    margin-right: 170px;
	& a{
		height: 80px;
		width: 80px;
		text-align: center;
		line-height: 80px;
		background: $white;
		border-radius: 50%;
		color: #A4AAB0;
		font-size: 20px;
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: $white;
            z-index: -1;
            animation: pulse-border-2 2s linear infinite;
        }
		@media #{$md} {
			display: none;
		}
		@media #{$xs} {
			display: none;
		}
	}
}