


/*===========================
    21.OUR CASE css 
===========================*/




.our-case-area{
	background: $white;
    padding-top: 84px;
	& .project-title{
		padding-bottom: 10px;
        & .title{
            font-family: $playfair;
        }
	}
    &.our-case-15-area{
        padding-top: 86px;
        background: #F5F5F5;
        & .case-tab-btn {
            & .nav {
                & .nav-link{
                    background: $white;
                    & .title{
                        font-family: $regular;
                    }
                    &.active{
                        background: #F0323C;
                        & span{
                            &::before{
                                background: $white;
                            }
                        }
                    }
                    & span{
                        &::before{
                            background: #F0323C;
                        }
                    }
                }
            }
        }
        & .case-content{
            & .tab-content{
                & .item{
                    & .case-thumb{
                        & .case-btn{
                            & a{
                                & span{
                                    background: #F0323C;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.case-tab-btn{
	& .nav{
		& .nav-link{
			padding: 17px 45px 8px 30px;
			margin: 0;
			background: #F7F7F7;
			margin-bottom: 10px;
			border-radius: 0;
			@media #{$lg} {
				padding: 17px 30px 8px 30px;
			}
			@media #{$xs} {
				padding: 17px 30px 8px 30px;
			}
			& span{
				font-size: 16px;
				font-weight: 500;
				color: $black;
				text-transform: uppercase;
				padding-left: 20px;
				position: relative;
				letter-spacing: 1px;
				&::before{
					position: absolute;
					content: '';
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					height: 8px;
					width: 8px;
					background: $theme-color-2;
				}
			}
			& .title{
				font-size: 22px;
				line-height: 30px;
				font-weight: 500;
				font-family: $playfair;
				padding-top: 5px;
				@media #{$lg} {
					font-size: 18px;
				}
				@media #{$md} {
					font-size: 18px;
				}
				@media #{$xs} {
					font-size: 18px;
				}
				@media #{$sm} {
					font-size: 22px;
				}
			}
			&.active{
				background: $theme-color-2;
				& span{
					color: $white;
					&::before{
						background: $white;
					}
				}
				& .title{
					color: $white;
				}
			}
		}
	}
	&.case-tab-btn-11{
		& .nav{
			& .nav-link{
				border-radius: 5px;
				& .title{
					font-family: $regular;
				}
				& span{
					&::before{
						background: #4A7AFF;
					}
				}
				&.active{
					background: #4A7AFF;
					& span{
						&::before{
							background: $white;
						}
					}
				}
			}
		}
	}
}




.case-content{
	& .tab-content{
		& .item{
			& .case-thumb{
				position: relative;
				& > img{
					width: 100%;
				}
				& .case-btn{
					position: absolute;
					right: 10px;
					top: 10px;
					& a{
						background: $white;
						display: inline-block;
						line-height: 52px;
						border-radius: 40px;
						color: $black;
						padding: 0 16px 0 11px;
						font-size: 14px;
						text-transform: uppercase;
						font-weight: 400;
						letter-spacing: 1px;
						& span{
							display: inline-block;
							background: $theme-color-2;
							height: 30px;
							width: 30px;
							line-height: 27px;
							text-align: center;
							border-radius: 50%;
						}
					}

				}
			}
			& .case-text{
				padding-top: 26px;
			}
		}
	}
}



