


/*===========================
    10.PRICING css 
===========================*/




.pricing-area{
	background: $black;
	padding-top: 88px;
	padding-bottom: 100px;
    &.pricing-page-1{
        padding-top: 70px;
    }
}




.pricing-item{
	background: $white;
	padding: 44px 40px 40px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	color: #383838;
	&::before{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 162px;
		background: #235C51;
		border-radius: 10px;
		z-index: -1;
	}
	& .title{
		color: $white;
		margin-bottom: 4px;
		font-size: 40px;
		line-height: 50px;
	}
	& span{
		display: inline-block;
		font-size: 18px;
		font-family: $medium;
		color: $theme-color;
		padding-bottom: 64px;
	}
	& ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-top: 6px;
		& li{
			font-size: 18px;
			font-family: $medium;
			color: $black;
			line-height: 38px;
			padding-left: 20px;
			position: relative;
			margin-bottom: 9px;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background: $theme-color-2;
			}
		}
	}
	& a{
		width: 100%;
		border: 1px solid $theme-color-2;
		background-color: transparent;
		color: $theme-color-2;
		text-transform: capitalize;
		border-radius: 5px;
		margin-top: 30px;
		&:hover{
			background: $theme-color;
			border-color: $theme-color;
			color: $black;
		}
	}
	&.center{
		@media #{$md} {
			display: none;
		}
		&::before{
			background: $theme-color;
		}
		& .title{
			color: $black;
		}
		& span{
			color: #383838;
		}
		& a{
			background: $theme-color;
			border-color: $theme-color;
			color: $black;
			&:hover{
				background-color: transparent;
				color: $theme-color-2;
				border-color: $theme-color-2;
			}
		}
		& .tag{
			background: #383838;
			line-height: 30px;
			width: 165px;
			text-align: center;
			color: $white;
			position: absolute;
			right: -45px;
			top: 20px;
			transform: rotate(45deg);
		}
	}
}













.pricing-2-area{
	background: $black;
	padding-top: 100px;
	padding-bottom: 108px;
	&.pricing-page-area{
		padding-top: 70px;
		& .section-title{
			color: $white;
			& .title{
				color: $white;
			}
		}
	}

}


.pricing-2-item{
	position: relative;
	z-index: 10;
	margin-right: 30px;
	@media #{$xs} {
		margin-right: 0;
	}
	&::before{
		content: '';
		position: absolute;
		right: -8px;
		bottom: -8px;
		height: 100%;
		width: 100%;
		background: linear-gradient(330deg, #ff564f 0%, #fad029 80%);
		border-radius: 5px;
		z-index: -1;
	}
	& .item{
		background: $white;
		padding: 57px 50px;
		border-radius: 5px;
		position: relative;
		z-index: 5;
		@media #{$lg} {
			padding: 57px 30px;
		}
		@media #{$xs} {
			padding: 20px;
		}
		@media #{$sm} {
			padding: 50px;
		}
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-image: url(../images/pricing-dot.png);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			z-index: -1;
		}
		& .title{
			font-size: 40px;
		}
		& .text{
			font-family: $light;
			color: #383838;
			margin-bottom: -8px;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
			& li{
				font-size: 18px;
				line-height: 50px;
				color: $black;
				& img{
					padding-right: 12px;
					@media #{$xs} {
						padding-right: 0;
					}
					@media #{$sm} {
						padding-right: 10px;
					}
				}
				&:nth-child(4){
					font-family: $light;
					& span{
						font-family: $medium;
						position: relative;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							bottom: -7px;
							height: 2px;
							width: 100%;
							border-bottom: 2.5px dashed #0f1016;
						}
					}
				}
				&:nth-child(7){
					font-family: $light;
					& span{
						font-family: $medium;
						position: relative;
						&::before{
							position: absolute;
							content: '';
							left: 0;
							bottom: -7px;
							height: 2px;
							width: 100%;
							border-bottom: 2.5px dashed #0f1016;
						}
					}
				}
				&:nth-child(8){
					opacity: .35;
				}
				&:nth-child(9){
					opacity: .35;
				}
			}
		}
		& a{
			width: 100%;
			background-color: transparent;
			border: 1px solid #000;
			color: $black;
			border-radius: 10px;
			margin-top: 33px;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			@include transition(0.3s);
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 500;
			z-index: 5;
			letter-spacing: 1px;
			&::before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: linear-gradient(90deg, rgba(250,208,41,1) 0%, rgba(255,86,79,1) 100%);
				@include transition(0.3s);
				z-index: -1;
				opacity: 0;

			}
			&:hover{
				border: 1px solid transparent;
				color: $white;
				&::before{
					opacity: 1;
				}
			}
		}
	}
	&.item-2{
		& .item{
			& ul{
				& li{
					&:nth-child(8){
						opacity: 1;
					}
					&:nth-child(9){
						opacity: 1;
					}
				}
			}
			& a{
				border: 1px solid transparent;
				color: $white;
				&::before{
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					opacity: 1;
				}
				&:hover{
					border: 1px solid #000;
					color: $black;
					&::before{
						opacity: 0;
						
					}
				}
			}
		}
	}
	&.pricing-9-item{
		box-shadow: 0px 30px 90px rgba(0, 0, 0, 0.15);
		&::before{
			background: linear-gradient(90deg, rgba(69,16,138,1) 0%, rgba(16,5,77,1) 100%);
		}
		& .item{
			& a{
				&::before{
					background: linear-gradient(90deg, #DC3DAA 0%, #7712C8 100%);
				}
			}
		}
	}
	&.pricing-10-item{
		box-shadow: 0px 30px 90px rgba(0, 0, 0, 0.15);
		&::before{
			background: $theme-color-2;
			border-radius: 0;
		}
		& .item{
			border-radius: 0;
            & .title{
                font-family: $playfair;
            }
			& a{
				background: $white;
				border-radius: 0px;
				&::before{
					background: $theme-color-2;
				}
			}
		}
	}
}

.pricing-9-area{
	background: $white;
	padding-bottom: 10px;
	& .section-title-9{
		padding-bottom: 10px;
	}
	&.pricing-10-area{
		padding-top: 87px;
        & .project-title{
            & .title{
                font-family: $playfair;
            }
        }
	}
}







.pricing-3-area{
	background: $black;
	padding-top: 100px;
	padding-bottom: 100px;
    &.pricing-page-3{
        & .pricing-3-content {
            & .title{
                font-family: $regular;
            }
        }
    }
    & .pricing-3-box{
        & .title{
            font-family: $regular;
        }
    }
    &.pricing-15-area{
        & .pricing-3-content{
            & .title{
                font-family: $regular;
            }
            & .info{
                &::before{
                    background: #F0323C;
                }
            }
        }
        & .pricing-3-box {
            & a{
                background: #F0323C;
                border: 0;
                &:hover{
                    background: #BF141D;
                }
            }
        }
    }
    &.pricing-16-area{
        & .pricing-3-content {
            & .title{
                font-family: $regular;
            }
            & .info{
                &::before{
                    background: #3863F6;
                }
            }
        }
        & .pricing-3-box {
            & a{
                background: #3863F6;
                border: 0;
                &:hover{
                    background: #F6BB38;
                }
            }
        }
    } 
}


.pricing-3-content{
	color: $white;
	padding-left: 100px;
	padding-right: 95px;
	@media #{$lg} {
		padding-left: 0;
		padding-right: 0;
	}
	@media #{$md} {
		padding-left: 0;
		padding-right: 0;
	}
	@media #{$xs} {
		padding-left: 0;
		padding-right: 0;
	}
	& .title{
		color: $white;
		font-size: 40px;
		line-height: 48px;
		font-weight: 600;
		font-family: $playfair;
		padding-bottom: 29px;
	}
	& .text{
		margin-top: 28px;
	}
	& .info{
		position: relative;
		padding-left: 23px;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 73px;
			width: 3px;
			background: #564FFF;
		}
		& ul{
			margin: 0;
			padding: 0;
			list-style: none;
			& li{
				color: $white;
				line-height: 40px;
				margin-top: 13px;
			}
		}
	}
}


.pricing-3-box{
	padding: 43px 40px 40px;
	background: $white;
	@media #{$md} {
		margin-top: 30px;
	}
	@media #{$xs} {
		margin-top: 30px;
		padding: 43px 10px 40px;
	}
	@media #{$sm} {
		padding: 43px 40px 40px;
	}
	& .title{
		font-size: 40px;
		font-weight: 600;
		font-family: $playfair;
	}
	& .text{
		font-weight: 300;
		color: $black;
	}
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 17px;
			line-height: 50px;
			color: $black;
			@media #{$xs} {
				font-size: 15px;
			}
			& span{
				& img{
					padding-right: 18px;
					@media #{$xs} {
						padding-right: 5px;
					}
				}
			}
		}
	}
	& a{
		width: 100%;
		padding: 0;
		line-height: 66px;
		background: $theme-color-3;
		border: 2px solid $theme-color-3;
		color: $white;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1px;
		border-radius: 0;
		margin-top: 40px;
		&:hover{
			background-color: $theme-color-4;
			color: $white;
			border-color: $theme-color-4;
		}
	}
}










.pricing-7-area{
	padding-top: 86px;
	padding-bottom: 100px;
	background: $black;	
	& .section-white{
		color: $white;
		& .title{
			color: $white;
		}
		
	}
}











.pricing-12-area{
	padding-top: 91px;
	padding-bottom: 9px;
    & .pricing-2-item{
        &.pricing-10-item {
            & .item{
                & .title{
                    font-family: $regular;
                }
            }
        }
    }
}












