


/*===========================
    20.SCREENSHORT css 
===========================*/





.screenshot-area{
	background: #F5F8FD;
	padding-top: 86px;
	padding-bottom: 94px;
}

.screenshot-item{
	margin-top: 110px;
	margin-bottom: 140px;
	@include transition(0.3s);
	& img{
		width: 100%;
		box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		overflow: hidden;
	}
}

.screenshot-active{

	& .slick-current{
		.screenshot-item{
			transform: scale(1.35);
			position: relative;
			z-index: 5;
			box-shadow: none;
			margin-top: 110px;
			margin-bottom: 0;
			@media #{$lg} {
				transform: scale(1.3);
			}
			@media #{$md} {
				transform: scale(1);
			}
			@media #{$xs} {
				transform: scale(1);
			}
			&::before{
				content: '';
				position: absolute;
				top: 48%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				background-image: url(../images/case.png);
				background-position: center center;
				background-repeat: no-repeat;
				width: 280px;
				height: 662px;
				background-size: 100% auto;
				-webkit-transform: translate(-50%, -49%) scaleY(0.95);
				transform: translate(-50%, -49%) scaleY(0.95);
				@media #{$laptop} {
					width: 240px;
					height: 505px;
					top: 49%;
				}
				@media #{$lg} {
					width: 330px;
					top: 49%;
				}
				@media #{$md} {
					display: none;
				}
				@media #{$xs} {
					display: none;
				}
			}
		}
	}
	& .slick-dots{
		position: absolute;
		left: 50%;
		bottom: -10px;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;
		& li{
			display: inline-block;
			& button{
				height: 6px;
				width: 6px;
				border: 0;
				font-size: 0px;
				border-radius: 50%;
				background: #E0E0E0;
				padding: 0;
				margin: 0 5px;
				@include transition(0.3s);
			}
			&.slick-active{
				& button{
					background: $theme-color-2;
					width: 25px;
					border-radius: 10px;
				}
			}
		}
	}

}








.download-area{
	background: linear-gradient(90deg, rgba(16,137,113,1) 0%, rgba(19,191,158,1) 100%);
	padding-top: 62px;
	padding-bottom: 65px;
}

.download-content{
	@media #{$xs} {
		text-align: center;
	}
	@media #{$sm} {
		text-align: left;
	}
	& .title{
		color: $white;
		font-size: 40px;
		line-height: 48px;
		@media #{$xs} {
			font-size: 32px;
		}
	}
	& span{
		font-weight: 300;
		color: $white;
	}
}

.download-btn{
	@media #{$xs} {
		text-align: center;
	}
	@media #{$sm} {
		text-align: left;
	}
	& ul{
		margin: 25px 0 0 70px;
		padding: 0;
		list-style: none;
		@media #{$lg} {
			margin: 25px 0 0 50px;
		}
		@media #{$xs} {
			margin: 25px 0 0 0px;
		}
		@media #{$md} {
			margin: 25px 0 0 0px;
		}
		& li{
			display: inline-block;
			& a{
				background: #FAD029;
				height: 67px;
				display: inline-block;
				padding: 13px 26px 0 56px;
				border-radius: 4px;
				position: relative;
				& img{
					position: absolute;
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
				& span{
					display: block;
					font-size: 13px;
					color: $black;
					line-height: 16px;
				}
				& b{
					color: #383838;
					font-size: 15px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
				&.btn-2{
					background: #025242;
					margin-left: 16px;
					@media #{$xs} {
						margin-left: 0;
						margin-top: 15px;
					}
					@media #{$sm} {
						margin-left: 16px;
						margin-top: 0px;
					}
					& span{
						color: #E0E0E0;
					}
					& b{
						color: $white;
					}
                    &:hover{
                        box-shadow: 0px 0px 40px rgba(2, 82, 66, 0.8);
                    }
				}
                &:hover{
                    box-shadow: 0px 0px 40px rgba(250, 208, 41, 0.8);
                }
			}
		}
	}
}