


/*===========================
    22.SINGLE POST css 
===========================*/









.single-post-area{
	padding-bottom: 100px;
}


.single-post-sidebar{

}


.sidebar-search{
	& .input-box{
		position: relative;
		& input{
			width: 100%;
			height: 66px;
			background: #E0E0E0;
			border-radius: 10px;
			border: 0;
			padding-left: 25px;
			color: $black;
			&::placeholder{
				opacity: 1;
				color: $black;
			}
		}
		& button{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 66px;
			background: #FFAB4A;
			border-radius: 10px;
			border: 0;
			color: $white;
			font-size: 18px;
			color: $black;
			font-size: 20px;
		}
	}
}


.sidebar-categories{
	& .title{
		font-size: 30px;
		font-weight: 600;
		position: relative;
		padding-left: 20px;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 30px;
			background: #FFAB4A;
		}
	}
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			& a{
				font-size: 20px;
				line-height: 44px;
				color: $black;
				display: flex;
				align-items: center;
				position: relative;
				& span{
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					height: 28px;
					width: 28px;
					text-align: center;
					line-height: 20px;
					background: #FFAB4A;
					border-radius: 50%;
					opacity: 0;
					@include transition(0.3s);
				}
				& > img{
					padding-right: 15px;
				}
				&:hover{
					color: #FFAB4A;
					& span{
						opacity: 1;
					}
				}
			}
		}
	}
}



.sidebar-post{
	& > .title{
		font-size: 30px;
		font-weight: 600;
		position: relative;
		padding-left: 20px;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 30px;
			background: #FFAB4A;
		}
	}
	& .post-items{
		& .item{
			display: flex;
			align-items: center;
			& .thumb{
				min-width: 110px;
			}
			& .content{
				padding-left: 20px;
				& .title{
					font-size: 20px;
					font-weight: 500;
					line-height: 25px;
					margin-bottom: 0px;
					@media #{$lg} {
						font-size: 16px;
					}
					@media #{$xs} {
						font-size: 15px;
					}
					@media #{$sm} {
						font-size: 20px;
					}
				}
				& span{
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}
}





.sidebar-gallery{
	& > .title{
		font-size: 30px;
		font-weight: 600;
		position: relative;
		padding-left: 20px;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 30px;
			background: #FFAB4A;
		}
	}
	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		& li{
			margin-right: 10px;
			margin-top: 10px;
		}
	}
}

.sidebar-newsletter{
	& .footer-newsletter-item{
		background: #FFAB4A;
		& .title{
			color: $black;
		}
	}
}







.single-post-content{}



.single-post-topbar{
	display: flex;
	margin-bottom: 5px;
	@media #{$xs} {
		display: block;
	}
	& ul{
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		@media #{$xs} {
			flex-wrap: wrap;
		}
		& li{
			display: inline-block;
			line-height: 36px;
			background: #F5F5F5;
			padding: 0 26px;
			border-radius: 30px;
			font-size: 15px;
			font-weight: 400;
			color: $black;
			display: flex;
			align-items: center;
			margin-right: 15px;
			@media #{$lg} {
				padding: 0 10px;
				margin-right: 6px;
			}
			@media #{$md} {
				margin-right: 7px;
			}
			@media #{$xs} {
				margin-top: 5px;
			}
			& img{
				margin-right: 8px;
			}
		}
	}
	& .social{
		padding-left: 5px;
		@media #{$xs} {
			margin-top: 20px;
		}
		& ul{
			& li{
				padding: 0;
				& a{
					height: 36px;
					width: 36px;
					color: #383838;
					text-align: center;
					border-radius: 50%;
					&:hover{
						background: #FFAB4A;
						color: $black;
					}
				}
			}
		}
	}
}


.post-thumb{
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	& a{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 80px;
		width: 80px;
		text-align: center;
		line-height: 80px;
		background: #FFAB4A;
		color: $white;
		border-radius: 50%;
	}
	& span{
		color: $white;
		font-size: 18px;
		font-weight: 500;
		position: absolute;
		left: 20px;
		bottom: 15px;
	}
	& img{
		width: 100%;
	}
}

.post-content{
	color: #383838;
	& ul{
		margin: 0;
		padding: 50px 0 10px;
		padding-left: 16px;
		& li{
			font-size: 17px;
			font-weight: 400;
			line-height: 35px;
			color: #383838;
			&:nth-child(2){
				text-decoration: underline;
			}
		}
	}
	& .post-quote-item{
		position: relative;
		padding-left: 38px;
		font-size: 18px;
		font-weight: 500;
		padding-right: 7px;
		margin-top: 55px;
		@media #{$xs} {
			font-size: 15px;
			padding-left: 20px;
			padding-right: 0;
		}
		&::before{
			position: absolute;
			content: '';
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 100%;
			background: #FFAB4A;
		}
		& .info{
			padding-left: 65px;
			position: relative;
			& img{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			& .title{
				margin-bottom: 0;
				font-size: 16px;
				font-weight: 600;
			}
			& span{
				font-size: 14px;
			}
		}
	}
}



.post-details-item{
	padding-top: 40px;
	& .title{
		font-size: 25px;
		line-height: 30px;
	}
	& .text{
		margin-top: 30px;
	}
}








.post-next{
	border-top: 1px dashed rgba(56,56,56,.15);
	margin-top: 54px;
	& .prev-post{
		position: relative;
		padding-left: 20px;
		margin-top: 50px;
		font-size: 20px;
		font-weight: 500;
		color: $black;
		padding-right: 10px;
		@media #{$lg} {
			padding-left: 10px;
			padding-right: 0;
		}
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 100%;
			background: #E0E0E0;
		}
		& span{
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			color: #FFAB4A;
			letter-spacing: 1px;
		}
		& a{
			color: $black;
		}
	}
}










.post-form-area{
	padding-top: 90px;
	padding-bottom: 100px;
}

.post-form-title{
	& .title{
		font-size: 30px;
		font-weight: 600;
		color: $black;
	}
}



.post-form-item{
	& .input-box{
		& input{
			width: 100%;
			background: #F5F5F5;
			border: 0;
			border-radius: 10px;
			padding-left: 25px;
			height: 60px;
			font-size: 16px;
			font-weight: 400;
			color: $black;
			&::placeholder{
				opacity: 1;
				color: $black;
			}
		}
		& textarea{
			width: 100%;
			background: #F5F5F5;
			border: 0;
			border-radius: 10px;
			padding-left: 25px;
			height: 130px;
			font-size: 16px;
			font-weight: 400;
			color: $black;
			resize: none;
			padding-top: 15px;
			&::placeholder{
				opacity: 1;
				color: $black;
			}
		}
		& button{
			background: #FFAB4A;
			font-size: 18px;
			font-weight: 500;
			color: $black;
		}
	}
}





.post-news{
	margin-top: 97px;
	 & .post-news-title{
	 	& .title{
			font-size: 30px;
			font-weight: 600;
	 	}
	 }
	 & .post-news-items{
	 	& .item{
	 		position: relative;
	 		margin-left: 70px;
	 		border-bottom: 1px dashed rgba(56, 56, 56, 0.15);
	 		color: $black;
	 		& span{
	 			font-size: 18px;
	 			font-weight: 600;
	 			color: $black;
	 		}
	 		& img{
	 			position: absolute;
	 			left: -70px;
	 			top: 5px;

	 		}
	 		&.item-2{
	 			@media #{$xs} {
	 				padding-left: 0;
	 			}
	 			& img{
	 				left: -40px;
	 				@media #{$xs} {
	 					left: -70px;
	 				}
	 			}
	 		}
	 		& a{
	 			position: absolute;
	 			right: 0;
	 			top: 0;
	 			color: #FFAB4A;
	 		}
	 		&.item-4{
	 			border-bottom: 0;
	 		}
	 	}
	 }
}

