




/*===========================
    7.TESTIMONIAL css 
===========================*/



.testimonial-area{
	background: $black;
	padding-top: 88px;
	padding-bottom: 143px;
	&.testimonial-5-area{
		padding-top: 68px;
		& .section-title{
			padding-bottom: 0;
			& .title{
				margin-bottom: 10px;
			}
		}
	}
	&.about-testimonial-area{
		background: $white;
		& .section-title{
			& .title{
				color: $black;
			}
		}
	}
    &.testimonial-16-area{
        & .testimonial-active{
            & .slick-current{
                & .testimonial-item{
                    & .quote{
                        & svg{
                            & path{
                                fill: #3863F6;
                            }
                        }
                    }
                }
            }
            & .slick-dots{
                & li{
                    &.slick-active{
                        & button{
                            background: #3863F6;
                        }
                    }
                }
            }
        }
    }
}



.testimonial-item{
	background: #383838;
	border-radius: 5px;
	padding: 35px 30px 40px;
	color: $white;
	@include transition(0.3s);
	& .quote{
		padding-bottom: 20px;
		& svg{
			& path{
				@include transition(0.3s);
			}
		}
	}
	& .info{
		position: relative;
		padding-left: 70px;
		margin-top: 60px;
		@media #{$lg} {
			padding-left: 65px;
		}
		& img{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		& .title{
			margin: 0 0 3px;
			color: $white;
			font-size: 20px;
			font-family: $semibold;
		}
		& span{
			color: #E0E0E0;
			@media #{$xs} {
				font-size: 14px;
			}
		}
	}
}


.testimonial-active{
	& .slick-current{
		& .testimonial-item{
			background: #235C51;
			& .quote{
				& svg{
					& path{
						fill: $theme-color;
					}
				}
			}
		}
	}
	& .slick-dots{
		position: absolute;
		left: 50%;
		bottom: -62px;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;
		& li{
			display: inline-block;
			& button{
				height: 6px;
				width: 6px;
				border: 0;
				font-size: 0px;
				border-radius: 50%;
				background: #33415C;
				padding: 0;
				margin: 0 5px;
				@include transition(0.3s);
			}
			&.slick-active{
				& button{
					background: $theme-color;
					width: 25px;
					border-radius: 10px;
				}
			}
		}
	}
	& .slick-current{
		& .testimonial-5-item{
			background: #F5F5F5;
			color: #383838;
			& .info{
				 & .title{
				 	color: #383838;
				 }
				 & span{
				 	color: #383838;
				 }
			}
		}

	}
}











.testimonial-2-area{
	background: $white;
	padding-top: 100px;
	padding-bottom: 93px;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		height: 100%;
		width: 45%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/testimonial-bg.jpg);
		@media #{$md} {
			width: 0;
		}
		@media #{$xs} {
			width: 0;
		}
	}
	& .section-title-3{
		& .title{
			padding-right: 100px;
			@media #{$lg} {
				padding-right: 0;
			}
			@media #{$xs} {
				padding-right: 0;
			}
		}
	}
    &.testimonial-15-area{
        & .section-title-3 {
            & span{
                background: #F0323C;
                color: $white;
            }
        }
        & .testimonial-2-active {
            & .slick-dots {
                & li{
                    &.slick-active {
                        & button{
                            background: #F0323C;
                        }
                    }
                }
            }
        }
    }
}

.testimonial-2-active{
	@media #{$lg} {
		margin-top: 40px;
	}
	& .item{
		position: relative;
		padding-left: 32px;
		color: #383838;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 10px;
			height: 210px;
			background: #F5F5F5;
		}
		& > span{
			font-size: 18px;
			font-family: $semibold;
			color: #383838;
			display: inline-block;
			padding-bottom: 14px;
		}
		& .info{
			position: relative;
			padding-left: 70px;
			& img{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			& h5{
				margin-bottom: 5px;
				font-size: 20px;
				font-family: $semibold;
			}
		}
	}
	& .slick-dots{
		position: absolute;
		right: 0;
		bottom: 0;
		@media #{$xs} {
			bottom: -60px;
		}
		& li{
			display: inline-block;
			& button{
				border: 0;
				font-size: 0;
				background: #E0E0E0;
				height: 6px;
				width: 6px;
				border-radius: 50%;
				margin: 0 5px;
				padding: 0;
				@include transition(0.3s);
			}
			&.slick-active{
				& button{
					width: 25px;
					border-radius: 10px;
					background: $theme-color;
				}
			}
		}
	}
}













.testimonial-3-area{
	background: $black;
	padding-top: 80px;
	padding-bottom: 80px;
    &.testimonial-14-area{
        & .testimonial-3-active{
            & .testimonial-items{
                & .testimonial-3-content{
                    & .title{
                        font-family: $regular;
                    }
                }
            }
        }
    }



}

.testimonial-3-content{
	padding-right: 50px;
	color: $white;
	@media #{$lg} {
		padding-right: 0;
	}
	@media #{$md} {
		padding-right: 0;
	}
	@media #{$xs} {
		padding-right: 0;
	}
	& > .title{
		font-size: 40px;
		line-height: 48px;
		color: $white;
		font-family: $playfair;
		font-weight: 600;
		margin-bottom: 62px;
		@media #{$xs} {
			font-size: 30px;
			line-height: 40px;
		}
		@media #{$sm} {
			font-size: 40px;
			line-height: 48px;
		}
	}
	& img{
		margin-bottom: 28px;
	}
	& .info{
		padding-top: 30px;
		& .title{
			font-size: 18px;
			font-weight: 500;
			color: $white;
			font-family: $playfair;
			margin-bottom: 5px;
		}
		& span{
			font-size: 14px;
			color: $white;
			opacity: .75;
		}
	}
}


.testimonial-3-thumb{
	position: relative;
	z-index: 5;
	@media #{$md} {
		margin-top: 100px;
	}
	@media #{$xs} {
		margin-top: 100px;
	}
	&::before{
		position: absolute;
		content: '';
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 740px;
		width: 318px;
		background: #564FFF;
		z-index: -1;
	}
}

.testimonial-3-active{
	& .testimonial-items{
		margin-top: 70px;
		padding-bottom: 70px;
	}
	& .slick-dots{
		position: absolute;
		right: 125px;
		bottom: 30px;
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			& button{
				border: 0;
				border-radius: 50%;
				background: $white;
				opacity: .3;
				height: 10px;
				width: 10px;
				font-size: 0;
				display: inline-block;
				padding: 0;
				margin-left: 10px;
			}
			&.slick-active{
				& button{
					border-radius: 10px;
					width: 30px;
					background: $theme-color-3;
					opacity: 1;
				}
			}
		}
	}
	&.testimonial-12-active{
		& .testimonial-items{
			& .testimonial-3-thumb{
				&::before{
					background: $theme-color-2;
					border-radius: 10px;
				}
				& img{
					border-radius: 10px;
				}
			}
		}
		& .slick-dots{
			& li{
				&.slick-active{
					& button{
						background: $white;
					}
				}
			}
		}
        & .testimonial-3-content > {
            & .title{
                font-family: $regular;
            }
        }

	}
}










.testimonial-6-area{
	background: $black;
	padding-top: 90px;
	padding-bottom: 145px;
	position: relative;
	z-index: 10;
	& .testimonial-shape{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		& .item-1{
			position: absolute;
			right: 0;
			top: 0;
		}
		& .item-2{
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}






.testimonial-6-active{
	& .slick-dots{
		& li{
			&.slick-active {
				& button{
					background: $theme-color-3;
				}
			}
		}
	}
	& .slick-current{
		.testimonial-item{
			background: $theme-color-4;
			border-radius: 0;
			& .quote{
				& svg{
					& path{
						fill: $white;
					}
				}
			}
		}
	}
}





.testimonial-8-active{
	& .slick-dots{
		& li{
			&.slick-active {
				& button{
					background: #FF564F;
				}
			}
		}
	}
	& .slick-current{
		.testimonial-item{
			background: $white;
			border-radius: 0;
			color: $black;
			& .quote{
				& svg{
					& path{
						fill: #FF564F;
					}
				}
			}
			& .info{
				& .title{
					color: $black;
				}
				& span{
					color: $black;
				}
			}
		}
	}
}









.testimonial-9-active{
	& .slick-dots{
		opacity: 0;
		visibility: hidden;
	}
	& .testimonial-9-thumb{
		padding-left: 100px;
		@media #{$xs} {
			padding-left: 0;
			margin-top: 40px;
		}
		&::before{
			right: auto;
			left: 0;
			background: linear-gradient(90deg, rgba(69,16,138,1) 0%, rgba(16,5,77,1) 100%);
			@media #{$xs} {
				display: none;
			}
		}
	}
	& .testimonial-11-thumb{
		&::before{
			background: $theme-color-4;
			border-radius: 10px;
		}
		& img{
			border-radius: 10px;
		}
	}
    & .testimonial-3-content > {
        & .title{
            font-family: $regular;
        }
    }
}














.testimonial-10-area{
	background: $black;
	padding-top: 90px;
	padding-bottom: 145px;
    & .project-title{
        & .title{
            font-family: $playfair;
        }
    }
}

.testimonial-active{
	&.testimonial-10-active{
		& .slick-dots{
			& li{
				&.slick-active{
					& button{
						background: $theme-color-2;
					}
				}
			}
		}
		& .slick-current{
			& .testimonial-item{
				& .quote{
					& svg{
						& path{
							fill: $white;
						}
					}
				}
			}
		}
	}
}



