


/*===========================
    19.VIDEO css 
===========================*/



.video-area{
	position: relative;
	z-index: 10;
	padding: 200px 0 165px;
	& .section__bg{
		background-image: url(../images/video-bg.jpg);
		background-attachment: fixed;
		&::before{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(90deg, rgba(19,191,158,.8) 0%, rgba(16,137,113,.8) 100%);
		}
	}
}


.video-content{
	& a{
		display: inline-block;
		height: 150px;
		width: 150px;
		text-align: center;
		line-height: 150px;
		border-radius: 50%;
		background: $white;
		font-size: 40px;
		color: $theme-color-2;
	}
	& span{
		font-size: 30px;
		font-weight: 700;
		line-height: 40px;
		color: $white;
		display: block;
		margin-top: 61px;
		padding: 0 30px;
		@media #{$lg} {
			padding: 0;
			font-size: 28px;
		}
		@media #{$xs} {
			padding: 0;
			font-size: 18px;
			line-height: 30px;
		}
		@media #{$sm} {
			font-size: 30px;
			line-height: 40px;
		}

	}
}