// All JavaScript Files 
script(src="js/bootstrap.bundle.min.js")
script(src="js/internet-status.js")
script(src="js/dark-rtl.js")
script(src="js/otp-timer.js")
script(src="js/otp-input-switch.js")
script(src="js/active.js")

// PWA 
script(src="js/pwa.js")