// All JavaScript Files 
script(src="js/bootstrap.bundle.min.js")
script(src="js/slideToggle.min.js")
script(src="js/internet-status.js")
script(src="js/tiny-slider.js")
script(src="js/baguetteBox.min.js")
script(src="js/countdown.js")
script(src="js/rangeslider.min.js")
script(src="js/vanilla-dataTables.min.js")
script(src="js/index.js")
script(src="js/magic-grid.min.js")
script(src="js/dark-rtl.js")
script(src="js/active.js")

// PWA 
script(src="js/pwa.js")