// All JavaScript Files 
script(src="js/bootstrap.bundle.min.js")
script(src="js/internet-status.js")
script(src="js/dark-rtl.js")

// Password Strenght 
script(src="js/pswmeter.js")
script(src="js/active.js")

// PWA 
script(src="js/pwa.js")