// # Sidenav Left 

// Offcanvas 
.offcanvas.offcanvas-start#affanOffcanvas(data-bs-scroll="true", tabindex="-1", aria-labelledby="affanOffcanvsLabel")
    button.btn-close.btn-close-white.text-reset(type="button", data-bs-dismiss="offcanvas", aria-label="Close")

    .offcanvas-body.p-0
        // Side Nav Wrapper 
        .sidenav-wrapper
            // Sidenav Profile 
            .sidenav-profile.bg-gradient
                .sidenav-style1

                // User Thumbnail 
                .user-profile
                    img(src="img/bg-img/2.jpg", alt="")

                // User Info 
                .user-info
                    h6.user-name.mb-0 Güven Timleri Şube Müdürlüğü
                    span Şişli Timleri

            // Sidenav Nav 
            ul.sidenav-nav.ps-0
                li
                    a(href="index.html")
                        i.bi.bi-house-door
                        | Home                                                        
                li
                    a(href="work.html")
                        i.bi.bi-briefcase
                        | Çalışma Dosyaları
                li
                    a(href="card2.html")
                        i.bi.bi-camera-reels
                        | Media
                li
                    a(href="yerliebook-1.html")
                        i.bi.bi-book
                        | E-Kütüphane
                li
                    a(href="card2.html")
                        i.bi.bi-cup
                        | Biraz Mola
                li
                    .night-mode-nav
                        i.bi.bi-moon
                        | Night Mode
                        .form-check.form-switch
                            input.form-check-input.form-check-success#darkSwitch(type="checkbox")
                li
                    a(href="page-login.html")
                        i.bi.bi-box-arrow-right
                        | Logout

            // Copyright Info 
            .copyright-info
                p 2021 &copy;Made By ProMeTHeuS