// Tiny Slider Two Wrapper 
.container
    .tiny-slider-two-wrapper
        .tiny-slider-two
            // Single Hero Slide 
            div
                .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/31.jpg')")
                    .h-100.d-flex.align-items-center
                        .slide-text
                            h3.text-white Bootstrap 5
                            p.text-white Build fast, responsive sites with Bootstrap.
                            a.btn.btn-creative.btn-warning(href="#") Buy Now

            // Single Hero Slide 
            div
                .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/32.jpg')")
                    .h-100.d-flex.align-items-center
                        .slide-text
                            h3.text-white Vanilla JavaScript
                            p.text-white The whole code is written with vanilla JS.
                            a.btn.btn-creative.btn-warning(href="#") Buy Now

            // Single Hero Slide 
            div
                .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/33.jpg')")
                    .h-100.d-flex.align-items-center
                        .slide-text
                            h3.text-white PWA Ready
                            p.text-white Click the "Add to Home Screen" button &amp; <br> enjoy it like an app.
                            a.btn.btn-creative.btn-warning(href="#") Buy Now

            // Single Hero Slide 
            div
                .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/31.jpg')")
                    .h-100.d-flex.align-items-center
                        .slide-text
                            h3.text-white Dark &amp; RTL Ready
                            p.text-white You can use the Dark or RTL mode of your choice.
                            a.btn.btn-creative.btn-warning(href="#") Buy Now
        
        // Do not remove this ID, this ID counts how many slides there are. 
        #totaltnsDotsCount