/*Style.CSS*/
/* All logos and logo sizes are edited in this CSS*/

.menu{display:none;}
.page-hider{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:999999;
    background-color:rgba(255,255,255,1);
}

.header-dark .menu-logo, .header-dark .header-logo, .footer-dark .footer-logo{
    background-image:url(../images/logo-light.png);
}
.header-light .menu-logo, .header-light .header-logo, .footer-light .footer-logo{
    background-image:url(../images/logo-dark.png);
}
.header .header-logo{
    background-size:60px 15px;	
    width:115px;
}
.menu-logo{
    background-size:60px 15px; 
    width:115px;
}
