/*

	Uncle Hummer Stylesheet

	- - - - Contents - - - -
	
	01 - Google API Fonts
	02 - Basic Settings
	03 - Menu
	04 - Super Slider
	05 - Home
	06 - Featured Work
	07 - Introduction
	08 - Before After Slider
	09 - Get in Touch
	10 - Gallery of Works
	11 - Isotop Portfolio
	12 - About Us
	13 - Services
	14 - Partners
	15 - Reviews
	16 - Contact
	17 - Contact Map
	18 - Footer
	19 - Page Header
	20 - Page Content
	
	20 - 01 - Blog
	20 - 02 - Sidebar
	20 - 03 - Pagination
	20 - 04 - Comments
	
	21 - 404 Page
	22 - Project Navigation
	23 - Responsive Setting
	24 - Your CSS

	- - - - - - - - - - - -

*/


/*  01 - Google API Fonts  */

@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

/*  02 - Basic Settings  */

::selection {
	color: #ffffff;
	background: #191919;
}

::-moz-selection {
	color: #ffffff;
	background: #191919;
}

body {
	color: #787878;
	background: #000000;
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}

/* Normal headings and typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #191919;
	text-transform: none;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 25px;
}

h2 {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 25px;
}

h3 {
	font-size: 24px;
	line-height: 25px;
}

h4 {
	font-size: 17px;
	line-height: 25px;
}

h5 {
	font-size: 16px;
	line-height: 25px;
}

h6 {
	font-size: 13px;
	line-height: 25px;
}

p {
	margin-bottom: 25px;
}

/* FitText headings with css fallback */
h1.fittext,
h2.fittext,
h3.fittext,
h4.fittext,
h5.fittext,
h6.fittext {
	width: 100%;
	display: block;
	line-height: 0.9em;
	font-family: 'Monda', Arial,  Helvetica, sans-serif;
}

h1.fittext {
	font-size: 75px;
}

h2.fittext {
	font-size: 60px;
}

h3.fittext {
	font-size: 45px;
}

h4.fittext {
	font-size: 30px;
}

h5.fittext {
	font-size: 23px;
}

h6.fittext {
	font-size: 15px;
}

/* Bigger headings without using jQuery */
.bigtext h1,
.bigtext h2,
.bigtext h3,
.bigtext h4,
.bigtext h5,
.bigtext h6,
h1.bigtext,
h2.bigtext,
h3.bigtext,
h4.bigtext,
h5.bigtext,
h6.bigtext {
	line-height: 1.1em;
	padding-bottom: 2px;
	font-family: 'Monda', Arial,  Helvetica, sans-serif;
}

.bigtext h1,
h1.bigtext {
	font-size: 80px;
}

.bigtext h2,
h2.bigtext {
	font-size: 70px;
}

.bigtext h3,
h3.bigtext {
	font-size: 60px;
}

.bigtext h4,
h4.bigtext {
	font-size: 50px;
}

.bigtext h5,
h5.bigtext {
	font-size: 40px;
}

.bigtext h6,
h6.bigtext {
	font-size: 25px;
}

/* Text backgrounds */

.text-subtitle:after {
	content:']';
	margin-left:14px;
	color:#ffd824;
}

.text-subtitle:before {
	content:'[';
	margin-right:14px;
	color:#ffd824;
}

.text-bg {
	width: auto;
	display: inline-block;
	padding: 5px 7px 6px 8px;
	background: #ffd824;
	margin: 2px;
}

.text-bg.white {
	background: #ffffff;
}

.text-bg.light {
	background: #7a7a7a;
}

.text-bg.dark {
	background: #191919;
}

.text-bg.color {
	background: #ffd824;
}

/* Links */
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #ffd824;
}

/* Text colors */
.text-white,
h1.text-white,
h2.text-white,
h3.text-white,
h4.text-white,
h5.text-white,
h6.text-white,
p.text-white,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p {
	color: #ffffff;
}

.text-light,
h1.text-light,
h2.text-light,
h3.text-light,
h4.text-light,
h5.text-light,
h6.text-light,
p.text-light,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p {
	color: #adadad;
}

.text-dark,
h1.text-dark,
h2.text-dark,
h3.text-dark,
h4.text-dark,
h5.text-dark,
h6.text-dark,
p.text-dark,
.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark h4,
.text-dark h5,
.text-dark h6,
.text-dark p {
	color: #191919;
}

.text-color,
h1.text-color,
h2.text-color,
h3.text-color,
h4.text-color,
h5.text-color,
h6.text-color,
p.text-color,
.text-color h1,
.text-color h2,
.text-color h3,
.text-color h4,
.text-color h5,
.text-color h6,
.text-color p {
	color: #ffd824;
}


/* Serif font */
h1.serif,
h2.serif,
h3.serif,
h4.serif,
h5.serif,
h6.serif,
p.serif,
.serif h1,
.serif h2,
.serif h3,
.serif h4,
.serif h5,
.serif h6,
.serif p {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	font-weight: 400;
}

/* Text styles */
p.big {
	font-size: 25px;
	line-height: 40px;
}

.small,
small {
	font-size: 12px;
}

.italic,
em {
	font-style: italic;
}

.bold,
strong,
b {
	font-weight: 900;
}

.thin {
	font-weight: 300;
}

/* More control over your headings */
.no-uppercase {
	text-transform: none;
}

.uppercase {
	text-transform: uppercase;
}

.letterspace {
	letter-spacing: 0.1em;
}

/* Lists */
.ordered-list {
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 25px;
}

.unordered-list {
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 25px;
}

/* reviewss */
blockreviews {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	font-style: italic;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 0;
	border-left: 2px solid #cccccc;
}

blockreviews.left {
	text-align: left;
	padding-left: 15px;
	padding-right: 0;
	border-left: 2px solid #cccccc;
}

blockreviews.right {
	text-align: right;
	padding-left: 0;
	padding-right: 15px;
	border-right: 2px solid #cccccc;
}

q {
	color: 191919;
	font-style: italic;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-left: 30px;
	border-left: 3px solid #ffd824;
}

.quote {
	font-style: italic;
}

.quote:before {
	content: '\201C';
}

.quote:after {
	content: '\201D';
}

q:before {
	content: '\201C';
}

q:after {
	content: '\201D';
}


q.colorq:before {
	content: '\201C';
	color: #ffd824;
}

q.colorq:after {
	content: '\201D';
	color: #ffd824;
}

/* Buttons */
.button {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	color: #ffffff;
	background: #191919;
	margin-top: 25px;
}

a.button:hover {
	text-decoration: none;
	color: #ffffff;
	background: #ffd824;
}

.button.small {
	font-size: 10px;
	padding: 5px 15px;
}

.button.big {
	font-size: 16px;
	padding: 15px 25px;
}

/* Icons inside buttons */
.button > i {
	font-size: 14px;
}

.button.small > i {
	font-size: 12px;
}

.button.big > i {
	font-size: 18px;
}

/* Padding for outlined buttons */
.button.outline {
	padding: 8px 18px;
}

.button.small.outline {
	padding: 3px 13px;
}

.button.big.outline {
	padding: 13px 23px;
}

/* Alternative for a button */
a.underline {
	border-bottom: 1px solid #ffd824;
}

a.underline-dark {
	border-bottom: 1px dotted #191919;
}


.text-dark {
	color:#191919;
}


.text-dark:hover {
	color:#191919;
}

a.text-dark:hover {
	color: #191919;
	border-bottom: 1px solid #191919;
	padding-bottom: 1px;
}


.text-dark a.underline-dark:hover {
	border-bottom: 1px solid #787878;
}

a.arrow-link:after {
	font-family: 'FontAwesome';
	content: '\f105';
	color: #ffd824;
	margin-left: 7px;
}

a.arrow-link-dark:after {
	font-family: 'FontAwesome';
	content: '\f105';
	color: #191919;
	margin-left: 7px;
}

/* Icons */
i.inline {
	margin-left: 5px;
	margin-right: 5px;
}

.icon,
a .icon {
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	background: #191919;
	margin: auto 3px;

}

a .icon:hover {
	text-decoration: none;
	color: #ffffff;
	background: #ffd824;
}

.icon.small {
	font-size: 12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.icon.medium {
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.icon.big {
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

/* Fixing lineheights */
.icon.outline {
	line-height: 36px;
}

.icon.small.outline {
	line-height: 21px;
}

.icon.medium.outline {
	line-height: 26px;
}

.icon.big.outline {
	line-height: 46px;
}

/* Arrow controls */
.icon.arrow-top {
	-webkit-border-radius: 0px 0px 0px 0px;
			border-radius: 0px 0px 0px 0px;
}

.icon.arrow-prev {
	text-indent: -2px;
	-webkit-border-radius: 0px 0px 0px 0px;
			border-radius: 0px 0px 0px 0px;
}

.icon.arrow-next {
	-webkit-border-radius: 0px 0px 0px 0px;
			border-radius: 0px 0px 0px 0px;
}

.icon.arrow-bottom {
	-webkit-border-radius: 0px 0px 0px 0px;
			border-radius: 0px 0px 0px 0px;
}

.icon.attached {
	margin: auto -3px;
}

/* Styles for the buttons, icons and arrow controls */
.button.color,
.icon.color {
	color: #ffffff;
	background: #ffd824;
}

a.button.color:hover,
a .icon.color:hover {
	color: #ffffff;
	background: #191919;
}

.button.white,
.icon.white {
	color: #191919;
	background: #ffffff;
}

.button.light,
.icon.light {
	color: #ffffff;
	background: #adadad;
}

.button.dark,
.icon.dark {
	color: #ffffff;
	background: #191919;
}

.button.outline,
.icon.outline {
	color: #191919;
	background: none;
	border: 2px solid #191919;
}

a.button.outline:hover,
a .icon.outline:hover {
	color: #ffffff;
	background: #191919;
}

.button.outline.color,
.icon.outline.color {
	color: #ffd824;
	background: none;
	border: 2px solid #ffd824;
}

a.button.outline.color:hover,
a .icon.outline.color:hover {
	color: #ffffff;
	background: #ffd824;
}

.button.outline.white,
.icon.outline.white {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

a.button.outline.white:hover,
a .icon.outline.white:hover {
	color: #191919;
	background: #ffffff;
}

.button.outline.light,
.icon.outline.light {
	color: #adadad;
	background: none;
	border: 2px solid #adadad;
}

a.button.outline.light:hover,
a .icon.outline.light:hover {
	color: #ffffff;
	background: #adadad;
}

.button.outline.dark,
.icon.outline.dark {
	color: #191919;
	background: none;
	border: 2px solid #191919;
}

a.button.outline.dark:hover,
a .icon.outline.dark:hover {
	color: #ffffff;
	background: #191919;
}

/* Pagination bullets */
.bullet-pagination {
	text-align: center;
}

.bullet-pagination a {
	background: #ffd824;
	width: 12px;
	height: 12px;
	margin: 4px;
	display: inline-block;

}

.bullet-pagination a.selected {
	background: #ffffff;
	cursor: default;
}

.bullet-pagination a span {
	display: none;
}

/* The title of a section */
.title {
	margin-bottom: 45px;
}

.title h1 {
	position: relative;
	font-size: 28px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: center;
}

.title hr {
	width: 80px;
	height: 2px;
	background: #cccccc;
	border: 0;
	margin: 0 auto;
}

/* Show an icon instead of the horizontal rule, or use both */
.title i {
	position: relative;
	display: block;
	font-size: 54px;
	line-height: 54px;
	color: #cccccc;
	margin: 0 auto -45px;
	text-align: center;
}

/* Headers */
.header {
	position: relative;
	display: table;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 640px;
}

.header.fixed {
	background-attachment: fixed;
}

.header.top {
	background-position: top center;
}

.header.bottom {
	background-position: bottom center;
}

.header.medium {
	height: 500px;
}

.header.small {
	height: 360px;
}

.header-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.centerdiv {
	width: 920px;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
}

.header-center hr {
	width: 220px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 50px auto 35px;
}

/* Fade */
.fade {
	filter: alpha(opacity=40);
	opacity: 0.4;
}

/* Smooth effects for no-touch devices only */
.no-touch a,
.no-touch a:hover,
.no-touch .button,
.no-touch .button:hover,
.no-touch .icon,
.no-touch .icon:hover,
.no-touch .icon.huge,
.no-touch .icon.huge:hover,
.no-touch .fade,
.no-touch .portfolio-thumb,
.no-touch .image-thumb,
.no-touch .service-item,
.no-touch a.play-btn i,
.no-touch a.play-btn:hover > i,
.no-touch .video-controls button,
.no-touch .video-controls button:hover,
.no-touch ul.home-menu i,
.no-touch ul.home-menu a:hover > i,
.no-touch .toggle,
.no-touch .toggle:hover,
.no-touch #contactform input,
.no-touch #contactform textarea,
.no-touch #contactform select,
.no-touch #contactform input:focus,
.no-touch #contactform textarea:focus,
.no-touch #contactform select:focus,
.no-touch #contactform input.submit,
.no-touch #contactform input.submit:hover,
.no-touch .fourzerofour i,
.no-touch .fourzerofour a:hover > i,
.no-touch .hoverimg,
.no-touch .hoverimg:hover,
.no-touch .employeeblock,
.no-touch .employeeblock:hover,
.no-touch .mask,
.no-touch .employeeblock:hover .mask,
.no-touch .serviceblock,
.no-touch .serviceblock:hover,
.no-touch .serviceblock .button,
.no-touch .serviceblock:hover .button,
.no-touch .serviceblock i,
.no-touch .serviceblock:hover i,
.no-touch li.partner-item,
.no-touch li.partner-item:hover {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}







/*  03 - Menu  */

.main-menu {
	position: absolute;
	display: block;
	width: 100%;
	min-height: 50px;
	background: #191919;
	z-index: 99;
}

.menu-wrap {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 920px;
}

.menu-logo {
	float: left;
	text-align: left;
	width: auto;
	max-height: 30px;
	margin-top: 20px;
	margin-right: 14px;
	margin-bottom: 0;
}

.main-menu h1 {
	float: left;
	text-align: left;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-menu h1 a {
	text-decoration: none;
	color: #ffd824;
}

.main-menu h1 a:hover {
	color: #ffffff;
}

/* The toggle */
#toggle,
.toggle {
	display: none;
}

/* The menu items */
.menu {
	text-align: right;
	height: 100%;
}

.menu {


	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 70px;
	text-transform: uppercase;
}

.menu a {
	margin-left: 30px;
	display: inline-block;
	text-decoration: none;
	color: #7a7a7a;
	height: 100%;
}

.menu a:hover {
	color: #ffffff;
}

/* ******************** Responsive settings for the menu ******************** */
@media only screen and (max-width: 768px){

	.sticky-wrapper,
	.main-menu {
		height: 50px!important;
	}
	
	.menu-wrap {
		width: 100%;
	}
	
	.menu-logo {
		margin-top: 10px;
		margin-left: 15px;
	}
	
	.main-menu h1 {
		margin-top: 0;
		/* Clear comments tags if you delete logo img */
		/*margin-left: 15px;*/ 
	}
	

	/* The toggle */
	.toggle {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		color: #ffd824;
		float: right;
		font-family: 'FontAwesome';
		text-align: center;
		font-size: 14px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	.toggle:hover {
		color: #ffffff;
	}
	
	.toggle:after {
		content: '\f0c9';
	}
	
	#toggle:checked ~ .menu {
		display: block;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	
	#toggle:checked + .toggle:after {
		content: '\f077';
	}
	
	/* The menu items */
	.menu {
		display: none;
		filter: alpha(opacity=0);
		opacity: 0;
		margin-top: 50px;
		width: 100%;
		position: absolute;
		right: 0;
		height: auto;
		text-align: left;
		background: #191919;
		padding-bottom: 10px;
	}
	
	.menu a {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin: 0;
	}
	
	.menu a {
		display: block;
		width: 100%;
		height: auto;
		margin-left: 15px;
	}
}

/* White menu classes */
.main-menu.white-menu {
	background: #ffffff;
}

.main-menu.white-menu h1 a:hover {
	color: #191919;
}

.main-menu.white-menu .menu a:hover {
	color: #ffd824;
}

@media only screen and (max-width: 768px){
	.main-menu.white-menu .toggle:hover {
		color: #191919;
	}
	
	.main-menu.white-menu .menu {
		background: #fafafa;
	}
}


/*  04 - Super Slider  */

#slides {
	position: relative;
}

#slides .slides-container {
	margin: 0;
}

#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}

/* SuperSlides arrow controls */
.slides-navigation a {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	outline: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*text-indent: -9999px;*/
	z-index: 99;
	zoom: 1;
	text-align: center;
}

.slides-navigation a.prev,
.slides-navigation a.next {
	color: #ffffff;
	font-size: 42px;
	z-index:20;
}

.slides-navigation a.prev:hover,
.slides-navigation a.next:hover {
	color: #ffffff;
	font-size: 56px;
}

.slides-navigation a.prev {
	left: 10px;
}

.slides-navigation a.prev:after {
	font-family: 'FontAwesome';
	content: '\f104';
}

.slides-navigation a.next {
	right: 10px;
}

.slides-navigation a.next:after {
	font-family: 'FontAwesome';
	content: '\f105';
}

/* SuperSlides pagination indicators */
.slides-pagination {
	position: absolute;
	z-index: 20;
	bottom: 25px;
	text-align: center;
	width: 100%;
}

.slides-pagination a {
	background:;
	width: 14px;
	height: 14px;
	margin: 6px;
	display: inline-block;
	border: 2px solid #ffd824;
	zoom: 1;
	overflow: hidden;
	text-indent: -100px;
}

.slides-pagination a:hover,
.slides-pagination a.current {
	background: #ffd824;
	border: 2px solid #ffd824;
}



/* Fullscreen background for SuperSlides */
.slides-fullscreen-img {
	background-repeat: no-repeat !important;
	background-position: center center !important;
	width:100% !important;
	height: 100% !important;
	background-size: cover !important;
}

.slides-fullscreen-img:before {
content: '';
display: block;
width: 100%;
height: 100%;
background: rgba(11, 13, 13, 0.4) url(../images/overlay.png) repeat;
}


/*  05 - Home  */

/* The fullscreen container */
.home-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.home-wrap.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.home-wrap-short {
	position: relative;
	width: 100%;
	height: 640px;
}

.home-wrap-short .home-content,
.home-wrap-short .centerdiv {
	z-index: 10;
}

.home-wrap-short .bxslider {
	z-index: 0;
}

/* The content inside the fullscreen container */
.home-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: inline-block;
	width: 920px;
}

.home-content hr {
	width: 220px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 50px auto 35px;
}

.home-content img {
	margin-bottom: 0;
}

/* Responsive logo */
.the-logo {
	max-width: 600px;
	width: 100%;
	height: auto;
	display: inline-block;
}


/* Fullscreen background image */
.fullscreen-img {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

@media screen and (max-width: 1024px) {
	.fullscreen-img {
		left: 50%;
		margin-left: -512px;
	}
}


/* Fullscreen background image */



/* The circle menu */
ul.home-menu {
	display: inline-block;
	width: 180px
}


ul.home-menu a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

ul.home-menu i {
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 76px;
	letter-spacing: 0;
	color: #ffffff;
	border: 2px solid #ffffff;
	margin: 25px auto;
}

ul.home-menu em {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	color: #ffffff;
}

ul.home-menu a:hover > i {
	background: #ffd824;
	border: 2px solid #ffd824;
}

/* Controls for the fullscreen background sliders (index7) */
#home-controls a {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	outline: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*text-indent: -9999px;*/
	z-index: 11;
	zoom: 1;
}

#home-controls a.prev,
#home-controls a.next {
	color: #ffffff;
	font-size: 42px;
}

#home-controls a.prev:hover,
#home-controls a.next:hover {
	color: #ffffff;
	font-size: 56px;
}

#home-controls a.prev {
	left: 10px;
}

#home-controls a.prev:after {
	font-family: 'FontAwesome';
	content: '\f104';
}

#home-controls a.next {
	right: 10px;
}

#home-controls a.next:after {
	font-family: 'FontAwesome';
	content: '\f105';
}

#home-pagination.bullet-pagination {
	width: 200px;
	z-index: 12;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -100px;
}

#home:before {
    content: '';
    height: 6px;
    left: 50%;
	width: 62%;
	margin-left: -31%;
    right: 0;
    bottom: -6px;
    position: absolute;
    background-color: #ffd824;
    z-index: 2;
}
  
  
.overlay-black {
display: block;
width: 100%;
height: 100%;
background: rgba(11, 13, 13, 0.4) url(../images/overlay.png) repeat fixed;
}


.overlay-black-absolute:before {
	content:'';
	display:block;
	position:absolute;
	width: 100%;
 	height: 100%;
 	background: rgba(11, 13, 13, 0.4) url(../images/overlay.png) repeat fixed;
}
/*  06 - Featured Work  */

.featured-work {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}

.featured-work:before {
  content: '';
  height: 7px;
  width: 100%;
  right: 0;
  bottom: -7px;
  position: absolute;
  background: url(../images/line-pattern-white.png) repeat-x;
  z-index: 2; 
}

.featured-work-slider {
	margin-bottom: 70px;
}

/* Huge icon */
.icon.huge {
	font-size: 56px;
	width: 120px;
	height: 120px;
	line-height: 114px;
	cursor: default;
	color: #cbcbcb;
	background: none;
	border: 3px solid #ffffff;
	border: 3px solid #ebebeb;
}

.icon.huge:hover {
	color: #ffdb24;
	border: 3px solid #ffdb24;
	cursor: pointer;
	background:url(../images/bg-pattern-gray.png) repeat;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 0.1);	
}


.featured-work .icon.huge {
	margin-top:5px;
	margin-bottom:30px;
}

.featured-work hr {
	width: 220px;
	height: 2px;
	background: #adadad;
	border: 0;
	margin: 50px auto 35px;

}

/*  07 - Introduction  */

.introduction {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #f0f0f0;
}

/*  08 - Before After  */

.ba-slider {
    position: relative;
	max-height:400px;
	overflow:hidden;
	display:block;
	width: 50%;
	margin: 0 auto;
	margin-bottom:80px;
}



.ba-slider:after{
content:'';
display:block;
position:absolute;
width:100%;
height:48px;
z-index:20;
margin-top:-48px;
background:url(../images/ba-slider-bottom-line.png) no-repeat top;	
}


.ba-slider img {
    position: absolute;
    width: 100%;
	max-width:none;
	max-height:400px;
	
}
.ba-slider-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	max-width:none;
}
.ba-slider-before-image {
    z-index: 5;
    position: relative;
    overflow: hidden;
    height: 100%;
	max-height:400px;
	max-width:none;
}
.ba-control {
    width: 100%;
    height: 100%;
	max-height:400px;
    position:absolute;
    z-index: 10;
    top: 0;
    overflow: hidden;
}
.ba-control-area {
    position:absolute;
    z-index:1;
    width:26px;
    height:100%;
	max-height:400px;
    left:0;
    margin-left:-13px;
}
.ba-control-bar {
    width:2px;
    height: 100%;
	max-height:400px;
    margin: 0 auto;
    background: #ffd824;
}
.ba-left-arrow, .ba-right-arrow, .ba-control-handle {
    top: 50%;
    position: absolute;
    display: none;
}
.ba-left-arrow, .ba-right-arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
}
.ba-left-arrow {
    left: -40px;
    border-right: 5px solid #fff;
}
.ba-right-arrow {
    right: -40px;
    border-left: 5px solid #fff;
}
.ba-control-handle{
    width: 70px;
    height: 38px;
    background: #ffd824;
	margin-top:-19px;
	margin-left:-35px;
	display:inline-block;
	cursor: move;
}
.ba-control-handle:before {
    content: "";
    position: absolute;
    top: -22px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 22px solid #ffd824;
}
.ba-control-handle:after {
    content: "";
    position: absolute;
    bottom: -22px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 22px solid #ffd824;
}


/* Huge icon */
.ba-control-handle i{
	font-size: 36px;
    height: 38px;
	line-height: 38px;
	cursor: default;
	color: #cba931;
	background: none;
	cursor: move;
}

.ba-control-handle:hover.ba-control-handle i{
	color: #947e1b;
}

/*  09 - Get in Touch  */

.get-in-touch {
	position: relative;
	background: #333333;
}

.get-in-touch .section-bg{ 
	position: relative;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center center;
	width: 100%;
	height: 100%;
	background: url(../images/placeholder-preview-large.jpg) center fixed;
}



.get-in-touch .bigtext{
	line-height:48px;
}

.get-in-touch hr{
		margin: 40px auto 24px;
}


/*  10 - Gallery of Works  */

.gallery-of-works {
	position: relative;
	padding-top: 100px;
	padding-bottom: 140px;
}
@keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-webkit-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-ms-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-moz-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}

#gallery-of-works {
    background: url(../images/more-work-pattern.png) #f0f0f0;
	animation: animatedBackground 80s linear infinite;
	-ms-animation: animatedBackground 80s linear infinite;
	-moz-animation: animatedBackground 80s linear infinite;
	-webkit-animation: animatedBackground 80s linear infinite;
	background-attachment: fixed;
}


#gallery-of-works:before {
	content: '';
	height: 7px;
	width: 100%;
	right: 0;
	bottom: 0px;
	position: absolute;
	background: url(../images/line-pattern-white.png) repeat-x;
	z-index: 2;		
}


.portfolio-thumb {
	display: block;
	background: #ffffff;
	padding-bottom: 16px;
	margin-bottom:40px;
}

.portfolio-thumb a {
	text-align: center;
	text-decoration: none;
	width:100%;
	height:100%;
	max-height:200px;
	
}


.portfolio-thumb i{
	text-align: center;
	width:100%;
	max-height:260px;
	min-height:260px;
	display:block;
	position: relative;
	overflow:hidden;
	margin-bottom:16px;
	border-bottom:3px solid #ffd824;
 
}



.portfolio-thumb i img {
	text-align: center;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	min-height:260px;
}


.portfolio-thumb i:after{
content:'';
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
-moz-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;

}


.portfolio-thumb i:hover:after{
	display:block;
	width: 100%;
 	height: 100%;
 	background: rgba(12, 12, 12, 0.4);	

}


.portfolio-thumb b {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #191919;
}

.portfolio-thumb em {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	display: block;
	font-size: 14px;
	font-style: normal !important;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	color: #adadad;
}

.portfolio-thumb b,
.portfolio-thumb em {
	padding-left: 25px;
	padding-right: 25px;
}

/*  11 - Isotop Portfolio  */

.portfolioFilter {
    text-align: center;
    margin-bottom: 50px;
}

.portfolioFilter a { 
    margin-right: 12px;
	margin-left: 12px; 
	color:#666;
	font-size:16px;
	text-decoration:none;
}

.portfolioFilter a.current { 
    font-weight:bold;
}


.portfolioContainer {
	overflow:visible !important;
}

.isotope-item {
    z-index: 2;
}

.portfolio-thumb:hover {
	margin-top:-20px;
	-webkit-box-shadow: 7px 7px 0px 0px rgba(133, 136, 136, 0.1);
	-moz-box-shadow:    7px 7px 0px 0px rgba(133, 136, 136, 0.1);
	box-shadow:         7px 7px 0px 0px rgba(133, 136, 136, 0.1);
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/*  12 - About Us  */

.about {
	position: relative;
	padding-top: 100px;
	padding-bottom: 80px;
	background: #ffffff;
}

.about .header {
	margin-bottom: 70px;

}


.about .section-bg {
	position: relative;
	margin-bottom: 110px;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center center;
	width: 100%;
	height: 100% !important;
	background: url(../images/placeholder-preview-large.jpg) center fixed;
}



.about-avatar {
	text-align: center;
	position: relative;
	margin-top: -150px;
	border: 4px solid #ffffff;
	width: 160px;
	height: 160px;
	background:#000;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

.circle-arrow {
	font-size:24px;
	line-height:80px;
	text-align: center;
	position: relative;
	bottom:-50px;
	width: 80px;
	height: 80px;
	background:#fff;
	-webkit-border-radius: 50%;
			border-radius: 50%;
}

noindex:-o-prefocus, .circle-arrow {
    margin-top: -105px;
}

/*  13 - Services  */

.services {
	position: relative;
	padding-top: 100px;
	padding-bottom: 140px;
	background: #f0f0f0;
}

.services:before {
  content: '';
  height: 7px;
  width: 100%;
  right: 0;
  top: 0px;
  position: absolute;
  background: url(../images/line-pattern-white.png) repeat-x;
  z-index: 2; 
}


.services a .icon {
	margin-bottom:30px;
}

.services .icon.outline:hover {
	color: #ffd824;
}


/* CarouFredsel styling for the services slider */
.list_carousel {
	position: relative;
	margin: 0;
	width: auto;
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	height: auto;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	text-align: center;
}

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.clearfix {
	float: none;
	clear: both;
}

/* Service slider items */
li.service-item {
	display: block;
	background: #ffffff;
	padding-bottom: 25px;
	width: 480px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}



li.service-item ul li:hover{
	background: #ffdb24 !important;
	color:#191919;
}

li.service-item i {
	text-align: center;
	width:100%;
	max-height:260px;
	height:200px;
	display:block;
	position: relative;
	overflow:hidden;
	margin-bottom:16px;
	border-bottom:3px solid #ffdb24;
}


li.service-item i img {
	text-align: center;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	
}



li.service-item .button {
	margin-top:50px;
}

li.service-item p {
	margin-right: 25px;
	margin-left: 25px;
}

li.service-item ul {
	margin: 25px 0 0;
}

li.service-item ul li {
	display: inline-block;
	padding: 12px;
	width: 100%;
}

li.service-item ul li:last-child {
	border-bottom: 2px solid #fafafa;
}

li.service-item ul li:nth-child(odd) {
	background-color: #fafafa;
}

/* Simple services */
.simple-services {
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
	background: #ffffff;
}

/* Services hoverblocks */
.serviceblock {
	padding: 20px 20px 10px;
	border: 2px solid #ffffff;
}

.serviceblock:hover {
	border: 2px solid #eeeeee;
}

.serviceblock .button {
	margin-top: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
}

.serviceblock:hover .button {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}

/*  14 - Partners  */

.partners {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}


.partners:after {
	content: '';
	height: 6px;
	left: 50%;
	width: 62%;
	margin-left: -31%;
	right: 0;
	bottom: 0px;
	position: absolute;
	background-color: #ffd824;
	z-index: 2; 
}


ul#partners-slider{margin-bottom:10px;}

/* Partner slider items */

li.partner-item {
	display: block;
	background: #ffffff;
	width: 480px;
	overflow:hidden;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	border:3px solid #ffffff;
	padding:20px;
}

li.partner-item:hover{
	background: url(../images/bg-pattern-gray.png) repeat;
	border:3px solid #ffd824;
	color:#191919;
}

li.partner-item a img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
	-moz-opacity: 0.3; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.3; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */

}

li.partner-item:hover a img{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}




li.partner-item img {
	text-align: center;
	
}

/*  15 - Reviews  */

.reviews {
	position: relative;
}

.reviews:before {
	content: '';
	height: 6px;
	left: 50%;
	width: 62%;
	margin-left: -31%;
	right: 0;
	bottom: -6px;
	position: absolute;
	background-color: #ffd824;
	z-index: 2; 
}


@keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-webkit-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-ms-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}
		@-moz-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 100% 0; }
		}



.reviews .header{
	background: url(../images/bg-pattern-services.png) #191919;
	background-size: auto !important;
	animation: animatedBackground 60s linear infinite;
	-ms-animation: animatedBackground 60s linear infinite;
	-moz-animation: animatedBackground 60s linear infinite;
	-webkit-animation: animatedBackground 60s linear infinite;
	background-attachment: fixed;
	
}

.reviews .header:before {
	content:'';
	display:block;
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(12, 12, 12, 0.5) url(../images/overlay.png) repeat fixed;
	
}


.nobg .reviews .header {
	background: none;
}

/*  16 - Contact  */

.contact {
	position: relative;
	padding-top: 100px;
	padding-bottom: 75px;
	background: #ffffff;
}

/* Styling for the contactform */
#contactform {
	display: block;
	width: 100%;
	margin: 50px auto 0;
	text-align: left;
}

#contactform label {
	position: relative;
	z-index: 13;
	padding-left: 20px;
}

#contactform label {
	line-height: 50px;
}


#contactform input,
#contactform textarea,
#contactform select {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 50px;
	margin-top: -50px;
	font-size: 1em;
	padding-left: 45px;
	padding-right: 20px;
	width: 100%;
	color: #666666;
	background: #ffffff;
	border: 2px solid #eeeeee;
}

#contactform select {
	padding-right: 10px;
	margin-bottom: 20px;
}

@-moz-document url-prefix() {
	#contactform select {
		padding-top: 14px;
	}
}

#contactform textarea {
	line-height: 25px;
	width: 100%;
	min-height: 120px;
}

#contactform input.input-verify {
	padding-left: 68px;
}

#contactform input:focus,
#contactform textarea:focus,
#contactform select:focus {
	border: 2px solid #ffd824;
	background-color: #ffffff;
	color: #191919;
}

/* The button */
#contactform input.submit {
	-webkit-appearance: none;
	cursor: pointer;
	margin: 20px auto 0;
	width: auto;
	height: auto;
	border: 0;
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	line-height: 0;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
	color: #191919;
	background: url(../images/bg-pattern-gray.png) repeat;
	border: 2px solid #191919;
}

#contactform input.submit:hover {
	color: #ffffff;
	background: #191919;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    6px 6px 0px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         6px 6px 0px 0px rgba(50, 50, 50, 0.1);	
}

#contactform input[type="submit"][disabled] {
	color: #191919;
	background: #ffd824;
}

/* Form validation styles */
#contactform span.required {
	color: #947e1b;
}

.error_message {
	display: block;
	padding: 5px;
	background: #fbe3e4;
	color: #786510;
	border: 1px solid #fbc2c4;
}

/* Loader image */
.loader {
	margin: 0 auto;
	padding: 0 25px;
}

/* What users see after they succesfully sent a message, see also the contact php file */
#success_page {
	text-align: center;
}

#success_page h4 {
	color: #ffd824;
}

/*  17 - Contact Map  */

.contact-map {
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	width:100%;
	background: url(../images/bg-pattern-gray.png) repeat #ffffff;

}

.map-tooltip {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	padding:20px 15px;
}

.map-tooltip-block {
	border:2px solid #F00;
}

.map-tooltip hr {
	width: 80px;
	height: 2px;
	background:#cccccc;
	margin: auto;
	margin-top: 22px;
	margin-bottom: 19px;
}

/*  18 - Footer  */

/* Social footer */
.social-footer {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #333333;
}

.nobg .social-footer {
	background: none;
}

.social-footer .icon {
	margin: 10px;
}

/* Credits at the bottom of the page */
.credits {
	position: relative;
	padding-top: 25px;
	padding-bottom: 0;
	background: #191919;
}

.nobg .credits {
	background: rgba(0,0,0,0.4);
}

/* Simple footer */
.footer {
	position: relative;
	padding-top: 25px;
	background: #f0f0f0;
}

/* Simple footer-two */
.footer-two {
	position: relative;
	padding-top: 0;
	padding-bottom: 25px;
	background: #f0f0f0;
	border-bottom:6px solid #ffd824;
}

.footer-two p {
	margin-bottom: 50px;
}

/*  19 - Page Header  */

.page-header {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #ffffff;
}

.page-header:before {
	content: '';
	height: 7px;
	width: 100%;
	right: 0;
	bottom: -7px;
	position: absolute;
	background: url(../images/line-pattern-white.png) repeat-x;
	z-index: 2;
}

.page-header hr {
	width: 220px;
	height: 2px;
	background: #adadad;
	border: 0;
	margin: 50px auto 35px;

}

/*  20 - Page Content  */

.page-content {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	background: #f0f0f0;
}

/*  20-01 - Blog  */

.post { 
	position:relative;
	text-align:left;
	margin-bottom:50px;
	padding:0px 0px 30px 70px;
	border-bottom:1px solid #ccc;
}
.post p{
	color: #191919;
}


.post-media {
    position: relative;
    padding-bottom: 56.25%;
	height: 0; 
	overflow: hidden;
	margin-bottom:20px;
	border-bottom: 3px solid #ffdb24;
}
.post-media iframe,
.post-media object,
.post-media embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post .date {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 50px;
	padding: 4px 0px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #191919;
	border: 2px solid #191919;
	
}
.post .date small{
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	color: #191919;
	font-weight: normal;
	text-align:center;
}
.post-title h2{
	padding-top: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.post-title h2 a:hover {
	color: #191919;
	text-decoration: underline;
}

.post-details {
	padding-bottom: 20px;
}

.post-details, .post-details a {
	color: #191919;
}

.post-details a:hover {
	color: #191919;
	border-bottom: 1px solid #191919;
	padding-bottom: 1px;
}

.post-details span {
	margin-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.post-details span .fa {
	padding-right: 4px;
}

/*  20-02 - Sidebar  */

.widget {
	text-align: left;
	margin: 40px auto;
}
.widget h4{
	margin-bottom:10px;
}


.searh-holder input[type="text"] {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 50px;
	margin-top: -40px;
	font-size: 1em;
	padding-left: 20px;
	padding-right: 45px;
	text-indent: 0px;
	width: 100%;
	color: #666666;
	background: #ffffff;
	border: 2px solid #ffffff;	
}

.searh-holder input[type="text"]:focus {
	border: 2px solid #ffd824;
	background-color: #ffffff;
	color: #191919;
}

.searh-holder{
	position:relative;
	width:100%;
	display:block;
}

.search-submit {
	border: none;
	outline: none;
	cursor: pointer;
	position:absolute;
	background:none;
	top:0;
	right:0;
	margin-right:7px;
	margin-left: 10px;
	margin-top: 5px;
	height:40px;
	width:40px;
}
.search-submit:hover i {
	opacity:0.5;
}

li.cat-item {
	list-style: none;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	line-height: 32px;
	width: 100%;
	display:inline-block;
	border-bottom: 1px solid #cccccc;
	}
	

li.cat-item:hover:before {
	font-family: 'FontAwesome';
	content: '\f061';
	color: #ffd824;
	margin-right: 9px;
	font-size: 15px;	
}
	
li.cat-item a{
	font-size: 14px;
	line-height: 32px;
	color: #191919;
	padding-right: 50px;
	
}
	
.cat-item-num {
	font-size: 15px;
	line-height: 32px;
	color: #191919;
	padding: 0px 12px;
	text-align: center;
	float: right;
	box-shadow: inset 0 0 0 2px #191919;
	font-weight: bold;
}

li.cat-item:hover .cat-item-num { 
	box-shadow: inset 0 0 0 2px #ffd824;
	background: #ffd824;
	color: #ffffff;
}

.tagcloud a {
	padding: 5px 10px !important;
	margin-right: 6px !important;
}



.widget-archive a, .widget-recent-entries a {
	color: #060606!important; 
	display: block;
	font-size: 15px;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 0;
	border-bottom: 1px solid #cccccc;
}


.widget-archive a:hover:before {
	font-family: 'FontAwesome';
	content: '\f061';
	color: #ffd824;
	margin-right: 9px;
	font-size: 15px;	
}

/*  20-03 - Pagination  */

.blog-pagination a{
	line-height: 45px;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	width:45px;
	height:45px;
	margin-left:10px;
	color:#191919;
}
.blog-pagination a.cur-page, .blog-pagination a:hover{
	color: #ffdb24;
	font-weight: 600;
	box-shadow: inset 0 0 0 2px #ffd824;
	background:url(../images/bg-pattern-gray.png) repeat;
}

.blog-nav {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #ffffff;
}

.blog-nav:before {
	content: '';
	height: 7px;
	width: 100%;
	right: 0;
	top: 0px;
	margin-top: -7px;
	position: absolute;
	background: url(../images/line-pattern-white.png) repeat-x;
	z-index: 2;	
}


.blog-nav:after {
	content: '';
	height: 3px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background: #ffd824;
	z-index: 2;
}

/*  20-04 - Comments  */

.page-comments {
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
	border-top: 5px solid #ffd824;
	background: url(../images/overlay.png) repeat #2e2e2e;
}

.page-comments:before {
	content: '';
	height: 6px;
	left: 50%;
	width: 62%;
	margin-left: -31%;
	right: 0;
	bottom: -6px;
	position: absolute;
	background-color: #ffd824;
	z-index: 2;
}

#comments-container:after {
	bottom:100%;
	margin-bottom:100px;
	left: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
}

#comments-container:after {
	border-bottom-color: #ffd824;
	border-width: 36px;
	margin-left: -36px;
}

/* Styles inside container */

#comments-title{
	float:left;
	font-size:18px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	margin-top:50px;
}
#comments-title span{
	color:#666;
}
#comments-widget{
	background:#292929;
	padding:50px 0;
}

#comments{ 
	text-align:left; 
}
#comments p {
	margin-left:-10px;
	text-align:left;
	font-size:0.9em !important;
	color:#fff;
}
.comment{ 

}
.comment-body{ 
	position: relative; 
	margin-left: 75px; 
	padding-top: 45px; 
	text-align: left;
	border-bottom: 2px solid #ffd824;
}
.comment-author{ 
	position: absolute; 
	top: 50px; 
	left: -75px;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.comment .children{ 
	margin-left: 75px; 
}
#comments h4 a{
	display: block; 
	margin-bottom: 10px;
}
.comment-meta, .comment-meta a{
	color: #a4a4a3!important;
}

.comment-meta {
	margin-top: 12px;
	margin-bottom: 12px;
}

.comment-meta a {
	margin-right: 10px;
}

a.comment-reply-link {
	color: #ffd824 !important;
}

a.comment-reply-link:hover {
	color: #ffd824 !important;
	border-bottom: 1px solid #ffd824;
	padding-bottom: 1px;
}

a.comment-reply-link:before {
	font-family: 'FontAwesome';
	content: '\f122';
	color: #ffd824;
	margin-right: 10px;

}

#respond{
	margin-top: 60px;
	margin-bottom: 40px;
}


#respond hr {
	width: 80px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

#reply-title{
	width:100%;
	float:left;
	padding-bottom:30px;
	margin-bottom:5px;
	margin-top:30px;
	font-size:14px;
	text-transform:none;
}

.control-group label, .control-group .controls{ 
	display:block;
}
.control-group label{ 
	margin-left: 10px; 
	font-weight: 200;
	font-size:14px;
}
.control-group .controls input { 
	margin-top: 15px;
	border: none;
	outline: none;
	height: 35px;
	background: none;
	padding-left: 15px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;

}
.control-group .controls textarea {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 180px;
	max-width: 100%;
	background: none;
	padding-left: 15px;
	padding-top: 15px;
	color: #fff;
	resize: vertical;
	text-decoration: none;
	border: 2px solid #fff;
}
.controls button {
	outline: none;
	-webkit-appearance: none;
	cursor: pointer;
	margin-top: 15px;
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: inherit;
	padding: 12px 70px;
	color: #fff;
	border:none;
}

/* Styling for the contactform */
#commentform {
	display: block;
	width: 100%;
	margin: 50px auto 0;
	text-align: left;
}

#commentform label {
	position: relative;
	z-index: 13;
	padding-left: 20px;
	line-height: 50px;
}


#commentform input,
#commentform textarea,
#commentform select {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 50px;
	margin-top: -50px;
	font-size: 1em;
	padding-left: 45px;
	padding-right: 20px;
	width: 100%;
	color: #ffffff;
	background: none;
	border: 2px solid #ffd824;
	
}

#commentform input:focus,
#commentform textarea:focus,
#commentform select:focus {
	border: 2px solid #ffd824;
	background-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
}


#commentform select {
	padding-right: 10px;
	margin-bottom: 20px;
}

@-moz-document url-prefix() {
	#commentform select {
		padding-top: 14px;
	}
}

#commentform textarea {
	line-height: 25px;
	width: 100%;
	min-height: 120px;
}

#commentform input.input-verify {
	padding-left: 68px;
}



/* The button */
#commentform input.submit {
	-webkit-appearance: none;
	cursor: pointer;
	margin: 20px auto 0;
	width: auto;
	height: auto;
	border: 0;
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.2em;
	line-height: 0;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
	color: #ffd824;
	background: url(../images/bg-pattern-gray.png) repeat;
	border: 2px solid #ffd824;
}

#commentform input.submit:hover {
	color: #191919;
	background: #ffd824;
	border: 2px solid #ffd824;
	z-index: 20;
}

#commentform input[type="submit"][disabled] {
	color: #191919;
	background: #ffd824;
}

/* Form validation styles */
#commentform span.required {
	color: #947e1b;
}

/*  21 - 404 Page  */

.fourzerofour {
	position: relative;
	width: 100%;
	height: 100%;
}

.fourzerofour-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		 -o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	display: inline-block;
	width: 920px;
}

.fourzerofour hr {
	width: 220px;
	height: 2px;
	background: #ffffff;
	border: 0;
	margin: 30px auto;
}

.fourzerofour h1 {
	width: 100%;
	display: block;
	font-family: 'Monda', Arial,  Helvetica, sans-serif;
	font-size: 140px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0;
}

.fourzerofour h2 {
	margin-bottom: 10px;
}

.fourzerofour a {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.fourzerofour i {
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 76px;
	letter-spacing: 0;
	color: #ffffff;
	border: 2px solid #ffffff;

	margin: 25px auto;
}

.fourzerofour em {
	font-family: 'Open Sans', Arial,  Helvetica, sans-serif;
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	color: #ffffff;
}

.fourzerofour a:hover em  {
	border-bottom: 1px solid #ffd824;
	padding-bottom: 1px;
}

.fourzerofour a:hover > i {
	color: #ffd824;
	border: 2px solid #ffd824;
}

.video-bg {
	display:block;
	width: 100%;
	height: 100%;	
}

.mob-video {
	background-image: url('images/bg/07.jpg');
}

.player {
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: block;
}

/*  22 - Project Navigation  */

.prject-nav {
	position: relative;
	padding-top: 50px;
	padding-bottom: 70px;
	background: #ffffff;
	margin-left: -10px;
}

.prject-nav:before {
	content: '';
	height: 7px;
	width: 100%;
	right: 0;
	top: 0px;
	margin-top: -7px;
	position: absolute;
	background: url(../images/line-pattern-white.png) repeat-x;
	z-index: 2;
}

.prject-nav a {
	line-height: 45px;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	width: 45px;
	height: 45px;
	margin-left: 10px;
	color: #191919;
}

.prject-nav a:hover{
	color: #ffdb24;
	font-weight: 600;
	box-shadow: inset 0 0 0 2px #ffd824;
	background:url(../images/bg-pattern-gray.png) repeat;
}
	
/*  23 - Responsive Setting  */

/* Large */
@media only screen and (min-width: 1200px) {

	.menu-wrap,
	.home-content {
		width: 1160px;
	}
	
		li.service-item i {
		max-height:240px;
		height:240px;
	}
	



}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {


	.menu-wrap,
	.home-content,
	.centerdiv,
	.fourzerofour-content {
		width: 690px;
	}
	
	ul.home-menu {
		width: 145px
	}
	
	li.service-item {
		margin-right: 15px;
		margin-left: 15px;
	}
	
	#contactform input.submit {
		margin: 10px auto 0;
	}

}

/* Medium */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	li.service-item i {
		max-height:160px;
		height:160px;
	}
	
	
	.bigtext h1,
	h1.bigtext {
		font-size: 70px;
	}
	
	.bigtext h2,
	h2.bigtext {
		font-size: 60px;
	}
	
	.bigtext h3,
	h3.bigtext {
		font-size: 50px;
	}
	
	.bigtext h4,
	h4.bigtext {
		font-size: 40px;
	}
	
	.bigtext h5,
	h5.bigtext {
		font-size: 30px;
	}
	
	.bigtext h6,
	h6.bigtext {
		font-size: 20px;
	}
	
	p.big {
		font-size: 20px;
		line-height: 30px;
	}
	
	.header,
	.home-wrap-short {
		height: 540px;
	}
	
	.header.medium {
		height: 400px;
	}
	
	.header.small {
		height: 280px;
	}
	
	.home-content,
	.centerdiv,
	.fourzerofour-content {
		width: 400px;
	}
	
	ul.home-menu {
		width: 90px
	}
	
	ul.home-menu b,
	ul.home-menu em {
		display: none;
	}
		
	li.service-item {
		margin-right: 8px;
		margin-left: 8px;
	}
	
	.serviceblock {
		padding: 0;
		border: none;
	}
	
	.serviceblock:hover {
		border: none;
	}
	
	.serviceblock .button {
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}
	
	.serviceblock:hover i {
		color: #adadad;
		border: 3px solid #ffffff;
	}
	
	.serviceblock i:hover {
		color: #ffd824;
		border: 3px solid #ffd824;
	}
	
	.employeeblock {
		padding: 0;
		border: none;
	}
	
	.employeeblock:hover {
		border: none;
	}
	
	#contactform input.submit {
		margin: 0 auto;
	}
	
	.footer .alignleft, 
	.footer .alignright {
		text-align: center;
	}
	
	.project-page-intro {
		padding-top: 50px;
	}

}

/* Small */
@media only screen and (max-width: 479px) {

	body {
		min-width: 302px;
	}
	
	.bigtext h1,
	h1.bigtext {
		font-size: 45px;
	}
	
	.bigtext h2,
	h2.bigtext {
		font-size: 40px;
	}
	
	.bigtext h3,
	h3.bigtext {
		font-size: 35px;
	}
	
	.bigtext h4,
	h4.bigtext {
		font-size: 30px;
	}
	
	.bigtext h5,
	h5.bigtext {
		font-size: 20px;
	}
	
	.bigtext h6,
	h6.bigtext {
		font-size: 16px;
	}
	
	p.big {
		font-size: 20px;
		line-height: 30px;
	}
	
	.header,
	.home-wrap-short {
		height: 480px;
	}
	
	.header.medium {
		height: 320px;
	}
	
	.header.small {
		height: 240px;
	}
	
	.home-content,
	.centerdiv,
	.fourzerofour-content {
		min-width: 270px;
		width: 270px;
	}
	
	.the-logo {
		max-width: 270px;
	}
	
	ul.home-menu {
		width: 60px;
	}
	
	ul.home-menu b,
	ul.home-menu em {
		display: none;
	}
	
	ul.home-menu i {
		font-size: 20px;
		width: 50px;
		height: 50px;
		line-height: 46px;
	}
	
	.slides-pagination,
	#home-pagination.bullet-pagination {
		bottom: 15px;
	}
	
	

	
	li.service-item {
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.serviceblock {
		padding: 0;
		border: none;
	}
	
	.serviceblock:hover {
		border: none;
	}
	
	.serviceblock .button {
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}
	
	.serviceblock:hover i {
		color: #adadad;
		border: 3px solid #ffffff;
	}
	
	.serviceblock i:hover {
		color: #ffd824;
		border: 3px solid #ffd824;
	}
	
	
	.employeeblock {
		padding: 0;
		border: none;
	}
	
	.employeeblock:hover {
		border: none;
	}
	
	#contactform input.submit {
		margin: 0 auto;
		width: 100%;
	}
	
	.footer .alignleft, 
	.footer .alignright {
		text-align: center;
	}
	
	.project-page-intro {
		padding-top: 50px;
	}
	
	.featured-work-slider,
	.about .header,
	.about-us .header,
	.project-page-slider {
		margin-bottom: 50px;
	}
	
	.introduction,	
	.featured-work,
	.gallery-of-works,
	.about,
	.about-us,
	.services,
	.simple-services,
	.social-footer {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	
	.contact {
		padding-top: 70px;
		padding-bottom: 100px;
	}
	
	

}



/*  24 - Your CSS  */
