/*
Name : Dark - Multipurpose Mobile Template
Author : Ngetemplates
Author URL : https://themeforest.net/user/ngetemplates
/* --------------------------------
Table of Contents
- General
- Navbar
- Side Nav
- Slider
- Service
- Screenshot
- Features
- Testimonial
- Blog
- Blog single
- Shop
- Shop single
- Checkout
- Portfolio
- Team
- Pricing
- Error 404
- Footer   
-------------------------------- */

/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Montserrat:400,500,600,700|Raleway:400,500,600,700');

/* ------------------------------
  General
---------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Arimo', sans-serif;
	background: #262626;
	color: #bbb;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	color: #ccc;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #ccc;
}

p {
	margin: 5px 0;
	letter-spacing: 1px;
	line-height: 20px;
}

.section {
	padding: 50px 0;
}

.section h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin: 0 0 10px 0;
	font-size: 16px;
}

.pages {
	margin-top: 50px !important;
}

.pages-head {
	text-align: center;
	padding: 0 10px 20px 10px;
	text-transform: uppercase;
}

.pages-head h3 {
	font-size: 20px;
	font-weight: 500;
}

.bg-second {
	background: #232323;
}

.section-head {
	text-align: center;
	margin: 0 auto 25px auto;
}

.section-head h4 {
	margin-bottom: 5px;
	font-size: 20px;
}

.section-head .underline {
	width: 40px;
	height: 2px;
	background: #f44336;
	margin: 10px auto 0;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
	background-color: transparent;
	border: none;
	border: 1px solid #333;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #333;
	border-radius: 0;
	outline: none;
	height: auto;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 12px 0;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}


input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-color: #555;
}	

::-webkit-input-placeholder { 
  color: #999;
}
::-moz-placeholder { 
  color: #999;
}
:-ms-input-placeholder { 
  color: #999;
}
:-moz-placeholder {
  color: #999;
}

/* ------------------------------
  Button
---------------------------------*/
.button-default {
	background: #f44336;
	color: #ffffff;
	box-shadow: none;
	border-radius: 1px;
	margin: 10px 0 10px;
	border: 1px solid #f44336;
	padding: 3px 12px 3px;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
}

.button-fullwidth {
	width: 100%;
	text-align: center;
}

.button-default a {
	color: #ffffff;
}

.button-default:hover {
	background: #f44336;
	opacity: 0.9;
	box-shadow: none;
}

.who-we-are .button-default {
	margin-top: 30px;
	background: #fff;
	color: #f44336;
}

/* ------------------------------
  Navbar
---------------------------------*/
.navbar-top {
	background: #262626;
	width: 100%;
	height: 65px;
	padding: 12px 18px;
	border-bottom: 2px solid #292929;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	position: fixed;
	z-index: 99;
}

.navbar-top i {
	color: #ddd;
}

.site-brand {
	text-align: center;
	display: inline-block;
}

.site-brand a h1 {
	font-size: 30px;
	font-weight: 500;
	line-height: 42px;
	color: #ddd;
}

.site-brand a h1 span {
	color: #f44336;
}

/* ------------------------------
  Sidenav
---------------------------------*/
.side-nav a {
	font-size: 14px;
	height: 45px;
	padding: 0 16px;
}

.side-nav li.active {
	background: #222;
}

.side-nav-panel-left {
	float: left;
	font-size: 28px;
}

.side-nav-panel-right {
	float: right;
	font-size: 28px;
}

.side-nav-left {
	font-size: 28px;
	color: #313131;
}

.side-nav-left i,
.side-nav-right i {
	font-size: 24px;
}

.side-nav-panel {
	text-align: left;
	background: #222;
}

.side-nav-panel .profil {
	background:  linear-gradient( rgba(10, 10, 11, 0.63), rgba(64, 71, 74, 0.34)), url(../img/image-profil.jpg) center no-repeat;
	background-size: cover;
	padding: 50px 0 15px 18px;
	border-top: 0;
}

.side-nav-panel .profil img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.side-nav-panel .profil h2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: default;
}

.side-nav-panel li a {
	color: #ccc;
	font-weight: normal;
}

.side-nav-panel li {
	font-weight: 700;
}

.side-nav-panel li:last-child {
	
}

.side-nav-panel .li-top {
	padding-top: 10px;
}

.side-nav-panel li a:hover {
	background: transparent;
}

.side-nav-panel li a i {
	margin: 0 16px 0 0;
	font-size: 18px;
	color: #ccc;
	line-height: 45px;
}

.side-nav-panel-left .collapsible {
	border: 0;
}

.side-nav .collapsible-body ul li a {
	font-weight: normal;
	color: #ccc;
	margin-left: 28px;
	font-size: 13px;
	line-height: 43px;
}

.side-nav .collapsible-header {
	padding: 0;
	color: #ccc;
	font-weight: normal;
	font-size: 14px;
}

.side-nav .collapsible-header > i {
	margin-right: 25px;
}

.side-nav .collapsible-header.active {
	border-bottom: 1px solid transparent;
}

.side-nav .collapsible-header:hover {
	background: transparent;
}

.side-nav .collapsible-header.active {
	background: #232323;
}

.collapsible-header i {
	width: auto;
	font-size: 18px;
	color: #ccc;
	margin-left: 17px;
}

.collapsible-header span i {
	float: right;
	color: #999;
	font-size: 16px;
}


/* ------------------------------
  Slider
---------------------------------*/
.slider {
	margin-top: 64px;
	height: 300px !important;
}

.slider .slides {
	height: 300px !important;
}

.slider-content {
	margin: 10px auto;
	top: 25% !important;
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	position: relative;
	flex-shrink: 0;
}

.slider .slides li img {
	width: 100%;
	height: 100%;
}

.slider .slides li::before {
	background-color: #000;
	opacity: 0.5;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-content h2 {
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.slider-content h4 {
	font-size: 14px;
	color: #ffffff;
}

.slider-content .button-default {
	margin: 20px 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.slider .indicators {
	position: relative;
	bottom: 50px;
	z-index: 95;
}

.slider .indicators .indicator-item {
	z-index: 1000;
	height: 10px;
	width: 10px;
	background: #cccccc;
	margin: 0 8px;
}

.slider .indicators .indicator-item.active {
	background: #ffffff;
}

/* ------------------------------
	services
---------------------------------*/
.services {
	text-align: center;
}

.services i {
	font-size: 30px;
	margin-bottom: 15px;
	color: #f44336;
}

.services .mb {
	margin-bottom: 0;
}

/* ------------------------------
	service
---------------------------------*/
.service .c-right {
	text-align: right;
}

.service .content i {
	width: 60px;
    height: 50px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: #fff;
}

.service-two {
	text-align: center;
}

.service-two .icon {
	border-radius: 50%;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	margin: 5px auto 15px;
}

.service-two .icon i {
	font-size: 24px;
	color: #fff;
}


.m-bottom {
	margin-bottom: 0;
}

/* ------------------------------
	quote
---------------------------------*/
.quote h5 {
	font-size: 22px;
}


/* ------------------------------
	screenshot
---------------------------------*/
.screenshot {
	padding-bottom: 0 !important;
	text-align: center;
}

.screenshot img {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.screenshot .img-sc {
	background: url(../img/sc.png) bottom no-repeat;
	background-size: 100% 100%;
	height: 200px;
}

/* ------------------------------
  Testimonial
---------------------------------*/
.testimonial {
	text-align: center;
}

.testimonial img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.testimonial i {
	font-size: 24px;
	margin-bottom: 10px;
}

.testimonial p {
	font-style: italic;
}

.testimonial h6 {
	font-size: 14px;
	margin: 15px 0;
}

.testimonial .owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
}

/* ------------------------------
	latest news
---------------------------------*/
.latest-news {
	border-radius: 3px;
}

.latest-news img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	border-radius: 3px 3px 0 0;
}

.latest-news .content {
	background: #292929;

}

.latest-news .post {
	padding: 0 10px 10px;
}

.latest-news .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.latest-news .button-default {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: block;
}

/* ------------------------------
  About us
---------------------------------*/
.about-us {
	margin: 0;
}

.about-us img {
	width: 100%;
	height: 100%;
	margin-bottom: 8px;
}


/* ------------------------------
  Blog
---------------------------------*/
.blog-content {
	border: 1px solid #333;
}

.blog-content img {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	float: left;
}

.blog-content h5 {
	font-size: 18px;
}

.blog-content .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.blog-content .button-default {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.blog-detailt {
	border-top: 0;
	padding: 20px 16px;
}

.pagination-blog {
	padding: 20px 0;
	text-align: center;
}

.pagination-blog ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination-blog ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #777;
	margin: 4px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
}

.pagination-blog ul .active {
	border-color: #f44336;
}

/* ------------------------------
  Blog single
---------------------------------*/
.blog-single img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.blog-single .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.share-post {
	padding: 20px 0;
	margin: 15px 0 25px;
}

.share-post ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.share-post ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid #777;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
	margin: 0 3px;
}

.comment img {
	border-radius: 50%;
}

.comment h5 {
	margin-bottom: 15px;
}

.comment-form .comment-head {
	margin-bottom: 20px;
}

.comment-form .input-field {
	margin-top: 0;
}

.comment-form input, 
.comment-form textarea {
	padding: 10px;
	border-color: #444;
}

.comment-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}


/* ------------------------------
  Shop
---------------------------------*/
.shop {
	border: 1px solid #333;
	padding: 10px;
	text-align: center;
}

.shop img {
	width: 100%;
	height: 100%;
}

.shop h6 {
	margin: 5px 0;
	font-size: 16px;
	text-align: center;
}

.shop h6 a {
	color: #ccc;
}

.shop span {
	color: #f44336;
	font-size: 20px;
	text-align: center;
}

.shop-pagination {
	text-align: center;
}

.shop-pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shop-pagination ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #777;
	margin: 4px;
	line-height: 28px;
}

.shop-pagination ul .active {
	border-color: #f44336;
}

/* ------------------------------
  Shop single
---------------------------------*/
.shop-single {
	margin: 0;
}

.shop-single img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.shop-single h6 {
	margin-bottom: 5px;
}

.shop-single span {
	color: #f44336;
	font-size: 20px;
}

.shop-single .button-default {
	margin: 10px 0;
}

.review {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #333;
}

.review img {
	border-radius: 50%;
}

.review h5 {
	margin-bottom: 15px;
}

.review-form .review-head {
	margin-bottom: 20px;
}

.review-form .input-field {
	margin-top: 0;
}

.review-form input, 
.review-form textarea {
	border-color: #333;
	border-bottom-color: #333;
	padding: 10px;
}

.review-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}

/* ------------------------------
  Checkout
---------------------------------*/
.checkout .collapsible {
	border: 1px solid #333;
}

.checkout .collapsible-header {
	padding-top: 15px;
	padding-bottom: 5px;
	background: #232323;
	border-bottom: 1px solid #333;
}

.checkout .collapsible {
	box-shadow: none;
}

.checkout-content h5 {
	font-weight: 500;
	color: #ccc;
	font-size: 18px;
}

.checkout-content .collapsible-body {
	padding: 18px;
	border-bottom-color: #333;
}

.checkout-content .collapsible-body p {
	padding: 0;
}

.checkout-content h6 {
	font-weight: 500;
	color: #ccc;
	font-size: 16px;
}

.checkout-content .checkout-radio {
	margin: 20px 0 10px 0;
}

.checkout-radio span {
	color: #bbb;
	font-weight: 500;
}

.checkout-login {
	margin-top: 20px;
	border-top: 1px dotted #333;
	padding-top: 30px;
}

.checkout-login h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #ccc;
	font-size: 14px;
}

.checkout-login h6 span {
	font-weight: 600;
	color: #ccc;
	font-size: 18px;
}

.checkout-login p {
	margin: 5px 0 30px;
}

.checkout-login .button-default {
	margin-bottom: 0;
}

.billing-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #ccc;
	font-size: 14px;
}

.shipping-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #ccc;
	font-size: 14px;
}

.cart-details h5 {
	font-size: 14px;
}

.payment-mode ul {
	margin-left: 35px;
}

.payment-mode ul li {
	display: inline-block;
}

.order-review .cart-product img {
	width: 100%;
	height: 100%;
}

.order-review .row {
	margin-bottom: 0;
}

.final-price {
	margin-top: 20px;
}

.final-price h5 {
	font-weight: 600;
}

.final-price span {
	font-weight: 500;
}


/* ------------------------------
	portfolio
---------------------------------*/
.portfolio img {
	width: 100%;
	height: 100%;
}

.portfolio ul {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	list-style: none;
	margin-bottom: 15px;	
}

.portfolio ul li {
	display: inline-block;
	cursor: pointer;
	color: #999;
    padding: 5px 6px;
	margin: 4px 4px;
}

.portfolio ul li h5 {
	color: #999;
	padding: 0;
	margin: 0;
}

.portfolio .active {
	color: #f44336;
}

.portfolio .active h5 {
	color: #f44336;
}

.portfolio img {
	width: 100%;
	height: 100%;
	float: left;
}

.portfolio-content img {
	width: 100% !important;;
	height: 100% !important;
}

.portfolio .row {
	padding: 0;
	margin: 0;
}

.portfolio .row .col {
    padding: 5px;
    margin: 0;
}

/* ------------------------------
  Team
---------------------------------*/
.team {
	background: #282828;
	text-align: center;
	border-radius: 3px;
}

.team img {
	width: 100%;
	height: 100%;
	border-radius: 3px 3px 0 0;
}

.team-details {
	padding: 10px;
}

.team-details span {
	margin: 5px 0 8PX;
	display: block;
}

.team-details ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.team-details ul li {
	display: inline-block;
	border: 1px solid #777;
	height: 25px;
	width: 25px;
	line-height: 23px;
	text-align: center;
	border-radius: 1px;
	border-radius: 50%;
	margin: 2px;
}

.team-details ul li a {
	color: #666;	
}

/* ------------------------------
  Features
---------------------------------*/
.features .tagline {
	text-align: center;
	margin-bottom: 25px;
}

.features .row:last-child {
	margin-bottom: 0;
}

/* ------------------------------
  Pricing
---------------------------------*/
.pricing {
	border: 1px solid #333;
	text-align: center;
}

.pricing-head {
	padding: 20px 10px;
	color: #f44336;
}

.pricing-head h5 {
	margin-bottom: 0;
}

.pricing-head span {
	font-size: 28px;
}

.pricing ul {
	padding: 10px;
	margin: 0;
}

.pricing ul li {
	padding: 6px 0;
	border-bottom: 1px solid #292929;
}

.pricing .button-default {
	margin: 10px 0 25px;
}

/* ------------------------------
  Contact, Login, Register
---------------------------------*/
.contact-us input, 
.contact-us textarea,
.login input, 
.login textarea,
.register input, 
.register textarea {
	padding-left: 10px;
	border-color: #444;
	padding-right: 10px;
}

.contact-us input, 
.contact-us textarea,
.login input, 
.login textarea,
.register input, 
.register textarea {
	border-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #444;
}

.contact-us .button-default {
	margin-top: 10px;
	margin-bottom: 0;
}

.login .button-default {
	margin-top: 25px;
}

.register .button-default {
	margin-top: 0;
}

/* ------------------------------
  Error 404
---------------------------------*/
.error404 {
	text-align: center;
}

.error404 h4 {
	font-size: 100px;
}

/*loader custom color*/
.double-bounce1, .double-bounce2 {
	background-color: #f44336;
}


/* ------------------------------
  Footer
---------------------------------*/
.footer {
	background: #222;
	padding: 35px 0;
}

.about-us-foot {
	text-align: center;
	color: #ddd;
}

.about-us-foot span {
	color: #f44336;
}

.about-us-foot h6 {
	color: #ffffff;
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.social-media {
	text-align: center;
	margin: 18px 0 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #444;
}

.social-media a {
	margin: 0 3px;
}

.social-media a i {
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
}

.copyright {
	text-align: center;
	padding: 20px 0 0 0;
}

.copyright span {
	color: #eeeeee;
	text-align: center;
}