// All JavaScript Files 
script(src="js/bootstrap.bundle.min.js")
script(src="js/internet-status.js")
script(src="js/dark-rtl.js")
script(src="js/active.js")

// Apex Chart 
script(src="js/apexcharts.min.js")
script(src="js/chart-active.js")

// PWA 
script(src="js/pwa.js")