// # Header Four Layout 
// # Copy the code from here ... 

// Header Content 
.header-content.header-style-four.position-relative.d-flex.align-items-center.justify-content-between                            
    // Navbar Toggler 
    .navbar--toggler#affanNavbarToggler(data-bs-toggle="offcanvas", data-bs-target="#affanOffcanvas", aria-controls="affanOffcanvas")
        span.d-block
        span.d-block
        span.d-block

    // Logo Wrapper 
    .logo-wrapper
        a(href="page-home.html")
            img(src="img/core-img/logo.png", alt="")

    // User Profile 
    .user-profile-wrapper
        a.user-profile-trigger-btn(href="#")
            img(src="img/bg-img/20.jpg", alt="")

// # Header Four Layout End 