// # Header Five Layout 
// # Copy the code from here ... 

// Header Content 
.header-content.header-style-five.position-relative.d-flex.align-items-center.justify-content-between
    // Logo Wrapper 
    .logo-wrapper
        a(href="page-home.html")
            img(src="img/core-img/logo.png", alt="")

    // Navbar Toggler 
    .navbar--toggler#affanNavbarToggler(data-bs-toggle="offcanvas", data-bs-target="#affanOffcanvas", aria-controls="affanOffcanvas")
        span.d-block
        span.d-block
        span.d-block

// # Header Five Layout End 