// # Header Six Layout 
// # Copy the code from here ... 

// Header Content 
.header-content.header-style-six.position-relative.d-flex.align-items-center.justify-content-between
    // Search 
    .search-wrapper
        a.search-trigger-btn(href="#")
            svg.bi.bi-search(width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z")
                path(fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z")

    // Logo Wrapper 
    .logo-wrapper
        a(href="page-home.html")
            img(src="img/core-img/logo.png", alt="")

    // Navbar Toggler 
    .navbar--toggler#affanNavbarToggler(data-bs-toggle="offcanvas", data-bs-target="#affanOffcanvas", aria-controls="affanOffcanvas")
        span.d-block
        span.d-block
        span.d-block

// # Header Six Layout End 