// Tiny Slider Three Wrapper 
.container.px-0
    .tiny-slider-three-wrapper
        .tiny-slider-three
            // Single Hero Slide 
            div
                .single-hero-slide.bg-img(style="background-image: url('img/bg-img/9.jpg')")
                    .slide-content
                        h2.text-white Sports Shoe
                        h1.text-white.mb-5.fw-bold $199
                        a.btn.btn-creative.btn-warning(href="#") Buy Now

            // Single Hero Slide 
            div
                .single-hero-slide.bg-img(style="background-image: url('img/bg-img/18.jpg')")
                    .slide-content
                        h2.text-dark Wooden Chair
                        h1.text-dark.mb-5.fw-bold $24
                        a.btn.btn-creative.btn-light(href="#") Buy Now

            // Single Hero Slide 
            div
                .single-hero-slide.bg-img(style="background-image: url('img/bg-img/35.jpg')")
                    .slide-content
                        h2 Magic Ball
                        h1.mb-5.fw-bold $16
                        a.btn.btn-creative.btn-primary(href="#") Buy Now