// Tiny Slider One Wrapper 
.tiny-slider-one-wrapper
    .tiny-slider-one
        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/31.jpg')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Build with Bootstrap 5
                        p.text-white.mb-4 Build fast, responsive sites with Bootstrap.
                        a.btn.btn-creative.btn-warning(href="#") Buy Now
        
        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/33.jpg')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Vanilla JavaScript
                        p.text-white.mb-4 The whole code is written with vanilla JS.
                        a.btn.btn-creative.btn-warning(href="#") Buy Now

        // Single Hero Slide 
        div 
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/32.jpg')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 PWA Ready
                        p.text-white.mb-4 Click the "Add to Home Screen" button &amp; <br> enjoy it like an app.
                        a.btn.btn-creative.btn-warning(href="#") Buy Now

        // Single Hero Slide 
        div 
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/33.jpg')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Lots of Elements &amp; Pages
                        p.text-white.mb-4 Create your website in days, not months.
                        a.btn.btn-creative.btn-warning(href="#") Buy Now

        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/1.jpg')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Dark &amp; RTL Ready
                        p.text-white.mb-4 You can use the Dark or <br> RTL mode of your choice.
                        a.btn.btn-creative.btn-warning(href="#") Buy Now