// Section Pre Footer
section.section.section-lg.bg-gray-900
  .container
    .row.row-30
      .col-xs-10.col-lg-4.align-self-center
        a.brand( href='index.html' )
          img.brand-logo-light( src='images/' + logo.inverseBig.desktop, srcset='images/' + logo.inverseBig.retina alt= logo.name )
      .col-xs-10.col-sm-6.col-lg-4
        h5: span.big.font-weight-sbold Event detail
        .event-detail
          p.event-detail-time.big: time( data-splitting  datetime='2019-01-05' ) January 5 to 9, 2019
          p.event-detail-address.big( data-splitting ) 66 Road Broklyn Street BNG 275 New York. United States of America.
          a.event-detail-link(href='contact.html') View map location
      .col-xs-10.col-sm-6.col-lg-4
        h5: span.big.font-weight-sbold Social Updates
        .event-detail
          p.big You may wonder: why this event so popular? If you do,
            br.d-none.d-xl-block
            =" "
            | find more info about it here.
          ul.list-inline.list-inline-xs
            li( data-wow-delay='.2s' ): a.icon.icon-rect.icon-xs.icon-white.fa-facebook( href='#' data-triangle=".icon-rect-overlay" ): .icon-rect-overlay
            li( data-wow-delay='.35s' ): a.icon.icon-rect.icon-xs.icon-white.fa-twitter( href='#' data-triangle=".icon-rect-overlay" ): .icon-rect-overlay
            li( data-wow-delay='.5s' ): a.icon.icon-rect.icon-xs.icon-white.fa-linkedin( href='#' data-triangle=".icon-rect-overlay" ): .icon-rect-overlay
            li( data-wow-delay='.65s' ): a.icon.icon-rect.icon-xs.icon-white.fa-youtube-play( href='#' data-triangle=".icon-rect-overlay" ): .icon-rect-overlay

// Divider
.divider.divider-gray-900.text-center

// Footer Classic
footer.section.footer-classic.context-dark
  .container
    +rights
