@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85908235');
  src: url('../font/fontello.eot?85908235#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85908235') format('woff'),
       url('../font/fontello.ttf?85908235') format('truetype'),
       url('../font/fontello.svg?85908235#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85908235#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cloud:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-desktop:before { content: '\e809'; } /* '' */
.icon-beaker:before { content: '\e807'; } /* '' */
.icon-tag:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e819'; } /* '' */
.icon-eye-1:before { content: '\e818'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-left-open-mini:before { content: '\e814'; color: #FFFFFF;font-size: 22px;left: -4%;position: relative;top: 5px;} /* '' */
.icon-right-open-mini:before { content: '\e815';color: #FFFFFF;font-size: 22px;left: 1%;position: relative;top: 5px; } /* '' */
.icon-up-open-mini:before { content: '\e82c'; } /* '' */
.icon-beaker-1:before { content: '\e80e'; } /* '' */
.icon-rocket:before { content: '\e811'; } /* '' */
.icon-user-male:before { content: '\e80a'; } /* '' */
.icon-coffee:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-pencil-alt:before { content: '\e826'; } /* '' */
.icon-twitter:before { content: '\e831'; } /* '' */
.icon-twitter-bird:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e83b'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-picasa:before { content: '\e804'; } /* '' */
.icon-instagram-filled:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-briefcase:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-twitter-bird-footer:before{ content: '\e801';position:relative;color:#00b686;font-size:50px;top:-35px;left:-8px; } /* '' */
.icon-quote-right-1:before{ content: '\e80d';position:relative;color:#00b686;font-size:60px;top:60px; left:46%; } /* '' */
.icon-coffee-request:before { content: '\e810';color:#0F2B37;font-size:80px;top:60px; left:46%;  } /* '' */