<div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark {{ navbarClass or '' }} pr-0" id="navbar" data-primary>
  <div class="{{ navbarContainerClass or containerClass }}{% if prefix !== 'fixed-' %} p-0{% endif %}">

    <!-- Navbar toggler -->
    {% if 'fluid' in prefix %}
      <button class="navbar-toggler navbar-toggler-custom navbar-toggler-right d-block" type="button" data-toggle="sidebar">
        <span class="material-icons">apps</span>
      </button>
    {% else %}
      <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    {% endif %}

    {% if layout !== 'mini' %}
    <!-- Navbar Brand -->
    <a href="{{ home_url }}" class="navbar-brand {{ navbarBrandClass or '' }}">
      <img class="navbar-brand-icon" src="assets/images/logo@2x.png" height="26" alt="BizzArk">
      {% if navbarBrandText !== false %}<span>BizzArk</span>{% endif %}
    </a>
    {% endif %}

    {% if 'mini' in prefix %}
      <div class="navbar-collapse flex">
        {% include 'layouts/_navbar.menu.html' %}
      </div>
    {% else %}
      {% include 'layouts/_navbar.switch.html' %}
      <span class="mr-3"></span>
      <div class="flex"></div>
    {% endif %}

    {% if navbarSearch !== false %}
    <form class="search-form d-none d-xl-flex flex" action="{{ prefix }}index.html">
      <button class="btn" type="submit"><i class="material-icons">search</i></button>
      <input type="text" class="form-control" placeholder="Search">
    </form>
    {% else %}
      {% if 'mini' not in prefix %}
        <div class="flex"></div>
      {% endif %}
    {% endif %}

    <ul class="nav navbar-nav ml-auto d-none d-md-flex">
      <!-- <li class="nav-item">
        <a href="" class="nav-link">
          <i class="material-icons">help_outline</i> Get Help
        </a>
      </li>
      <li class="nav-item mr-3">
        <a href="{{ prefix }}pricing.html" class="btn btn-outline-warning">
          <i class="material-icons">star</i> PRO
        </a>
      </li> -->
      <li class="nav-item dropdown">
        <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
          <i class="material-icons nav-icon navbar-notifications-indicator">notifications_none</i>
        </a>
        <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
          <div class="dropdown-item d-flex align-items-center py-2">
            <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
            <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
          </div>
          <div class="navbar-notifications-menu__content" data-perfect-scrollbar>
            <div class="py-2">
              {% for item in [1,2,3] %}
              <div class="dropdown-item d-flex">
                <div class="mr-3">
                  <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                    <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                  </div>
                </div>
                <div class="flex">
                  <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                  <small class="text-muted">1 minute ago</small>
                </div>
              </div>
              <div class="dropdown-item d-flex">
                <div class="mr-3">
                  <a href="#">
                    <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                      <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                    </div>
                  </a>
                </div>
                <div class="flex">
                  New user <a href="#">Peter Parker</a> signed up.<br>
                  <small class="text-muted">1 hour ago</small>
                </div>
              </div>
              <div class="dropdown-item d-flex">
                <div class="mr-3">
                  <a href="#">
                    <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                      <span class="avatar-title rounded-circle">JD</span>
                    </div>
                  </a>
                </div>
                <div class="flex">
                  <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                  <div>Hey, how are you? What about our next meeting</div>
                  <small class="text-muted">2 minutes ago</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-border navbar-height align-items-center">
      <li class="nav-item dropdown">
        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
          <!-- <img src="assets/images/avatar/demi.png" class="rounded-circle" width="40" alt="Frontted"> -->
          <span class="avatar">
            <span class="avatar-title rounded-circle bg-warning">AD</span>
          </span>
        </a>
        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item-text dropdown-item-text--lh">
            <div><strong>Adrian Demian</strong></div>
            <div>@adriandemian</div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item{% if slug === 'dashboard' %} active{% endif %}" href="{{ home_url }}">Dashboard</a>
          <a class="dropdown-item{% if slug === 'profile' %} active{% endif %}" href="{{ prefix }}profile.html">My profile</a>
          <a class="dropdown-item{% if slug === 'edit-account' %} active{% endif %}" href="{{ prefix }}edit-account.html">Edit account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ prefix }}login.html">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</div>