<li class="sidebar-menu-item{% if slug === 'social-activity' %} active{% endif %}"{% if layout === 'mini' %} data-toggle="tooltip" data-title="Activity" data-placement="right" data-boundary="window"{% endif %}>
  <a class="sidebar-menu-button" href="{{ prefix }}social-activity.html">
    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">trending_up</i>
    <span class="sidebar-menu-text">Activity</span>
  </a>
</li>

{% if layout === 'mini' %}
<li class="sidebar-menu-item{% if slug === 'social-profile' or slug === 'social-edit-account' %} active{% endif %}" role="presentation" data-toggle="tooltip" data-title="Profile" data-placement="right" data-container="body" data-boundary="window">
  <a class="sidebar-menu-button js-sidebar-mini-toggle" href="#sm_social_profile" data-toggle="tab" role="tab" aria-controls="sm_social_profile" aria-selected="false">
    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">people</i>
    <span class="sidebar-menu-text">Profile</span>
  </a>
</li>
<li class="sidebar-menu-item{% if 'blog' in slug or 'post' in slug %} active{% endif %}" role="presentation" data-toggle="tooltip" data-title="Blog" data-placement="right" data-container="body" data-boundary="window">
  <a class="sidebar-menu-button js-sidebar-mini-toggle" href="#sm_social_blog" data-toggle="tab" role="tab" aria-controls="sm_social_blog" aria-selected="false">
    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">filter_frames</i>
    <span class="sidebar-menu-text">Blog</span>
  </a>
</li>
{% else %}
  {% include 'layouts/_social-profile.sidebar-menu.html' %}
  {% include 'layouts/_social-blog.sidebar-menu.html' %}
{% endif %}

<li class="sidebar-menu-item{% if slug === 'social-discussions' %} active{% endif %}"{% if layout === 'mini' %} data-toggle="tooltip" data-title="Discussions" data-placement="right" data-container="body" data-boundary="window"{% endif %}>
  <a class="sidebar-menu-button" href="{{ prefix }}social-discussions.html">
    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">forum</i>
    <span class="sidebar-menu-text">Discussions</span>
  </a>
</li>
<li class="sidebar-menu-item{% if slug === 'social-chat' %} active{% endif %}"{% if layout === 'mini' %} data-toggle="tooltip" data-title="Chat" data-placement="right" data-container="body" data-boundary="window"{% endif %}>
  <a class="sidebar-menu-button" href="{{ prefix }}social-chat.html">
    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">chat_bubble_outline</i>
    <span class="sidebar-menu-text">Chat</span>
  </a>
</li>