/*##################################################################*/
/* Tablet - portrait ###############################################*/
/*##################################################################*/

@media (min-width:480px) and (max-width: 767px) {
    .tlt {
        letter-spacing: 2px;
        font-size: 48px;
        line-height:50px;
    }
    blockquote p {
        font-size: 19px;
        line-height:29px;
    }
  
}

@media (min-width:768px) and (max-width: 992px) {

    
    .service_box p {
        width:220px;
        margin: 0 auto;    
    }
    
    #service_boxes ul {
        width:220px;

    }
    
    .animbox {
        width: 220px;
    }
    
}


/*##################################################################*/
/* Smartphone - portrait ###########################################*/
/*##################################################################*/

@media (max-width: 479px) {
    .tlt {
        letter-spacing: 0px;
        font-size: 25px;
        line-height:30px;
    }
    
    h2 {
        font-size: 35px;
        line-height:52px;
    }
    
    h3 {
        font-size: 25px;
        line-height:37px;
    }
    
    blockquote p {
        font-size: 17px;
        line-height:29px;
    }
    
    #home {
        height:400px;
        background-color: #0070aa;
        background-image: url(../images/home-bg_mobile.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size:  480px 400px;         
    }
    
    #home blockquote {
        margin-top:115px;
    }
    
    #clients {
        height:450  px;
    }
    
    #clients .client_logo {
        border-width:2px;
    }
    .md-content {
    padding-top:10px;     
    }    
    .md-content h3, .md-content p{
    margin-bottom:10px;
    margin-top:10px;
    width:90%;    
    }
    
    .flex-direction-nav li .next {right: 20px}
    .flex-direction-nav li .prev {left: 20px}
    
    .contact_details p{
    margin-top:20px;
    margin-bottom: 50px;
    }
    .social_icons {
    margin-top:25px;
    }
}



/*##################################################################*/
/* Retina - desktop + tablet #######################################*/
/*##################################################################*/

@media all and (-webkit-min-device-pixel-ratio: 2), all and (-moz-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1) {
    #home {    
        background: url(../images/home-bg@2x.jpg);
        background-size: 2500px 574px;
        background-position:center;
        background-repeat:no-repeat;
    }
    
    #clients {
        background: url(../images/clients_bg@2x.jpg);
        background-size: 1000px 500px;
        background-position:top;
        background-repeat:no-repeat;
    }
    

      
}


/*##################################################################*/
/* Retina - smartphone #############################################*/
/*##################################################################*/

@media (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), all and (-moz-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1) {
  #home {    
    background: url(../images/home-bg_mobile@2x.jpg);
    background-size: 480px 400px;
    background-position:center;
  }
}