/*===============================================
    [SASS DIRECTORY ]
    
    [1] SO LATSET BLOG
    [2] SIMPLE BLOG
    [3] ARTICLE INFO
    
==============================================*/

/*============CONTENT ASIDE BLOG ==================*/
.content-aside{
  h3.modtitle2{
        position: relative;
        font-size: 16px;
        font-weight: 700;
        color: #222222;
        text-transform: uppercase;
        padding-bottom: 15px;
        margin-bottom: 30px;
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            #{$left}: 0;
            background: #eeeeee;
        }
        &:before{
            content: "";
            display: block;
            width: 130px;
            height: 2px;
            position: absolute;
            bottom: 0;
            #{$left}: 0;
            background: $linkColor;
            z-index: 2;
        }
    }
  .search{
    position: relative;
    margin-bottom: 50px;
    input{
      height: 40px;
      width: 100%;
      border: 1px solid #d7d7d7;
      border-radius: 3px;
      padding-#{$left}: 40px;
    }
    button{
      position: absolute;
      top: 0;
      #{$left}: 0;
      color: #999999;
      background: none;
      height: 40px;
    }
  }
  .author {
    margin-bottom: 40px;
    .des-author{margin-top: 30px;}
  }
  .achive{
    margin-bottom: 50px;
    h3{
      margin-bottom: 0;
    }
    ul li{
      padding: 15px 0;
      border-bottom: 1px solid #ebebeb;
      &:last-child{
        border: none;
      }
    }
  }
  .lastest-blog {
    position: relative;
    .so-extraslider {
      .extraslider-inner{
        position: static;
      }
      .owl2-controls{
        .owl2-dots{
          @include owl2-dot-style(8px,8px,#222);
          #{$right}: 0;
          top: 5px;
          min-width: 60px;
        }

      }
    }
  }
  

}

/*============ SIMPLE BLOG ==================*/

.blog-category{
    .block-item-inner{
      margin-bottom: 60px;
      .blog-item-img a img:hover{opacity: 0.8;@include transition(all 0.3s ease);}
      .blog-item-content{
        a h4{
          font-weight: 700;
          font-size: 20px;
          color: #222;
          margin-top: 20px;
          &:hover{
            color: $linkColor;
          }
        }
        .blog-meta{
          padding-bottom: 20px;
          border-bottom: 1px solid #eee;
          margin-bottom: 20px;
          span{margin-#{$right}: 20px;}
          span{
            color: #999999;
            a{
              color: #999999;
              &:hover{
                color: $linkColor;
              }
            }
          }
        }
        .readmore a{
          color: $linkColor;
          &:hover{color:#123a71;}
        }
      }
    }
    .item-inner{
      margin-bottom: 40px;
      h4 a{
        color: #222;
        font-size: 16px;
        font-weight: 700;
        &:hover{
          color: $linkColor;
        }
      }
    }
}
.content-pagination1{
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
  border-top: 1px solid #eee;
  ul{
    overflow: hidden;
    display: inline-block;
    li{
      display: inline-block;
      float: $left;
      margin: 5px;
      a{
        display: block;
        padding: 10px 20px;
        border: 1px solid #eaeaea;
        
        color: #222;
        font-weight: 700;
        text-transform: uppercase;
      }
      
      &:hover a, &.active a{
        background: $linkColor;
        color: #fff;
      }
    }
  }
}

.blog-cate{
  ul{
    margin-bottom: 0;
    padding: 10px 0;
    li.list-group-item{
      border: none;
      padding: 5px 15px;
    }
  }
   
}
.blog-listitem{
   
    .blog-item{
        .blog-item-inner{
            display: block; margin-bottom: 30px; 
            transition: all 0.2s;
            &:hover{
                .blog-content h4 > a{color:$linkColor;}

            };
            .itemBlogContent{
                padding: 0;
            }
           .article-image{ position: relative;
                  &:before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-bottom: 85px solid transparent;
                    top: 0;
                    position: absolute;
                    z-index: 2;
                    border-#{$left}: 80px solid #fff;
                    #{$left}: 0;
                  } 
                  .article-date{ position: absolute; z-index: 2; top: 2px; #{$left}: 3px; line-height:20px;
                    .date{ font-size: 14px; color: #909090; display: block; 
                      b{ font-size: 24px; color: #909090;  display: block;}
                    }
                }
                &:hover{
                  img{
                    opacity: 0.8;
                    @include transition(all 0.2s ease-in-out 0s);
                  }
                }
            }
            
            .itemBlogContent { padding: 15px;}
            .blog-meta {
              display: inline-block;
              padding: 0px 0 10px;
              border-bottom: 1px solid #ebebeb;
              vertical-align: top;
              width: 100%;
              font-size: 13px;
            }
            .author ,
            .comment_count,
            .blog-date{ color: #b3b3b3; display: inline-block;margin-#{$right}: 15px;
              i{margin-#{$right}: 8px;}
               a{ color: #b3b3b3;}
            }

           
            .blog-content{clear: both; display: inline-block; width: 100%;
                h4{
                  margin-bottom: 10px; 
                  font-size: 15px;
                    font-weight: 600;
                    line-height: 24px;
                }
                .article-description{
                    margin: 5px 0 15px 0;
                }
             
                .readmore{ font-size: 14px; margin-top:10px;
                    .fa{margin-#{$right}: 8px;}
                    
                    > a{color: $linkColor;}
                  
                }                              
          }

        }

  
    }

    .blog-grid-1{
        .blog-item-inner{
            .itemBlogImg {width: 320px; margin: side-values(0 15px 0 0); float: $left; 
              @include breakpoint(xs){ width: auto;}
            }  
            .itemBlogContent {width: auto;float: none; overflow: hidden; clear: none; padding: 0;
               @include breakpoint(xs){ float: $left; margin-top: 15px;}
            }
        }
        
    }
    .blog-grid-2{  @include breakpoint(lg){&:nth-child(2n+1){clear: both ;}}
        .blog-item-inner{ background: none; box-shadow: none ;
            .itemBlogContent {padding: 10px 0; }
        }
        .article-description{display: none;}
    }

    .blog-grid-3{  @include breakpoint(lg){&:nth-child(3n+1){clear: both ;}}
        .blog-item-inner{ background: none; box-shadow: none ; 
            .itemBlogContent {padding: 10px 0; }
        }
        .article-description{display: none;}
    }

    .blog-grid-4{
        @include breakpoint(lg){&:nth-child(4n+1){clear: both ;}}
        .article-description{display: none;}
    }
    .blog-list{
        .blog-item-inner{ padding: 0px; background: none; margin-bottom: 35px;
            .itemBlogImg {margin-bottom: 15px;}
            .itemBlogContent {padding: 0;
               
            }
        }
    }
}

/*============ARTICLE INFO==================*/
div.article-info{
    .look-see{
      h4{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222;
        margin: 40px 0;
      }
      p{margin-bottom: 30px;}
    }
    .tags-share{
      text-transform: uppercase;
      overflow: hidden;
      padding: 30px 0;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 40px;
      margin-top: 10px;
      span{
          font-weight: 700;
          color: #222;
        }
      .tags{
        line-height: 30px;
        display: inline-block;
        float: $left;
        a{
          color: #7d7d7d;
          &:hover{color: $linkColor;}
        }
        
      }
      .share{
        display: inline-block;
        float: $right;
        @include breakpoint(sm){float: none;};
        @include breakpoint(xs){float: none;};
        span{margin-#{$right}: 10px;}
        span{
          line-height: 30px;
        }
        .icon-share{
          overflow: hidden;
          float: $right;
          ul li{
            display: inline-block;
            float: $left;
            a{
              display: block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: $linkColor;
              line-height: 30px;
              text-align: center;
              color: #fff;
              margin-#{$right}: 10px;

              &:hover{
                background: #16478a;
              }
            }
          }
        }
      }
    }
    .author-details{
      margin-bottom: 50px;
      .infomation{
        padding-#{$left}: 130px;
        h4 {
          margin-top: 0;
          padding-top: 15px;
          text-transform: uppercase;
          span{
            color: #b3b3b3;
            font-size: 13px;
            margin-#{$left}: 20px;
            position: relative;
            &:after{
              content: "";
              display: block;
              width: 1px;
              height: 100%;
              background: #b3b3b3;
              position: absolute;
              top: 0;
              #{$left}: -15px;
            }
          }
        }
      }
    }
    .related-news{
      position: relative;
      .extraslider-inner{
        position: static;
        .item-inner{
          .top-block a img:hover{opacity: 0.8;}
          .bottom-block{
            .entry-meta{
              font-size: 12px;
              .entry-date, .entry-comment{
                display: inline-block;
                float: $left;
                &.entry-date{
                  margin-#{$right}: 15px;
                }
              }
            }
          }
        }
        .owl2-controls{
          .owl2-dots{
            @include owl2-dot-style(8px,8px,#222);
            #{$right}: 0;
            top: 5px;
            min-width: 60px;
          }

        }
      }
    }
    .comment{
      margin-top: 50px;
      .comment-details{margin-bottom: 30px;}
      .comment-reply{margin-#{$left}: 100px;}
      .infomation{
        position: relative;
        padding-#{$left}: 130px;
        h4{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          color: #222;
          padding-bottom: 10px;
          margin-top: 0;
          border-bottom: 1px solid #eaeaea;
        }
        .top-right{
          display: inline-block;
          position: absolute;
          top: 0;
          color: #b3b3b3;
          @include breakpoint(sm){position: static;};
          @include breakpoint(xs){position: static;};
          #{$right}: 0;
          a{
            padding-#{$left}: 20px;
            position: relative;
            color: #b3b3b3;
            display: inline-block;
            &.reply{
              color: $linkColor;
              &:hover{color: #123567;}
            }
            &:hover{color: $linkColor;}
            &:after{
              content: "/";
              position: absolute;
              top: -2px;
              #{$left}: 5px;
            }
          }
        }
      }
    }
    
}
.submit-comment{
  margin-bottom: 50px;
  .textarea{
    margin: 30px 0;
  }
  button{
    background: $linkColor;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    &:hover{
      background: #2169ce;
      color: #fff;
    }
  }
  @include breakpoint(sm){
    .col-md-4{
      input{margin: 30px 0;}
      &:first-child{input{margin: 0;}}
    }
  };
  @include breakpoint(xs){
    .col-md-4{
      input{margin: 30px 0;}
      &:first-child{input{margin: 0;}}
    }
  };
}
.panel--related{
    @include imageFade();
    .caption  h4{font-size: 14px; margin: 10px 0;}
}

.article--style1{
    .article-info .article-image{width:50%; margin-#{$right}: 30px; float: $left;}
}
.article--style2{
    .article--mainimage{position: relative;z-index: 1; margin-bottom: 30px;}
  
    .article--maintitle{position: absolute;bottom: 0;z-index: 5;
       width: 100%;
        padding: 10px 15px; color: #f3f3f3;
        background: -webkit-linear-gradient(left, #111 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: -moz-linear-gradient(left, #111 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #111 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #111 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        .article-title{text-transform: uppercase;}
        h3{margin-bottom: 5px; font-size: 21px;}
    }
}

.article--style3{
    .article--mainimage{position: relative;z-index: 1; margin-bottom: 30px;}
    
    .article--maintitle{
        .article-title{text-transform: uppercase;}
        h3{margin-bottom: 5px;}
    }
}

.article--style4{
    .article--maincontent{padding: 20px ; position: relative;z-index: 2; margin-top: -100px; background: $white;}
}

.article--style5{
    .article--mainimage{position: relative;z-index: 1; margin-bottom: 30px;}
  
    .article--maintitle{
        position: absolute; z-index: 5; transform: translateY(-130%); width: 1170px;
        h3{margin-bottom: 0;}
        .article-title{
            text-transform: uppercase;
            bottom: 0;z-index: 5; display: block;
            background: rgba(0,0,0,0.6);
            padding: 10px; color: #f3f3f3; margin-bottom: 10px;
        }
        .article-sub-title{
            bottom: 0;z-index: 5; display: inline-block;
            background: rgba(0,0,0,0.6); min-width: 45%;
            padding: 10px; color: #f3f3f3;
        }
        .article-title,.article-sub-title{
            background: -webkit-linear-gradient(left, #111 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: -moz-linear-gradient(left, #111 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #111 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #111 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        }
    }
}

/*============ARTICLE COMMENTS==================*/
.comments {
  margin-bottom: 30px;
}
.comments.comments-level-1 {
  margin-#{$left}: 136px;
}
.comments .pull-left {
  width: 100px;
  height: 100px;
  display: block;
  background-color: #f5f5f5;
  margin-#{$right}: 30px;
  position: relative;
  padding: 0;
}
.comments .pull-left .fa {
  font-size: 46px;
  display: block;
  text-align: center;
  margin: 25px 0;

}
.comments .pull-left img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.comments .pull-left span {
  position: absolute;
  display: inline-block;
  top: 15%;
}
.comments .media-body .media-title {
  color: #1fc0a0;
  padding-bottom: 14px;
}
.comments .media-body .media-title .username {
  font-size: 18px;
  font-style: italic;
  font-family: Georgia, sans-serif;
  display: inline-block;
  margin-#{$right}: 14px;
}
.comments .media-body .media-title .time {
  font-size: 16px;
}

.comments .media-body .media-title .time .fa {
  font-size: 20px;
  margin-#{$right}: 13px ;
  position: relative;
  top: 3px;
}

.comments .media-body .media-title .link:hover {
  text-decoration: none;
}
@media (max-width: 745px) {
  .comments {
    margin-bottom: 28px;
  }
  .comments.comments-level-1 {
    margin-#{$left}: 70px;
  }
  .comments .pull-left {
    width: 70px;
    height: 70px;
    margin-#{$right}: 20px;
  }
  .comments .pull-left:before {
    font-size: 46px;
    line-height: 1em;
    top: 10px;
  }
  .comments .media-body .media-title time {
    display: block;
  }
  .comments .media-body .media-title time .icon {
    font-size: 20px;
    margin: 0 6px 0 0;
    position: relative;
    top: 3px;
  }
}


