extends ../_skeleton

block variables
  - pageName = 'Grid System'

block page
  include ../sections/_header-classic

  +breadcrumbs

  //Full-Width Grid System
  section.section.section-md.bg-default
    .container-fluid.grid-demo.grid-demo-bordered
      h4.text-center Full-Width Grid System

      .row
        .col-12
          h6 1/1
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.
      .row
        .col-6
          h6 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely
        .col-6
          h6 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely
      .row
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
      .row
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
      .row
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
      .row
        .col-8
          h6 2/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly

  //Boxed Grid System
  section.section.section-md.bg-default
    .container.grid-demo.grid-demo-underlined
      h4.text-center Boxed Grid System
      .row
        .col-12
          h6 1/1
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.
      .row
        .col-6
          h6 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
        .col-6
          h6 1/2
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
      .row
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
      .row
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
        .col-3
          h6 1/4
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
      .row
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
        .col-2
          h6 1/6
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
      .row
        .col-8
          h6 2/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages
        .col-4
          h6 1/3
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you

  include ../sections/_footer-classic
