extends ../_skeleton
include ../components/_table-custom

block variables
  - pageName = 'Tables'

block page
  include ../sections/_header-classic

  +breadcrumbs

  section.section.section-lg.bg-default.text-center
    .container
      +table-custom({
        head: ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
        body: [
          ['Item #1', 'Description', 'Subtotal', '$3.00'],
          ['Item #2', 'Description', 'Discount', '$3.00'],
          ['Item #3', 'Description', 'Shipping', '$3.00'],
          ['Item #4', 'Description', 'Tax', '$4.00']
        ],
        foot: ['All Items', 'Description', 'Your Total', '$13.00']
      }).table-custom-secondary

  hr

  section.section.section-lg.bg-default.text-center
    .container
      +table-custom({
        head: ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
        body: [
          ['Item #1', 'Description', 'Subtotal', '$3.00'],
          ['Item #2', 'Description', 'Discount', '$3.00'],
          ['Item #3', 'Description', 'Shipping', '$3.00'],
          ['Item #4', 'Description', 'Tax', '$4.00']
        ],
        foot: ['All Items', 'Description', 'Your Total', '$13.00']
      }).table-custom-bordered

  hr

  section.section.section-lg.bg-default.text-center
    .container
      +table-custom({
        head: ['Column 1', 'Column 2', 'Column 3', 'Column 4'],
        body: [
          ['Item #1', 'Description', 'Subtotal', '$3.00'],
          ['Item #2', 'Description', 'Discount', '$3.00'],
          ['Item #3', 'Description', 'Shipping', '$3.00'],
          ['Item #4', 'Description', 'Tax', '$4.00']
        ],
        foot: ['All Items', 'Description', 'Your Total', '$13.00']
      }).table-custom-striped.table-custom-primary

  include ../sections/_footer-classic
