extends ../_skeleton
include ../components/_countdown

block variables
  - pageName = 'Under Construction'

block page
  section.section.section-single.bg-gray-700.bg-image(style='background-image: url(images/bg-parallax-02-1894x1950.jpg)')
    .section-single-inner
      .section-single-header: .container
        +logo

      .section-single-main: .container
        h3 We're getting ready to launch in
        .divider-small

        +countdown({ to: '2020-12-31' })

        p: span( style='max-width: 600px;' ) Our website is under construction, we are working to give you the best experience on our new website. Sign up to our newsletter to know more.

        .rd-mailform-wrap
          form.rd-form.rd-mailform.rd-form-inline( data-form-output='form-output-global', data-form-type='subscribe', method='post', action='bat/rd-mailform.php' )
            .form-wrap
              input#subscribe-form-email.form-input( type='email', name='email', data-constraints='@Email @Required' )
              label.form-label( for='subscribe-form-email' ) E-mail
            .form-button
              button.button.button-primary( type='submit' ) Subscribe

      .section-single-footer: .container
        +rights
