doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        include inc/dark-rtl-loader.pug

        include inc/setting-popup.pug

        // Header Area 
        .header-area#headerArea
            .container
                // Header Content 
                .header-content.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button 
                    .back-button
                        a(href="elements.html")
                            include inc/back-btn.pug

                    // Page Title 
                    .page-heading
                        h6.mb-0 Data Table

                    // Settings 
                    .setting-wrapper
                        include inc/setting-btn.pug

        .page-content-wrapper.py-3
            .container
                .card
                    .card-body
                        table#dataTable.w-100
                            thead
                                tr
                                    th Name
                                    th Position
                                    th Salary
                            tbody
                                tr
                                    td Tiger Nixon
                                    td System Architect
                                    td $320,800
                                tr
                                    td Garrett Winters
                                    td Accountant
                                    td $170,750
                                tr
                                    td Ashton Cox
                                    td Junior Technical Author
                                    td $86,000
                                tr
                                    td Cedric Kelly
                                    td Senior Javascript Developer
                                    td $433,060
                                tr
                                    td Airi Satou
                                    td Accountant
                                    td $162,700
                                tr
                                    td Brielle Williamson
                                    td Integration Specialist
                                    td $372,000
                                tr
                                    td Herrod Chandler
                                    td Sales Assistant
                                    td $137,500
                                tr
                                    td Rhona Davidson
                                    td Integration Specialist
                                    td $327,900
                                tr
                                    td Colleen Hurst
                                    td Javascript Developer
                                    td $205,500
                                tr
                                    td Sonya Frost
                                    td Software Engineer
                                    td $103,600
                                tr
                                    td Jena Gaines
                                    td Office Manager
                                    td $90,560
                                tr
                                    td Quinn Flynn
                                    td Support Lead
                                    td $342,000
                                tr
                                    td Charde Marshall
                                    td Regional Director
                                    td $470,600
                                tr
                                    td Haley Kennedy
                                    td Senior Marketing Designer
                                    td $313,500
                                tr
                                    td Tatyana Fitzpatrick
                                    td Regional Director
                                    td $385,750
                                tr
                                    td Michael Silva
                                    td Marketing Designer
                                    td $198,500
                                tr
                                    td Paul Byrd
                                    td Chief Financial Officer (CFO)
                                    td $725,000
                                tr
                                    td Gloria Little
                                    td Systems Administrator
                                    td $237,500
                                tr
                                    td Bradley Greer
                                    td Software Engineer
                                    td $132,000
                                tr
                                    td Dai Rios
                                    td Personnel Lead
                                    td $217,500
                                tr
                                    td Jenette Caldwell
                                    td Development Lead
                                    td $345,000
                                tr
                                    td Yuri Berry
                                    td Chief Marketing Officer (CMO)
                                    td $675,000
                                tr
                                    td Caesar Vance
                                    td Pre-Sales Support
                                    td $106,450
                                tr
                                    td Bradley Greer
                                    td Software Engineer
                                    td $132,000
                                tr
                                    td Dai Rios
                                    td Personnel Lead
                                    td $217,500
                                tr
                                    td Jenette Caldwell
                                    td Development Lead
                                    td $345,000
                                tr
                                    td Yuri Berry
                                    td Chief Marketing Officer (CMO)
                                    td $675,000
                                tr
                                    td Caesar Vance
                                    td Pre-Sales Support
                                    td $106,450
                                tr
                                    td Herrod Chandler
                                    td Sales Assistant
                                    td $137,500
                                tr
                                    td Rhona Davidson
                                    td Integration Specialist
                                    td $327,900
                                tr
                                    td Colleen Hurst
                                    td Javascript Developer
                                    td $205,500
                                tr
                                    td Sonya Frost
                                    td Software Engineer
                                    td $103,600
                                tr
                                    td Jena Gaines
                                    td Office Manager
                                    td $90,560
                                tr
                                    td Quinn Flynn
                                    td Support Lead
                                    td $342,000
                                tr
                                    td Charde Marshall
                                    td Regional Director
                                    td $470,600
                                tr
                                    td Haley Kennedy
                                    td Senior Marketing Designer
                                    td $313,500
                                tr
                                    td Tatyana Fitzpatrick
                                    td Regional Director
                                    td $385,750
                                tr
                                    td Michael Silva
                                    td Marketing Designer
                                    td $198,500
                                tr
                                    td Paul Byrd
                                    td Chief Financial Officer (CFO)
                                    td $725,000
                                tr
                                    td Gloria Little
                                    td Systems Administrator
                                    td $237,500
                                tr
                                    td Bradley Greer
                                    td Software Engineer
                                    td $132,000
                                tr
                                    td Dai Rios
                                    td Personnel Lead
                                    td $217,500
                                tr
                                    td Jenette Caldwell
                                    td Development Lead
                                    td $345,000
                                tr
                                    td Yuri Berry
                                    td Chief Marketing Officer (CMO)
                                    td $675,000
                                tr
                                    td Caesar Vance
                                    td Pre-Sales Support
                                    td $106,450
                                tr
                                    td Bradley Greer
                                    td Software Engineer
                                    td $132,000
                                tr
                                    td Dai Rios
                                    td Personnel Lead
                                    td $217,500
                                tr
                                    td Jenette Caldwell
                                    td Development Lead
                                    td $345,000
                                tr
                                    td Yuri Berry
                                    td Chief Marketing Officer (CMO)
                                    td $675,000
                                tr
                                    td Caesar Vance
                                    td Pre-Sales Support
                                    td $106,450

        include inc/footer-nav.pug

        include inc/footer.pug