doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        include inc/dark-rtl-loader.pug

        include inc/setting-popup.pug

        // Header Area 
        .header-area#headerArea
            .container
                // Header Content 
                .header-content.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button 
                    .back-button
                        a(href="elements.html")
                            include inc/back-btn.pug

                    // Page Title 
                    .page-heading
                        h6.mb-0 Divider

                    // Settings 
                    .setting-wrapper
                        include inc/setting-btn.pug

        .page-content-wrapper.py-3
            // Solid Divider 
            .container
                // Element Heading 
                .element-heading
                    h6 Solid Divider

            .container
                .card
                    .card-body
                        // Solid Divider 
                        .divider.mt-0

                        // Solid Primary Divider 
                        .divider.border-primary

                        // Solid Secondary Divider 
                        .divider.border-secondary

                        // Solid Success Divider 
                        .divider.border-success

                        // Solid Danger Divider 
                        .divider.border-danger

                        // Solid Warning Divider 
                        .divider.border-warning

                        // Solid Info Divider 
                        .divider.border-info

                        // Solid Light Divider 
                        .divider.border-light

                        // Solid Dark Divider 
                        .divider.border-dark.mb-0

                        // Solid White Divider 
                        //.divider.border-white


            // Dotted Divider 
            .container
                // Element Heading 
                .element-heading.mt-3
                    h6 Dotted Divider

            .container
                .card
                    .card-body
                        // Dotted Divider 
                        .divider.divider-dotted.mt-0

                        // Dotted Primary Divider 
                        .divider.divider-dotted.border-primary

                        // Dotted Secondary Divider 
                        .divider.divider-dotted.border-secondary

                        // Dotted Success Divider 
                        .divider.divider-dotted.border-success

                        // Dotted Danger Divider 
                        .divider.divider-dotted.border-danger

                        // Dotted Warning Divider 
                        .divider.divider-dotted.border-warning

                        // Dotted Info Divider 
                        .divider.divider-dotted.border-info

                        // Dotted Light Divider 
                        .divider.divider-dotted.border-light

                        // Dotted Dark Divider 
                        .divider.divider-dotted.border-dark.mb-0

                        // Dotted White Divider 
                        //.divider.divider-dotted.border-white


            // Dashed Divider 
            .container
                // Element Heading 
                .element-heading.mt-3
                    h6 Dashed Divider

            .container
                .card
                    .card-body
                        // Dashed Divider 
                        .divider.divider-dashed.mt-0

                        // Dashed Primary Divider 
                        .divider.divider-dashed.border-primary                

                        // Dashed Secondary Divider 
                        .divider.divider-dashed.border-secondary

                        // Dashed Success Divider 
                        .divider.divider-dashed.border-success

                        // Dashed Danger Divider 
                        .divider.divider-dashed.border-danger

                        // Dashed Warning Divider 
                        .divider.divider-dashed.border-warning

                        // Dashed Info Divider 
                        .divider.divider-dashed.border-info

                        // Dashed Light Divider 
                        .divider.divider-dashed.border-light

                        // Dashed Dark Divider 
                        .divider.divider-dashed.border-dark.mb-0

                        // Dashed White Divider 
                        //.divider.divider-dashed.border-white


            // Center Icon Divider 
            .container
                // Element Heading 
                .element-heading.mt-3
                    h6 Center Icon Divider

            .container
                .card
                    .card-body
                        // Center Icon Divider 
                        .divider.divider-center-icon.mt-3
                            i.bi.bi-gear

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-primary
                            i.bi.bi-arrow-down-circle

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-secondary
                            i.bi.bi-arrow-up-circle

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-success
                            i.bi.bi-arrow-up

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-danger
                            i.bi.bi-arrow-down

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-warning
                            i.bi.bi-braces

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-info
                            i.bi.bi-currency-dollar

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-light
                            i.bi.bi-flower1

                        .mb-5

                        // Center Icon Divider 
                        .divider.divider-center-icon.border-dark.mb-3
                            i.bi.bi-gift

                        //.mb-5

                        // Center Icon Divider 
                        //.divider.divider-center-icon.border-white
                        //  i.bi.bi-gear

        include inc/footer-nav.pug

        include inc/footer.pug