doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        include inc/dark-rtl-loader.pug

        include inc/setting-popup.pug

        // Header Area 
        .header-area#headerArea
            .container
                // Header Content 
                .header-content.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button 
                    .back-button
                        a(href="elements.html")
                            include inc/back-btn.pug

                    // Page Title 
                    .page-heading
                        h6.mb-0 Partner's Logo

                    // Settings 
                    .setting-wrapper
                        include inc/setting-btn.pug

        .page-content-wrapper.py-3
            .container
                // Element Heading 
                .element-heading
                    h6 Partner's Logo 01

            .container
                .card
                    .card-body
                        .partner-logo-slide-wrapper
                            .partner-slide
                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/1.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/2.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/3.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/4.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/6.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/1.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/2.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/3.png", alt="")

            .container
                // Element Heading 
                .element-heading.mt-3
                    h6 Partner's Logo 02

            .container
                .card.bg-info
                    .card-body
                        .partner-logo-slide-wrapper-2
                            .partner-slide2
                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/1.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/2.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/3.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/4.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/6.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/1.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/2.png", alt="")

                                // Partner Slide Card 
                                div
                                    .card.partner-slide-card.border.my-2.bg-white
                                        .card-body.p-3
                                            a(href="#")
                                                img(src="img/partner-img/3.png", alt="")

            .container
                // Element Heading 
                .element-heading.mt-3
                    h6 Partner's Logo 03

            .container
                .card
                    .card-body
                        .row.g-3
                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/1.png", alt="")

                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/2.png", alt="")

                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/3.png", alt="")

                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/4.png", alt="")

                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/5.png", alt="")

                            .col-4
                                // Partner Slide Card 
                                .card.partner-slide-card.border.bg-gray
                                    .card-body.p-3
                                        a(href="#")
                                            img(src="img/partner-img/6.png", alt="")
                        
        include inc/footer-nav.pug

        include inc/footer.pug