doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        // Back Button 
        .login-back-button
            a(href="element-hero-blocks.html")
                svg.bi.bi-arrow-left-short(width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z")

        // Login Wrapper Area 
        .login-wrapper.d-flex.align-items-center.justify-content-center
            .custom-container
                .text-center.px-4
                    img.login-intro-img(src="img/bg-img/36.png" alt="")

                // Register Form 
                .register-form.mt-4
                    h6.mb-3.text-center Login with

                    .row
                        .col-12
                            a.btn.btn-primary.btn-facebook.mb-3.w-100(href="#")
                                i.bi.bi-facebook.me-3
                                | Login with Facebook

                            a.btn.btn-primary.btn-twitter.mb-3.w-100(href="#")
                                i.bi.bi-twitter.me-3
                                | Login with Twitter

                            a.btn.btn-primary.btn-google.mb-3.w-100(href="#")
                                i.bi.bi-google.me-3
                                | Login with Google

                // Login Meta 
                .login-meta-data.text-center
                    p.mb-0 Didn't have an account? 
                        a.stretched-link(href="page-register.html") Register Now

        include inc/footer.pug