doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        include inc/dark-rtl-loader.pug

        include inc/setting-popup.pug

        // Header Area 
        .header-area#headerArea
            .container
                // Header Content 
                .header-content.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button 
                    .back-button
                        a(href="pages.html")
                            include inc/back-btn.pug

                    // Page Title 
                    .page-heading
                        h6.mb-0 Contact                        

                    // Settings 
                    .setting-wrapper
                        include inc/setting-btn.pug

        .page-content-wrapper.py-3
            .container                
                // Contact Form 
                .card.mb-3
                    .card-body
                        h5.mb-3 Write to us
                        .contact-form
                            form(action="#")
                                .form-group.mb-3
                                    input.form-control(type="text", placeholder="Your name")
                                .form-group.mb-3
                                    input.form-control(type="email", placeholder="Enter email")
                                .form-group.mb-3
                                    select.form-select(name="topic")
                                        option(value="") Authors Help
                                        option(value="") Buyer Help
                                        option(value="") Licenses
                                .form-group.mb-3
                                    textarea.form-control(name="textarea", cols="30", rows="10", placeholder="Write details")
                                button.btn.btn-primary.w-100 Send Now

            .container
                // Google Maps 
                .card
                    .card-body
                        .google-maps
                            h5.mb-3 Our office location
                            iframe.w-100(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37902.096510377676!2d101.6393079588335!3d3.103387873464772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49c701efeae7%3A0xf4d98e5b2f1c287d!2sKuala%20Lumpur%2C%20Federal%20Territory%20of%20Kuala%20Lumpur%2C%20Malaysia!5e0!3m2!1sen!2sbd!4v1591684973931!5m2!1sen!2sbd", allowfullscreen="", aria-hidden="false", tabindex="0")

        include inc/footer-nav.pug

        include inc/footer.pug