doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        include inc/header.pug

        include inc/sidenav.pug

        .page-content-wrapper.py-3
            .container
                .card
                    .card-body.p-3
                        p.ps-2 Authentication

                        // Page Item 
                        a.affan-page-item(href="page-login.html")
                            .icon-wrapper
                                i.bi.bi-lock
                            | Login
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-social-login.html")
                            .icon-wrapper
                                i.bi.bi-lock
                            | Social Login
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-register.html")
                            .icon-wrapper
                                i.bi.bi-shield-lock
                            | Register
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-otp.html")
                            .icon-wrapper
                                i.bi.bi-phone
                            | OTP
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-otp-confirm.html")
                            .icon-wrapper
                                i.bi.bi-phone
                            | OTP Confirm
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-forget-password.html")
                            .icon-wrapper
                                i.bi.bi-key
                            | Forget Password
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-forget-password-success.html")
                            .icon-wrapper
                                i.bi.bi-key
                            | Forget Password Success
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-change-password.html")
                            .icon-wrapper
                                i.bi.bi-key
                            | Change Password
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-forget-password-failed.html")
                            .icon-wrapper
                                i.bi.bi-key
                            | Forget Password Failed
                            i.bi.bi-chevron-right
                        
                        p.mt-3.ps-2 Chats

                        // Page Item 
                        a.affan-page-item(href="page-chat-users.html")
                            .icon-wrapper
                                i.bi.bi-people
                            | Chat Users
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-chat.html")
                            .icon-wrapper
                                i.bi.bi-chat-dots
                            | Chats
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-video-call.html")
                            .icon-wrapper
                                i.bi.bi-camera-video
                            | Video Call
                            i.bi.bi-chevron-right

                        p.mt-3.ps-2 eCommerce

                        // Page Item 
                        a.affan-page-item(href="page-shop-grid.html")
                            .icon-wrapper
                                i.bi.bi-bag-check
                            | Shop Grid
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-shop-list.html")
                            .icon-wrapper
                                i.bi.bi-bag-check
                            | Shop List
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-shop-details.html")
                            .icon-wrapper
                                i.bi.bi-bag-check
                            | Shop Details
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-cart.html")
                            .icon-wrapper
                                i.bi.bi-cart
                            | Cart
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-checkout.html")
                            .icon-wrapper
                                i.bi.bi-cart-check
                            | Checkout
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-payment-confirm.html")
                            .icon-wrapper
                                i.bi.bi-wallet2
                            | Order Confirmed
                            i.bi.bi-chevron-right

                        p.mt-3.ps-2 Miscellaneous

                        // Page Item 
                        a.affan-page-item(href="page-about-us.html")
                            .icon-wrapper
                                i.bi.bi-card-text
                            | About
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-team.html")
                            .icon-wrapper
                                i.bi.bi-people
                            | Team
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-our-service.html")
                            .icon-wrapper
                                i.bi.bi-grid-3x3-gap
                            | Service
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-privacy-policy.html")
                            .icon-wrapper
                                i.bi.bi-hash
                            | Privacy Policy
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-invoice.html")
                            .icon-wrapper
                                i.bi.bi-receipt
                            | Invoice
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-contact.html")
                            .icon-wrapper
                                i.bi.bi-envelope
                            | Contact
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-faq.html")
                            .icon-wrapper
                                i.bi.bi-question-octagon
                            | FAQ
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-language.html")
                            .icon-wrapper
                                i.bi.bi-globe2
                            | Language
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-notifications.html")
                            .icon-wrapper
                                i.bi.bi-exclamation-circle
                            | Notifications
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-notification-details.html")
                            .icon-wrapper
                                i.bi.bi-exclamation-circle
                            | Notification Details
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-search-result.html")
                            .icon-wrapper
                                i.bi.bi-search
                            | Search Result
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-fallback.html")
                            .icon-wrapper
                                i.bi.bi-wifi-off
                            | Fallback/Offline Page
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-coming-soon.html")
                            .icon-wrapper
                                i.bi.bi-clock
                            | Coming Soon
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-user-profile.html")
                            .icon-wrapper
                                i.bi.bi-person
                            | User Profile
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-404.html")
                            .icon-wrapper
                                i.bi.bi-bug
                            | 404
                            i.bi.bi-chevron-right

                        p.mt-3.ps-2 Blog

                        // Page Item 
                        a.affan-page-item(href="page-blog-grid.html")
                            .icon-wrapper
                                i.bi.bi-newspaper
                            | Blog Grid
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-blog-list.html")
                            .icon-wrapper
                                i.bi.bi-newspaper
                            | Blog List
                            i.bi.bi-chevron-right

                        // Page Item 
                        a.affan-page-item(href="page-blog-details.html")
                            .icon-wrapper
                                i.bi.bi-newspaper
                            | Blog Details
                            i.bi.bi-chevron-right

        include inc/footer-nav.pug

        include inc/footer.pug