doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        // Back Button 
        .login-back-button
            a(href="page-login.html")
                svg.bi.bi-arrow-left-short(width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z")

        // Wrapper 
        .login-wrapper.d-flex.align-items-center.justify-content-center.text-center
            .custom-container
                .text-center.px-4
                    img.login-intro-img.mb-4(src="img/bg-img/38.png" alt="")

                    // Reset Password Message 
                    p.mb-4 Ooops! Your entered email is wrong. Please enter your email address again.

                    // Go Back Button 
                    a.btn.btn-danger(href="page-forget-password.html") Try Again

        include inc/footer.pug