doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        // Header Area
        .header-area#headerArea
            .container
                // Header Content
                .header-content.header-style-five.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button
                    .back-button
                        a(href="pages.html")
                            include inc/back-btn.pug

                    // Page Title
                    .page-heading
                        h6.mb-0 Shop List

                    // Navbar Toggler
                    .navbar--toggler#affanNavbarToggler(data-bs-toggle="offcanvas", data-bs-target="#affanOffcanvas", aria-controls="affanOffcanvas")
                        span.d-block
                        span.d-block
                        span.d-block

        include inc/sidenav.pug

        .page-content-wrapper.py-3

            // Pagination
            .shop-pagination.pb-3
                .container
                    .card
                        .card-body.p-2
                            .d-flex.align-items-center.justify-content-between
                                small.ms-1 Showing 6 of 31

                                form(action="#")
                                    select.pe-4.form-select.form-select-sm#defaultSelectSm(name="defaultSelectSm", aria-label="Default select example")
                                        option(value="1", selected) Sort by Newest
                                        option(value="2") Sort by Older
                                        option(value="3") Sort by Ratings
                                        option(value="4") Sort by Sales

            // Top Products
            .top-products-area.product-list-wrap
                .container
                    .row.g-3

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p1.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Wooden Tool
                                            // Product Price
                                            p.sale-price $9.89
                                                span $13.42
                                            // Add To Cart Button
                                            a.btn.btn-outline-danger.btn-sm.disabled(href="#")
                                                svg.bi.bi-cart-x.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z")
                                                    path(d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z")
                                                | Out of Stock

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p2.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Atoms Musk
                                            // Product Price
                                            p.sale-price $3.36
                                                span $5.99
                                            // Add To Cart Button
                                            a.btn.btn-outline-info.btn-sm(href="#")
                                                svg.bi.bi-cart.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
                                                | Add to Cart

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p3.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Black T-shirt
                                            // Product Price
                                            p.sale-price $10.99
                                                span $12
                                            // Add To Cart Button
                                            a.btn.btn-outline-info.btn-sm(href="#")
                                                svg.bi.bi-cart.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
                                                | Add to Cart

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p4.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Headphone
                                            // Product Price
                                            p.sale-price $2.99
                                                span $4
                                            // Add To Cart Button
                                            a.btn.btn-outline-danger.btn-sm.disabled(href="#")
                                                svg.bi.bi-cart-x.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z")
                                                    path(d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z")
                                                | Out of Stock

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p5.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Crispy Biscuit
                                            // Product Price
                                            p.sale-price $0.78
                                                span $1.12
                                            // Add To Cart Button
                                            a.btn.btn-outline-info.btn-sm(href="#")
                                                svg.bi.bi-cart.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
                                                | Add to Cart

                        // Single Top Product Card
                        .col-12
                            .card.single-product-card
                                .card-body
                                    .d-flex.align-items-center
                                        .card-side-img
                                            // Product Thumbnail
                                            a.product-thumbnail.d-block(href="page-shop-details.html")
                                                img(src="img/bg-img/p6.jpg", alt="")
                                                // Badge
                                                span.badge.bg-primary Sale
                                        .card-content.px-4.py-2
                                            // Product Title
                                            a.product-title.d-block.text-truncate.mt-0(href="page-shop-details.html") Sports Shoes
                                            // Product Price
                                            p.sale-price $110
                                                span $128
                                            // Add To Cart Button
                                            a.btn.btn-outline-info.btn-sm(href="#")
                                                svg.bi.bi-cart.me-2(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
                                                    path(d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z")
                                                | Add to Cart

            // Pagination
            .shop-pagination.pt-3
                .container
                    .card
                        .card-body.py-3
                            nav(aria-label="Page navigation example")
                                ul.pagination.pagination-two.justify-content-center
                                    li.page-item
                                        a.page-link(href="#",  aria-label="Previous")
                                            svg.bi.bi-chevron-left(width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z")
                                    li.page-item.active
                                        a.page-link(href="#") 1
                                    li.page-item
                                        a.page-link(href="#") 2
                                    li.page-item
                                        a.page-link(href="#") 3
                                    li.page-item
                                        a.page-link(href="#") ...
                                    li.page-item
                                        a.page-link(href="#") 9
                                    li.page-item
                                        a.page-link(href="#",  aria-label="Next")
                                            svg.bi.bi-chevron-right(width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z")

        include inc/footer-nav.pug

        include inc/footer.pug            