
.signup-panel {
  @extend .signin-panel;
}

.signup-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    width: 70%;
    border-right: 1px solid darken($border-color, 2%);
    box-shadow: $shadow-01, $shadow-base;
  }

  @include media-breakpoint-up(lg) { width: 52%; }
  @include media-breakpoint-up(xl) { width: 45%; }
}

.signup-sidebar-body {
  @extend .signin-sidebar-body;
}

.signup-title { @extend .signin-title; }
.signup-subtitle { @extend .signin-subtitle; }
.signup-form { @extend .signin-form; }
