/*
Name : Mshop - eCommerce Mobile Template
Author : Ngerri
Author URL : https://themeforest.net/user/ngerri
*/
/* --------------------------------
Table of Contents
- General
- Navbar
- Side Nav
- Slider
- Shop Promo
- News & Bestseller Product Shop
- Product Shop
- Single Product
- Cart
- Checkout
- About Us
- Blog
- Single Blog
- Contact Us
- Login
- Register
- Footer   
-------------------------------- */

/* ------------------------------
  General
---------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	color: #454545;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
}

.section-padding {
	padding: 35px 0 !important;
}

.pages {
	margin-top: 65px !important;
} 

.pages-head {
	text-align: center;
	color: #414141;
	padding: 0 10px 30px 10px;
	text-transform: uppercase;
}

.pages-head h2 {
	font-weight: 600;
	font-size: 20px;
}

.nomar-bottom  {
	margin-bottom: 0 !important;
}

.nomar-bottom-lc:last-child {
	margin-bottom: 0 !important;
}

.nopad-right {
	padding-right: 3px !important;
}

.nopad-left {
	padding-left: 3px !important;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
	background-color: transparent;
	border: none;
	border: 1px solid #ddd;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0 12px;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}

textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #ddd;
	border-radius: 0;
	outline: none;
	height: auto;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 12px;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
}


input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #bbb;
  box-shadow: none;
}	

/* ------------------------------
  Button
---------------------------------*/
.button-default {
	background: #f39c12;
	color: #ffffff;
	box-shadow: none;
	border-radius: 2px;
	margin: 20px 0;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}

.button-fullwidth {
	width: 100%;
	text-align: center;
}

.button-default a {
	color: #ffffff;
}

.button-default:hover {
	background: #f39c12;
	opacity: 0.9;
	box-shadow: none;
}

/* ------------------------------
  Navbar
---------------------------------*/
.navbar-top {
	background: #fdfdfd;
	width: 100%;
	height: 65px;
	padding: 12px 18px;
	border-bottom: 2px solid #eeeeee;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	position: fixed;
	z-index: 99;
}

.site-brand {
	text-align: center;
	display: inline-block;
}

.site-brand a h1 {
	font-size: 26px;
	font-weight: 900;
	line-height: 40px;
	color: #313131;
	letter-spacing: 1px;
}

.site-brand a h1 span {
	color: #f39c12;
}

/* ------------------------------
  Sidenav
---------------------------------*/
.side-nav a {
	font-size: 14px;
}

.side-nav-panel-left {
	float: left;
}

.side-nav-left {
	font-size: 28px;
	color: #313131;
}

.side-nav-panel {
	text-align: left;
}

.side-nav-panel li a {
	color: #444;
}

.side-nav-panel li a h1 {
	font-size: 26px;
	font-weight: 900;
	line-height: 40px;
	color: #313131;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.side-nav-panel li a h1 span {
	color: #f39c12;
}

.side-nav-panel li {
	font-weight: 700;
	border-bottom: 1px solid #f0f0f0;
}

.side-nav-panel li:first-child {
	border-bottom: none;
}

.side-nav-panel li a {
	font-weight: 600;
}

.side-nav-panel li a:hover {
	background: transparent;
}

.side-nav-panel li a i {
	margin: 0 8px 0 0;
	font-size: 18px;
	color: #333333;
	line-height: 45px;
}

.side-nav-panel-right {
	float: right;
}

.side-nav-panel-right .side-nav a {
	line-height: 18px;
}

.side-nav-panel-right .side-nav .button-cart a {
	line-height: 40px;
	height: 40px;
}

.side-nav-right {
	font-size: 18px;
	color: #313131;
	line-height: 40px;
	text-align: left;
}

.side-nav-right span {
	color: #ffffff;
	background: #f39c12;
	border-radius: 50%;
	font-size: 10px;
	padding: 0 4px;
	top: -10px;
	position: relative;
}

.side-nav-cart {
	text-align: left;
	padding: 22px 8px 25px;
	float: none;
}

.side-nav-cart img {
	width: 100%;
	height: 100%;
}

.side-nav-cart a {
	padding: 0;
	margin: 0;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 17px;
	color: #555;
}

.side-nav-cart .button-default {
	background: #f39c12;
	color: #ffffff;
	box-shadow: none;
	border-radius: 2px;
	margin: 20px 0;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}

.side-nav-cart .button-default a {
	color: #ffffff;
}

.side-nav-cart .button-default:hover {
	background: #f39c12;
	opacity: 0.9;
	box-shadow: none;
}

.side-nav-cart .button-default:hover {
	background: #f39c12 !important;
	opacity: 0.9;
	box-shadow: none;
}

.side-nav-cart a:hover {
	background: transparent;
}

.side-nav-cart .name-price span {
	font-size: 16px;
	font-weight: 600;
	color: #f39c12;
}

.side-nav-cart .remove {
	text-align: right;
}

.side-nav-cart .total-price {
	text-align: center;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	padding: 20px 0 20px 0;
	font-weight: 700;
	margin: 0 10px;
}

.side-nav-cart .total-price h5 {
	font-weight: 600;
	letter-spacing: 1px;
}

.side-nav-cart .button-cart {
	margin: 0 auto;
	text-align: center;
}

/* ------------------------------
  Slider
---------------------------------*/
.slider {
	margin-top: 64px;
	height: 400px !important;
}

.slider-content {
	margin: 60px auto;
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	position: relative;
	flex-shrink: 0;
}

.slider .slides li img {
	background-size: 100% 100%;
}

.slider .slides li::before {
	background-color: rgba(0, 0, 0, 0.6);
	content: "";
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.slider-content h2 {
	font-weight: 900;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.slider-content h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
}

.slider-content .button-default {
	margin: 40px 0 30px;
}

.slider .indicators {
	position: relative;
	bottom: 50px;
	z-index: 95;
}

.slider .indicators .indicator-item {
	z-index: 1000;
	height: 10px;
	width: 10px;
	background: #cccccc;
	margin: 0 8px;
}

.slider .indicators .indicator-item.active {
	background: #ffffff;
}

/* ------------------------------
  Shop Promo
---------------------------------*/
.shop-promo {
	margin-top: 35px;
	padding: 0;
	text-align: center;
	position: relative;
}

.promo-content {
	position: relative;
}

.promo-content img {
	width: 100%;
	height: 100%;
}

.promo-content a {
	font-weight: 600;
	position: absolute;
	margin: auto;
	top: 45%;
	z-index: 1;
	left: 0;
	right: 0;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 1px;
}

.promo-content a h4 {
	background-color: rgba(0, 0, 0, 0.19);
	display: inline-block;
	font-weight: 600;
}

/* ------------------------------
  New & Best Seller Product Shop
---------------------------------*/
.new-best-product-shop {
	padding: 0;
	margin-top: 5px;
}

.new-best-product-shop ul {
	list-style: none;
	text-decoration: none;
}

.new-best-product-shop ul li {
	text-decoration: none;
}

.new-best-product-shop .tabs {
	height: 35px;
}

.new-best-product-shop .tabs li a {
	color: #f39c12;
	padding-bottom: 10px;
}

.new-best-product-shop .tabs li a:hover {
	color: #f39c12;
}

.new-best-product-shop .tabs .indicator {
	background: #f39c12;
	height: 3px;
	bottom: 3px;
}

.new-best-product-shop .tabs li a h3 {
	font-weight: 700;
	font-size: 18px;
	color: #555;
}

.new-best-product-shop .button-default {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

.new-best-product-content {
	border: 1px solid #eee;
}

.new-best-product-content img {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

/* ------------------------------
  Promo Discount
---------------------------------*/
.promo-discount {
	background: #222;
	color: #ffffff;
	padding: 40px 0;
}

.promo-discount h3 {
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.promo-discount .button-default {
	margin-bottom: 8px;
}

/* ------------------------------
  Product Shop
---------------------------------*/
.product-shop {
	padding: 0;
	margin-top: 5px;
}

.product-shop ul {
	list-style: none;
	text-decoration: none;
}

.product-shop ul li {
	text-decoration: none;
}

.product-shop .tabs {
	height: 35px;
}

.product-shop .tabs li a {
	color: #f39c12;
	padding-bottom: 10px;
}

.product-shop .tabs li a:hover {
	color: #f39c12;
}

.product-shop .tabs .indicator {
	background: #f39c12;
	height: 3px;
	bottom: 3px;
}

.product-shop .tabs li a h3 {
	font-weight: 700;
	font-size: 18px;
	color: #555;
}

.product-shop .button-default {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

.tabs-content {
	margin-top: 18px;
}

.product-content {
	border: 1px solid #eee;
}

.product-content img {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.product-cart {
	text-align: center;
	margin-top: 10px;
	padding: 0 10px;
}

.product-cart li a {
	color: #313131;
}

.product-cart .i-pro-top {
	margin: 0;
	padding: 0;
}

.product-cart .i-pro-top li {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.product-cart .i-pro-top li a {
	text-align: center;
	margin: 0 6px;
}

.product-cart .i-pro-bottom {
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
}

.product-cart .i-pro-bottom a {
	color: #f39c12;
}

.procuct-cart .i-pro-bottom li {
	display: inline-block;
	list-style: none;
}

.product-cart .i-pro-bottom li a i {
	margin-right: 8px;
}

.product-details {
	padding: 10px;
	text-align: center;
	margin-top: 10px;
}

.product-details h5 {
	margin-bottom: 5px;
}

.product-details h5 a {
	color: #818181;
	font-weight: 600;
	font-size: 16px;
}

.product-details h4 a {
	color: #f39c12;
}

/* ------------------------------
  Single Product
---------------------------------*/
.single-product {
	padding: 0;
	margin: 0;
}

.single-product ul {
	list-style: none;
	text-decoration: none;
}

.single-product ul li {
	text-decoration: none;
}

.single-product .tabs {
	height: 35px;
	margin-top: 30px;
}

.single-product .tabs li a {
	color: #f39c12;
	padding-bottom: 10px;
}

.single-product .tabs li a:hover {
	color: #f39c12;
}

.single-product .tabs .indicator {
	background: #f39c12;
	height: 3px;
	bottom: 3px;
}

.single-product .tabs li a h3 {
	font-weight: 700;
	font-size: 18px;
	color: #555;
}

.single-product .product-icon-cart {
	border-bottom: 1px dotted #dedede;
	padding-bottom: 25px;
}

.single-product-content img {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.single-prodcuct-content p {
	letter-spacing: 1px;
}

.single-product-content h4 {
	margin: 10px 0;
	font-weight: 500;
	color: #444;
}

.single-product-content h6 {
	margin-top: 8px;
}

.single-product-content h6 span {
	font-size: 14px;
	letter-spacing: 1px;
	color: #555;
}

.single-product-content ul {
	margin: 16px 0; 
	padding: 0;
}

.single-product-content ul li {
	display: inline-block;
}

.single-product-content ul li a {
	margin-right: 6px;
	color: #333;
}

.single-product-content ul li .sp-cart {
	color: #f39c12;
	font-weight: 700;
}

.single-product-content ul li .sp-cart i {
	margin-right: 8px;
}

.single-product-content .price {
	font-size: 20px;
	color: #f39c12;
}

.review-content h5 {
	font-weight: 500;
}

.review-content span {
	color: #666;
}

.write-review h4 {
	text-align: center;
	font-weight: 500;
	margin-top: 35px;
}

.write-review h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
}

.write-review .button-default {
	margin-bottom: 0;
}

.related-product {
	margin-top: 30px;
	border-top: 1px dotted #ddd;
	padding-top: 10px;
}

.related-product-content {
	border: 1px solid #eee;
}

.related-product > h5 {
	font-weight: 600;
	color: #555;
	margin: 20px 0 15px;
}

.related-product h5 a {
	margin-bottom: 5px;
}

/* ------------------------------
  Cart
---------------------------------*/
.cart {
	margin: 0;
	padding: 0;
}

.cart-content-product .cart-product img {
	width: 100%;
	height: 100%;
}

.cart-content-product .row {
	margin-bottom: 0;
}

.cart-details {
	border: 1px solid #ddd;
	border-bottom: 1px solid transparent;
	padding: 16px 2px 14px 2px;
	position: relative;
	overflow: hidden;
}

.cart-details:last-child {
	border-color: #ddd;
}

.cart-product h5 {
	font-size: 15px;
	font-weight: 600;
	color: #666;
}

.cart-product a {
	color: #232323;
	font-weight: 600;
}

.cart-product input {
	width: 40px;
	height: 40px;
}

.cart-shipping {
	border: 1px solid #ddd;
	padding: 16px 12px;
	margin: 15px 0 35px 0;
}

.cart-shipping h4 {
	font-weight: 600;
	color: #555;
	font-size: 20px;
}

.cart-shipping h5 {
	margin: 20px 0 10px;
	font-weight: 500;
	color: #666;
	font-size: 18px;
}

.cart-shipping .button-default {
	margin-bottom: 0;
}

.cart-discount {
	border: 1px solid #ddd;
	padding: 16px 12px;
	margin: 35px 0 35px 0;
}

.cart-discount h4 {
	font-weight: 600;
	color: #555;
	font-size: 20px;
}

.cart-discount h5 {
	margin: 20px 0 10px;
	font-weight: 500;
	color: #666;
	font-size: 18px;
}

.cart-discount .button-default {
	margin-bottom: 0;
}

.cart-total {
	border: 1px solid #ddd;
	padding: 16px 12px;
}

.cart-total h4 {
	font-weight: 600;
	color: #555;
	font-size: 20px;
}

.cart-total h5 {
	margin: 20px 0 10px;
	font-weight: 500;
	color: #666;
}

.cart-total .button-default {
	margin-bottom: 0;
}

.cart-total tr td {
	font-weight: 500;
	font-size: 16px;
	color: #666;
}

/* ------------------------------
  Checkout
---------------------------------*/
.checkout {
	margin: 0;
	padding: 0;
}

.checkout .collapsible-header {
	padding-top: 15px;
	padding-bottom: 15px;
}

.checkout .collapsible {
	box-shadow: none;
}

.checkout-content h5 {
	font-weight: 500;
	color: #555;
}

.checkout-content .collapsible-body {
	padding: 18px;
}

.checkout-content .collapsible-body p {
	padding: 0;
}

.checkout-content h6 {
	font-weight: 500;
	color: #555;
}

.checkout-content .checkout-radio {
	margin: 20px 0 10px 0;
}

[type="radio"]:checked + label::after, 
.with-gap[type="radio"]:checked + label::before, 
.with-gap[type="radio"]:checked + label::after {
    border: 2px solid #f39c12;
}

[type="radio"]:checked + label::after, 
.with-gap[type="radio"]:checked + label::after {
    background-color: #f39c12;
    z-index: 0;
}

.checkout-radio span {
	color: #454545;
	font-weight: 500;
}

.checkout-login {
	margin-top: 20px;
	border-top: 1px dotted #ddd;
	padding-top: 30px;
}

.checkout-login h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.checkout-login h6 span {
	font-weight: 600;
	color: #555;
	font-size: 18px;
	letter-spacing: 1px;
}

.checkout-login p {
	margin: 5px 0 30px;
}

.checkout-login .button-default {
	margin-bottom: 0;
}

.billing-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.shipping-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.payment-mode ul {
	margin-left: 35px;
}

.payment-mode ul li {
	display: inline-block;
}

.order-review .cart-product img {
	width: 100%;
	height: 100%;
}

.order-review .row {
	margin-bottom: 0;
}

.final-price {
	margin-top: 20px;
}

.final-price h5 {
	font-weight: 600;
}

.final-price span {
	font-weight: 500;
}

/* ------------------------------
  About Us
---------------------------------*/
.about-us .about-content img {
	width: 100%;
	height: 100%;
}

/* ------------------------------
  Blog
---------------------------------*/
.blog-details {
	margin-bottom: 40px;
}

.blog-details img {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.blog-details h3 {
	margin: 12px 0 8px 0;
	font-weight: 500;
}

.blog-details h3 a {
	color: #444;
}

.blog-details span {
	color: #666;
}

.blog-details span i {
	margin-right: 10px;
}

.blog-details .button-default {
	margin: 10px 0;
}

.pagination-blog {
	text-align: center;
}

.pagination-blog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-blog ul li {
	list-style: none;
	display: inline-block;
}

.pagination-blog ul li a {
	font-weight: 500;
	font-size: 16px;
	color: #444;
	border: 1px solid #aaa;
	padding: 4px 10px 8px;
}

.pagination-blog ul li .active {
	border-color: #f39c12;
}

/* ------------------------------
  Single Blog
---------------------------------*/
.single-post-content img {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.single-post-content h3 {
	margin: 12px 0 8px 0;
	font-weight: 500;
}

.single-post-content h3 a {
	color: #444;
}

.single-post-content span {
	color: #666;
}

.single-post-content span i {
	margin-right: 10px;
}

.single-post-content ul {
	list-style: none;
	text-align: center;
}

.single-post-content ul li {
	display: inline-block;
}

.single-post-content ul li a {
	color: #444;
	font-size: 14px;
	text-align: center;
}

.single-post-content ul li a i {
	width: 30px;
	height: 30px;
	border: 1px solid #aaaaaa;
	margin: 0 5px;
	padding: 8px;
}

/*single blog comment*/
.comment {
	margin-top: 30px;
}

.comment h5 {
	font-weight: 500;
	margin: 10px 0;
}

.comment-details {
	border: 1px solid #f5f5f5;
	padding: 15px;
}

.comment-details img {
	width: 100%;
	height: 100%;
}

.comment-title a {
	color: #f39c12;
}

.comment-form {
	border: 1px solid #f5f5f5;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.comment-form h5 {
	font-weight: 500; 
}

.comment-form .form-details h5 {
	font-size: 14px;
	margin-bottom: 10px;
}

.form-details input {
	border: 1px solid #bbb;
	width: 100%;
	height: 35px;
	border-radius: 1px;
	padding: 10px;
	margin: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
}

.form-details input:focus:not([readonly]) {
	border-bottom: 1px solid #bbb;
	box-shadow: none;
}

.form-details textarea:focus:not([readonly]) {
	border-bottom: 1px solid #bbb;
	box-shadow: none;
}

.form-details textarea {
	border: 1px solid #bbb;
	width: 100%;
	border-radius: 1px;
}

.form-details textarea {
    padding: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    height: 80px;
}

.form-button {
	text-align: center;
}

.form-details .button-default{
	margin-bottom: 0px;
	text-align: center;
}

/* ------------------------------
  Contact Us
---------------------------------*/
.contact-us {
	margin: 0;
	padding: 0;
}

.contact-us h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.contact-us .button-default {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.alert-success {
	color: green;
	text-align: center;
	padding: 15px;
	border: 1px solid #f0f0f0;
}

/* ------------------------------
  Login
---------------------------------*/
.login {
	margin: 0;
	padding: 0;
}

.login h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.login a h6 {
	color: #666;
	font-weight: 600;
	margin: 0 0 22px 0;
}

.login .button-default {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* ------------------------------
  Register
---------------------------------*/
.register {
	margin: 0;
	padding: 0;
}

.register h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 18px;
}

.register a h6 {
	color: #666;
	font-weight: 600;
	margin: 0 0 22px 0;
}

.register .button-default {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* ------------------------------
  Footer
---------------------------------*/
.footer {
	background: #111111;
	padding: 35px 0;
}

.about-us-foot {
	text-align: center;
	color: #eee;
}

.about-us-foot span {
	color: #f39c12;
}

.about-us-foot h6 {
	color: #ffffff;
	font-weight: 900;
	font-size: 26px;
	letter-spacing: 1px;
}

.social-media {
	text-align: center;
	margin: 30px 0 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #222222;
}

.social-media a {
	margin: 0 3px;
}

.social-media a i {
	text-align: center;
	color: #ffffff;
	border-radius: 50%;
	border: 1px solid #ffffff;
	height: 30px;
	width: 30px;
	margin: auto;
	padding: 6px;
}

.payment {
	text-align: center;
	margin: 20px 0 10px;
}

.payment ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.payment ul li {
	display: inline-block;
}

.payment ul li img {
	margin: 0 3px;
}

.copyright {
	text-align: center;
}

.copyright span {
	color: #eeeeee;
	text-align: center;
}