
.off-canvas {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 20;
  @include transition(all 0.25s);

  &.show {
    left: 0;
    border-right: 1px solid $border-color;
    box-shadow: 5px 5px 20px 0 rgba($gray-900, .06);
  }

  &.off-canvas-right {
    left: auto;
    right: -300px;

    &.show {
      left: auto;
      right: 0;
      border-left: 1px solid $border-color;
      box-shadow: 5px 5px 20px 0 rgba($gray-900, .06);
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 2.5px;
    }
  }
}

.off-canvas-overlay.show {
  border-right-width: 0;
  box-shadow: none;

  ~ .off-canvas-backdrop {
    visibility: visible;
    opacity: 1;
  }
}

.off-canvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($gray-900, .6);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  @include transition(all 0.25s);
}
