
.svg-20 {
  width: 20px;
  height: 20px;
}

.svg-18 {
  width: 18px;
  height: 18px;
}

.svg-16 {
  width: 16px;
  height: 16px;
}

.svg-14 {
  width: 14px;
  height: 14px;
}

.svg-12 {
  width: 12px;
  height: 12px;
}

.svg-10 {
  width: 10px;
  height: 10px;
}

.fill-teal { fill: rgba($teal, .15); }
.fill-pink { fill: rgba($pink, .15); }

.stroke-base  { stroke-width: 2px; }
.stroke-25    { stroke-width: 2.5px; }
.stroke-30    { stroke-width: 3px; }
