@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);


.header-decoration{
	background-image:url(../images/misc/top-strip.png);
	background-repeat:repeat-x;
	height:5px;
}


.header img{
	padding-top:20px;
}

.social-icons{
	float:right;
	margin-top:-40px;
}

.social-icons a{
	float:left;
	padding-left:10px;
}

.footer{
	padding-top:20px;
	background-image:url(../images/misc/body-footer-bg.png);
	background-repeat:repeat;
}

.footer-text{
	color:#FFFFFF;
}

.copyright-text{
	font-size:10px;
	color:#999;
	margin-bottom:70px;
}


/*Navigation Submenus*/

.navigation{
	background-image:url(../images/misc/nav-strip.png);
	background-repeat:repeat;
	width:100%;
	height:52px;
	position:fixed;
	bottom:0px;	
	z-index:99999;
}

.nav-item:hover{background-color:rgba(255,255,255,0.3);}
.nav-item-4:hover{background-color:rgba(255,255,255,0.3);}
.nav-item-3:hover{background-color:rgba(255,255,255,0.3);}
.submenu-icon-3:hover{background-color:rgba(255,255,255,0.3);}
.submenu-icon-4:hover{background-color:rgba(255,255,255,0.3);}
.submenu-icon-5:hover{background-color:rgba(255,255,255,0.3);}

.nav-item{
	width:20%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 6px;
	background-repeat:no-repeat;
	background-size:24px 24px;
	height:52px;
	padding-top:30px;
	opacity:0.6;
}

.nav-item-4{
	width:25%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 6px;
	background-repeat:no-repeat;
	background-size:24px 24px;
	height:52px;
	padding-top:30px;
	opacity:0.6;
}

.nav-item-3{
	width:33.3%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 6px;
	background-repeat:no-repeat;
	background-size:24px 24px;
	height:52px;
	padding-top:30px;
	opacity:0.6;	
}

.active-nav{	background-color:rgba(255,255,255,0.3); color:#FFFFFF; opacity:1!important;}
.home-nav{		background-image:url(../images/icon/misc/home.png);}
.about-nav{		background-image:url(../images/icon/settings/cog2.png);}
.gallery-nav{	background-image:url(../images/icon/media/image2.png);}
.blog-nav{		background-image:url(../images/icon/tools/pencil.png);}
.mail-nav{		background-image:url(../images/icon/misc/mail.png);}

.menu-one{display:none;}
.menu-two{display:none;}
.menu-three{display:none;}
.menu-four{display:none;}
.menu-five{display:none;}


.submenu-box{
	background-color:#000000;
	background-image:url(../images/misc/nav-strip.png);
	width:100%;
	position:fixed;
	bottom:0px;
	z-index:999999;
}


.submenu-icon-5{
	width:20%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 6px;
	background-repeat:no-repeat;
	background-size:20px 22px;
	height:52px;
	padding-top:30px;
	opacity:0.5;
}

.submenu-icon-4{
	width:25%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 9px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:52px;
	padding-top:32px;
	opacity:0.5;
}

.submenu-icon-3{
	width:33.3%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 9px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:52px;
	padding-top:32px;
	opacity:0.5;
}

.submenu-icon-2{
	width:50%;
	float:left;
	text-align:center;
	font-family:'Open Sans', sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#FFFFFF;
	background-position:center 9px;
	background-repeat:no-repeat;
	background-size:20px 22px;
	height:52px;
	padding-top:32px;
	opacity:0.5;
}

.closer-submenu{background-image:url(../images/icon/misc/accessdenied.png);}
.others-submenu{background-image:url(../images/icon/misc/paperclip.png);}
.jquery-submenu{background-image:url(../images/icon/power/power.png);}
.typogr-submenu{background-image:url(../images/icon/misc/creatwrite.png);}
.introd-submenu{background-image:url(../images/icon/misc/infoabout.png);}

.filtrable-submenu{background-image:url(../images/icon/display/frames.png);}
.swipeable-submenu{background-image:url(../images/icon/display/blockimages.png);}
.onecolumn-submenu{background-image:url(../images/icon/media/image2.png);}
.twocolumn-submenu{background-image:url(../images/icon/media/image3.png);}

.call-submenu{background-image:url(../images/icon/communication/phonehook.png);}
.mail-submenu{background-image:url(../images/icon/misc/mail.png);}
.face-submenu{background-image:url(../images/icon/social/facebook.png);}
.twet-submenu{background-image:url(../images/icon/social/twitter.png);}

.post-submenu{background-image:url(../images/icon/misc/creatwrite.png);}
.blog-submenu{background-image:url(../images/icon/misc/creatwrite.png);}








