/*Background Color*/
#back-to-top,
.button,
.play-button .icofont,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.featured-price.single-pricing{
	background:#fc0958;
}
.sell-badge,
.alt-bg,
.header-section,
.preview-video,
.author-quote,
.single-pricing{
	background:#fcebf1;
}
.play-button .pb-border-1{
	background:rgba(252,9,88,0.2);
}
.play-button .pb-border-2{
	background:rgba(252,9,88,0.5);
}
.navbar-default,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	background: transparent;
}

/*Text Color*/
.button.alt,
.section-head h3 span,
.preview-texts h3 span,
.topic-list li .icofont,
.single-features .icofont,
.author-texts h4 span,
.social-icons li a:hover,
.contact-form-side h3 span,
.copyright-text a,
.footer-links li a:hover,
.client-bio ul li .icofont,
.single-pricing h4,
.single-pricing h4 small,
.single-pricing h5 .icofont,
.sell-badge,
.header-texts h1 span,
.header-note .icofont,
.navbar-default .navbar-nav > li > a.line-button,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover{
	color:#fc0958;
}
.single-pricing .icon-left,
.single-pricing .icon-right{
	color:rgba(252,9,88,0.3);
}

/*Form Validation Color*/
.contact-form .success {
	color: #fc0958;
}
.contact-form .error {
	color: #ff0000;
}

/*Border Color*/
.top-bar{
	border-color:#f2fff2;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li > a.line-button {
	border-color: #fc0958;
}
