@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?17368638');
  src: url('../font/fontello.eot?17368638#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?17368638') format('woff'),
       url('../font/fontello.ttf?17368638') format('truetype'),
       url('../font/fontello.svg?17368638#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17368638#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e83a'; } /* '' */
.icon-hourglass:before { content: '\e839'; } /* '' */
.icon-down-dir:before { content: '\e838'; } /* '' */
.icon-cloud:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e836'; } /* '' */
.icon-edit:before { content: '\e82e'; } /* '' */
.icon-pencil-1:before { content: '\e827'; } /* '' */
.icon-pencil-2:before { content: '\e828'; } /* '' */
.icon-pencil-3:before { content: '\e829'; } /* '' */
.icon-pencil-alt:before { content: '\e826'; } /* '' */
.icon-ok:before { content: '\e82b'; } /* '' */
.icon-cancel:before { content: '\e834'; } /* '' */
.icon-attention-circled:before { content: '\e837'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-desktop:before { content: '\e809'; } /* '' */
.icon-beaker:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e824'; } /* '' */
.icon-tag:before { content: '\e823'; } /* '' */
.icon-calendar:before { content: '\e819'; } /* '' */
.icon-basket:before { content: '\e832'; } /* '' */
.icon-pencil-4:before { content: '\e82a'; } /* '' */
.icon-eye-2:before { content: '\e820'; } /* '' */
.icon-pin:before { content: '\e81b'; } /* '' */
.icon-info-circled:before { content: '\e835'; } /* '' */
.icon-eye-1:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-resize-full:before { content: '\e813'; } /* '' */
.icon-left-open-mini:before { content: '\e814'; } /* '' */
.icon-right-open-mini:before { content: '\e815'; } /* '' */
.icon-up-open-mini:before { content: '\e82c'; } /* '' */
.icon-fire-station:before { content: '\e822'; } /* '' */
.icon-warehouse:before { content: '\e821'; } /* '' */
.icon-user-male:before { content: '\e80a'; } /* '' */
.icon-beaker-1:before { content: '\e80e'; } /* '' */
.icon-gauge:before { content: '\e81c'; } /* '' */
.icon-coffee:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e833'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-quote-right-1:before { content: '\e80d'; } /* '' */
.icon-smile:before { content: '\e81d'; } /* '' */
.icon-calendar-empty:before { content: '\e830'; } /* '' */
.icon-rocket:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e831'; } /* '' */
.icon-twitter-bird:before { content: '\e801'; } /* '' */
.icon-twitter-squared:before { content: '\e83d'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-facebook-squared:before { content: '\e83b'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-picasa:before { content: '\e804'; } /* '' */
.icon-instagram-filled:before { content: '\e805'; } /* '' */
.icon-glass:before { content: '\e82d'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-briefcase-1:before { content: '\e81f'; } /* '' */
.icon-briefcase:before { content: '\e80f'; } /* '' */
.icon-calendar-1:before { content: '\e82f'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-bell:before { content: '\e81e'; } /* '' */
.icon-link:before { content: '\e825'; } /* '' */