@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #ff9800; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
/*.footer-container{
 margin-top: 40px;
 }*/
.typefooter-2 h3.modtitle {
  font-weight: 700;
  color: #222; }
  .typefooter-2 .footer-top {
    margin-top: 22px; }
  .typefooter-2 .footer-top .contnet-footer-top {
    padding: 30px;
    background: #2677e7;
    display: block;
    overflow: hidden;
    margin: 0 15px;
    border-radius: 3px; }
  .typefooter-2 .footer-top .contnet-footer-top h3.title-footer-top {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    margin-left: 30px;
    float: right;
    line-height: 40px; }
  .typefooter-2 .footer-top .contnet-footer-top ul.socials {
    margin: 0;
    padding: 0; }
  .typefooter-2 .footer-top .contnet-footer-top ul.socials li {
    display: inline-block;
    float: right; }
    .typefooter-2 .footer-top .contnet-footer-top ul.socials li a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      margin-left: 10px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff; }
      .typefooter-2 .footer-top .contnet-footer-top ul.socials li a:hover {
        background: #fff; }
  .typefooter-2 .footer-top .contnet-footer-top .block_content {
    display: inline-block;
    float: left;
    width: 65%; }
  .typefooter-2 .footer-top .contnet-footer-top .block_content .form-group {
    width: 100%; }
  .typefooter-2 .footer-top .contnet-footer-top .block_content #signup {
    margin: 0; }
  .typefooter-2 .footer-top .contnet-footer-top .block_content input {
    border: none;
    width: 80%;
    float: left;
    box-shadow: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px; }
  .typefooter-2 .footer-top .contnet-footer-top .block_content .subcribe {
    display: inline-block;
    float: left; }
    .typefooter-2 .footer-top .contnet-footer-top .block_content .subcribe button {
      border: none;
      background: #222;
      text-transform: uppercase;
      height: 40px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
  .typefooter-2 .footer-middle {
    padding-top: 41px; }
  .typefooter-2 .footer-middle ul li {
    font-size: 14px;
    padding: 8px 0; }
  .typefooter-2 .footer-middle .infos-footer .adres:after {
    content: "\f015"; }
  .typefooter-2 .footer-middle .infos-footer .mail:after {
    content: "\f0e0"; }
  .typefooter-2 .footer-middle .infos-footer .phone:after {
    content: "\f095"; }
  .typefooter-2 .footer-middle .infos-footer .time:after {
    content: "\f017"; }
  .typefooter-2 .footer-middle .infos-footer ul li {
    padding: 14px 25px 14px 10px;
    position: relative; }
  .typefooter-2 .footer-middle .infos-footer ul li:after {
    content: "";
    font-family: "FontAweSome";
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 18px; }
  .typefooter-2 .footer-middle .box-information ul li a, .typefooter-2 .footer-middle .box-service ul li a {
    padding-right: 15px;
    position: relative; }
  .typefooter-2 .footer-middle .box-information ul li a:after, .typefooter-2 .footer-middle .box-service ul li a:after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #666;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  .typefooter-2 .footer-middle .so-popular-tag .box-content a {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    background: #f5f5f5;
    border-radius: 3px; }
    .typefooter-2 .footer-middle .so-popular-tag .box-content a:hover {
      color: #fff; }
  .typefooter-2 .footer-bottom {
    margin-top: 10px; }
  .typefooter-2 .footer-bottom .content-footer-bottom {
    padding: 30px 0;
    border-top: 1px solid #eee;
    display: block;
    overflow: hidden; }
  .typefooter-2 .footer-bottom .content-footer-bottom .copyright {
    float: left; }

@media (min-width: 1200px) and (max-width: 1649px) {
  .typefooter-4 .newsletter-footer1 {
    padding: 15px 5% 10px 5%; }

  .typefooter-4 .so-page-builder .container {
    padding: 0 15px; } }
